.card-widget {
  display: block;

  &__head {
    display: flex;
  }

  &__heading {
    padding-right: 10px;
    @include heading-5-bold;
    flex: 1 1 auto;
  }

  &__link {
    .link__text {
      font-size: 15px;
      line-height: (22/15);
    }
  }

  &__body {
    margin-top: 19px;
  }
}
