mixin delivery-service()
  +b.delivery-service&attributes(attributes)
    block

mixin delivery-service-grid
  +e.grid&attributes(attributes)
    block

mixin delivery-service-col
  +e.col&attributes(attributes)
    block

mixin delivery-service-text
  +e.SPAN.text&attributes(attributes)
    block

mixin delivery-services()
  +b.delivery-services&attributes(attributes)
    block
