mixin header(loggedIn)
  +b.HEADER.header&attributes(attributes)
    .container.header__container
      +e.col._burger
        +burger-button
      +e.col._logo
        +logo.__logo
      +e.col._shopmenu
        +shopmenu('Наши магазины:').__shopmenu
          +shoplink('Москва', 5)
            +shopmenu-msk-dropdown
          +shoplink('Санкт-Петербург', 1)
            +shopmenu-spb-dropdown
      +e.col._getintouch
        +getintouch
      +e.col._usermenu
        +usermenu
          if loggedIn
            +userlink('Login Register button')(href="cabinet.html")._user Мой кабинет
          else
            +userlink('Login Register button')(href="login.html" data-popup='#login-popup')._user.js-fancybox Войти
          +userlink('Cart button', loggedIn ? 12 : 3)._cart Корзина
