.header {
  display: block;
  background-color: white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  &__col {
    &_burger {
      display: none;
    }

    &_shopmenu {
      margin-left: -2px;
      margin-top: 3px;
      align-self: baseline;
    }
  }

  &__logo {
    margin-top: -2px;
    margin-left: -1px;
  }
}
