mixin header()
  +b.HEADER.header&attributes(attributes)
    .container.header__container
      +e.col._burger
        +burger-button
      +e.col
        +logo
      +e.col._shopmenu
        +shopmenu('Наши магазины:')
          +shoplink('Москва', 5)
            +shopmenu-msk-dropdown
          +shoplink('Санкт-Петербург', 1)
            +shopmenu-spb-dropdown
      +e.col
        +getintouch
      +e.col
        +usermenu
          +userlink('Login Register button')._user Войти
          +userlink('Cart button', 3)._cart Корзина
