extends ../../layouts/default-compareEmpty

block head
  - var pageTitle = 'Proswim - Сравнение (0)'
  
block navbar
  +navbar

block content
  +b.page._opb0
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Сравнение'])
      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading Сравнение (0)
      +no-page2
    +products-section(getData('small-product-cards'), 'Популярные товары', true)._small.hide-md
block popups
