mixin review-form()
  +b.FORM(method='post' action='/' data-parsley-validate).review-form&attributes(attributes)
    +grid
      +col(12)
        +inputbox('Оцените товар *')
          +rating-interactive(5, null, true)._big

      +col(12)
        +inputbox('Рекомендуете товар? *')
          +radio('recommend', true, true) Да
          +radio('recommend', false, false) Нет

      +col({ xl: 6, sm: 12 })
        +inputbox('Имя *')
          +input(name="name" type="text" placeholder="Имя" required)._size_md
      +col({ xl: 6, sm: 12 })
        +inputbox('Email *')
          +input(name="email" type="email" placeholder="Email" required)._size_md

      +col(12)
        +inputbox('Достоинства *')
          +input(name="advantages" type="text" placeholder="Опишите достоинства товара" required)._size_md

      +col(12)
        +inputbox('Недостатки *')
          +input(name="advantages" type="text" placeholder="Опишите недостатки товара" required)._size_md

      +col(12)
        +inputbox('Отзыв')
          +textarea(placeholder='Напишите ваш отзыв')

      +col(12)
        +e.captcha
          +captcha

      +col(12)
        +e.inner
          +button.BUTTON(type="submit")._size_big._block Оставить отзыв

      +col(12)
        +e.inner._checkbox
          +checkbox('personal-data', true, false, true) Отправляя отзыв, вы даете согласие на обработку персональных данных

mixin review-form-section
  +section.review-form-section
    +section-content

      .review-form-section__short
        p.review-form-section__text Поделитесь своим отзывом об этом товаре, и многие будут вам благодарны.
        +button(type="button").review-form-section__button.js-review-form-section-button Оставить отзыв

      .review-form-section__full
        h3.review-form-section__heading Оставить отзыв
        p.review-form-section__text Ваш отзыв поможет кому-то сделать выбор

        +review-form.review-form-section__form
