.review-form {
  display: block;

  .grid:first-of-type { margin-top: 0; }

  .rating {
    margin-top: 3px;
  }

  .inputbox__label { margin-top: -.3em; }


  &__captcha {
    margin-top: -7px;
    margin-bottom: 7px;
  }

  &__inner {
    width: 302px;

    @include screen(lg) {
      width: 100%;
    }

    &_checkbox {
      @include screen(lg) {
        margin-top: -4px;
      }
    }
  }

  &__button {
    width: 100%;
  }
}

.review-form-section {

  &.section {
    padding-top: 25px;
    padding-bottom: 40px;

    @include screen(lg) {
      padding-top: 23px;
      padding-bottom: 7px;
    }

    @include screen(sm) {
      padding-top: 14px;
    }
  }

  &__short {

  }

  &__full {
    display: none;

    @include screen(lg) {
      padding-bottom: 17px;
    }

    @include screen(sm) {
      padding-bottom: 0;
    }
  }

  &__button {
    margin-top: 24px;
    min-width: 182px;

    @include screen(lg) {
      width: 100%;
    }

    @include screen(lg) {
      margin-top: 14px;
    }
  }

  &__heading {
    @include heading-3-bold;
    display: block;
    margin-top: -4px;
    margin-bottom: 6px;
  }

  &__text {
    color: $darkengrey-color;
    font-size: 15px;
    line-height: (22/15);
    letter-spacing: 0.01em;
  }

  &__form {
    margin-top: 10px;
    width: 580px;

    @include screen(lg) {
      width: 100%;
    }
  }
}
