extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - article'

block navbar
  +navbar

block content
  +b.page._pb0
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Статьи', 'Экслюзивно для Proswim.ru: 4 способа сделать свои тренировки интересными'])

    .container.container_article
      +b.SECTION.article
        +e.HEADER.head
          +e.H1.heading Экслюзивно для Proswim.ru: 4&nbsp;способа сделать свои тренировки интересными
          +e.info
            +e.infocol._flexible
              +e.SPAN.infotext 17 декабря 2017
            +e.infocol
              +icon('views_icon_44').infoicon._views
              +e.SPAN.infotext 1355
            +e.infocol
              +icon('comments_icon_44').infoicon._comments
              +e.SPAN.infotext 3

        +content-zone
          img(src="content-img/article-page/images-duckduckgo-com.jpg", alt="@@")
          h4 Ласты используются как для плавания с&nbsp;аквалангом и&nbsp;маской, так и&nbsp;для тренировки в&nbsp;бассейне. Они помогают не&nbsp;только плыть быстрее, но&nbsp;и&nbsp;улучшить положение тела в&nbsp;воде, увеличить силу ног и&nbsp;гибкость суставов. Как тренироваться в&nbsp;ластах, разбираемся в&nbsp;нашей статье.

          p
            img(src="content-img/article-page/floating-img.jpg", alt="@@")
            | Антон Зоркин, редактор отдела Adventure журнала Men&rsquo;s Health Russia, пять месяцев назад начал заниматься плаванием, чтобы в&nbsp;финале достичь цели, которую поставила ему редакция&nbsp;&mdash; пересечь вплавь сибирскую реку Енисей. Антон три-четыре раза в&nbsp;неделю ходит в&nbsp;бассейн, любит бренды: Gorilla King Swim Cap. В&nbsp;прошлый раз специально для Proswim Антон описал нюансы, с&nbsp;которыми всегда сталкивается пловец-новичок, оказавшись наоткрытой воде. В&nbsp;этой заметке он&nbsp;рассказывает о&nbsp;вещах, которые помогают ему тренироваться и&nbsp;делать это так, чтобы занятия в&nbsp;воде не&nbsp;стали унылой рутиной.

          h2 Техника плавания в&nbsp;ластах&nbsp;&mdash; с&nbsp;чего начать?
          p Пожалуй, визитная карточка Zoggs&nbsp;&mdash; это плавательные очки, большинство из&nbsp;которых идеально подходят для триатлона и&nbsp;занятий на&nbsp;открытой воде. Одной из&nbsp;самых известных и&nbsp;популярных серий в&nbsp;этом ряду по&nbsp;праву можно назвать Predator Flex, пришедшую на&nbsp;смену классическим &bdquo;предаторам&bdquo;. И&nbsp;приставка &ldquo;flex&bdquo; (от&nbsp;английского слова &bdquo;гибкий&ldquo;) здесь отнюдь не&nbsp;случайна. Все &ldquo;предаторы&bdquo; имеют именно гибкую, довольно подвижную оправу&nbsp;&mdash; благодаря технологии 4&nbsp;Flexpoint, которая позволяет переносице буквально гнуться во&nbsp;все стороны&nbsp;&mdash; в&nbsp;меньшей степени это касается и&nbsp;области соединения очков с&nbsp;ремешком. Последний, кстати, довольно просто регулируется и&nbsp;имеет раздвоенную конструкцию, за&nbsp;счет чего эти очки не&nbsp;так сильно давят на&nbsp;глаза и&nbsp;вообще сидят на&nbsp;голове комфортно. Уплотнитель у&nbsp;моделей из&nbsp;этой серии изготовлен из&nbsp;мягкого силикона&nbsp;&mdash; так что никаких ощущений из&nbsp;разряда &ldquo;глаза вот-вот вылезут из&nbsp;орбит&quot; с&nbsp;ними не&nbsp;наблюдается.

          +content-slider(['images-duckduckgo-com'], 'ласты', 'Finis Zoomers Gold')

          p Пожалуй, визитная карточка #[a(href="javascript:void(0)") Zoggs]&nbsp;&mdash; это плавательные очки, большинство из&nbsp;которых идеально подходят для триатлона и&nbsp;занятий на&nbsp;открытой воде. Одной из&nbsp;самых известных и&nbsp;популярных серий в&nbsp;этом ряду по&nbsp;праву можно назвать Predator Flex, пришедшую на&nbsp;смену классическим &bdquo;предаторам&bdquo;. И&nbsp;приставка &ldquo;flex&bdquo; (от&nbsp;английского слова &bdquo;гибкий&ldquo;) здесь отнюдь не&nbsp;случайна. Все &ldquo;предаторы&bdquo; имеют именно гибкую, довольно подвижную оправу&nbsp;&mdash; благодаря технологии 4&nbsp;Flexpoint, которая позволяет переносице буквально гнуться во&nbsp;все стороны&nbsp;&mdash; в&nbsp;меньшей степени это касается и&nbsp;области соединения очков с&nbsp;ремешком. Последний, кстати, довольно просто регулируется и&nbsp;имеет раздвоенную конструкцию, за&nbsp;счет чего эти очки не&nbsp;так сильно давят на&nbsp;глаза и&nbsp;вообще сидят на&nbsp;голове комфортно. Уплотнитель у&nbsp;моделей из&nbsp;этой серии изготовлен из&nbsp;мягкого силикона&nbsp;&mdash; так что никаких ощущений из&nbsp;разряда &ldquo;глаза вот-вот вылезут из&nbsp;орбит&quot; с&nbsp;ними не&nbsp;наблюдается.

          blockquote
            p
              b Я&nbsp;занимаюсь около пяти месяцев. По&nbsp;три-четыре раза в&nbsp;неделю заявляюсь в&nbsp;бассейн, где совершаю одинаковый ритуал: натягиваю свою зубастую шапочку Gorilla King Swim Cap, надеваю очки и&nbsp;спускаюсь в&nbsp;воду. Пробираюсь через череду задумчивых пенсионерок к&nbsp;третьей дорожке под вывеской &quot;спортивное плавание&quot;
            p
              b и&nbsp;там провожу следующий час. Я&nbsp;задумался&nbsp;&mdash; как&nbsp;же мне разнообразить свои тренировки, чтобы не&nbsp;зацикливаться на&nbsp;спортивных результатах. И&nbsp;нашел четыре вещи, которые помогли сделать мои походы в&nbsp;бассейн куда более разнообразными.

          p Пожалуй, визитная карточка #[a(href="javascript:void(0)") Zoggs]&nbsp;&mdash; это плавательные очки, большинство из&nbsp;которых идеально подходят для триатлона и&nbsp;занятий на&nbsp;открытой воде. Одной из&nbsp;самых известных и&nbsp;популярных серий в&nbsp;этом ряду по&nbsp;праву можно назвать Predator Flex, пришедшую на&nbsp;смену классическим &ldquo;предаторам&bdquo;. И&nbsp;приставка &bdquo;flex&ldquo; (от&nbsp;английского слова &ldquo;гибкий&quot;) здесь отнюдь не&nbsp;случайна.

          +content-slider(['images-duckduckgo-com', '2401', '2401', '2401'], 'шапочка', 'Finis Zoomers Gold')

          p Для того, чтобы упаковать все свои купальники, шапочки и&nbsp;прочие аксессуары, #[a(href="javascript:void(0)") Zoggs] предлагает рюкзаки и&nbsp;сумки своего производства&nbsp;&mdash; вместительный портфель #[a(href="javascript:void(0)") Pool Side], наплечную сумку #[a(href="javascript:void(0)") Aqua Duffle] и&nbsp;специально для триатлонистов&nbsp;&mdash; #[a(href="javascript:void(0)") Triathlon Bag] (с&nbsp;отдельными отсеками для сухой и&nbsp;мокрой экипировки и&nbsp;карманом для велошлема). Так что, как видите, у&nbsp;Zoggs есть все для эффективной тренировки. Осталось только выбрать свой набор пловца, собраться, и&nbsp;вперед&nbsp;&mdash; на&nbsp;покорение новых дистанций! И&nbsp;под крышей бассейна, и&nbsp;под открытым небом.

          p
            small Копирование, распространение и перепечатка информации, доступной на нашем сайте, запрещено. Игнорирование данного пункта является нарушением законодательства об авторском праве. При появлении наших материалов на других сайтах мы будем вынуждены обратиться в суд. Авторские права защищены.

      +share
      +comments-section
      +comment-form

    +products-section(getData('small-product-cards'), 'Сопутствующие товары:', true)._small._hidecontrols

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
  +preview-popup
  +opt-status-popup
  +phonecall-status-popup
  +phonecall-status2-popup
  +subscribe-status-popup
  +subscribe-status2-popup
  +order-status-popup
  +callback-popup 
  +discount-popup
  +item-added-popup
