mixin searchresult()
  +b.searchresult&attributes(attributes)
    +e.UL.list
      +e.LI.item
        +result-link('assets/images/search-1.jpg', '13&nbsp;792 руб.')(href="product.html") Сумка спортивная Arena Spilky 2 Small
      +e.LI.item
        +result-link('assets/images/search-2.jpg', '13&nbsp;792 руб.')(href="product.html") Сумка спортивная Speedo Duffel Bag SS18
      +e.LI.item
        +result-link('assets/images/search-1.jpg', '13&nbsp;792 руб.')(href="product.html") Сумка спортивная Arena Spilky 2 Small
      +e.LI.item
        +result-link('assets/images/search-2.jpg', '13&nbsp;792 руб.')(href="product.html") Сумка спортивная Speedo Duffel Bag SS18
    +e.buttons
      +button._size_sm._block Все результаты
