.searchresult {
  display: block;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid $semigreyblue-color;
  border-top: 2px solid $color-main;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 16px 20px rgba(91, 95, 99, 0.46);

  &__buttons {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 16px 24px;
  }

  &__list {
    margin-top: 6px;
    width: 100%;
  }

  &__item {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid $semigreyblue-color;
  }
}
