.shoplink {
  display: block;
  position: relative;
  cursor: pointer;

  .shopmenu & {
    padding: 0 8px;
  }

  &__heading {
    position: relative;
    display: inline-block;
    padding-right: 12px;
    @include text-small;
    white-space: nowrap;
    transition: color $ease-main;

    .shoplink:hover &,
    &.is-active {
      color: $color-main;
    }
  }

  &__caret {
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 6px;
    fill: $color-basic;
    margin-top: -1px;
    transition: fill $ease-main,
                transform $ease-main;

    .shoplink:hover & {
      fill: $color-main;
    }

    .shoplink__heading.is-active & {
      fill: $color-main;
      transform: rotate(180deg);
    }
  }

  &__dropdown {
    min-width: 288px;
    box-shadow: 0 16px 20px rgba(91, 95, 99, .46);
    border-radius: 0 0 2px 2px;
    border: 1px solid $color-border;
    padding: 0;
    margin-left: -7px;
    margin-top: 16px;

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 19px;
      width: 22px;
      height: 22px;
      background-color: inherit;
      border: inherit;
      transform: rotate(45deg) translateY(-50%);
      z-index: 1;
    }
  }

  &__list {
    position: relative;
    z-index: 1;
    padding: 11px 0;
    background-color: white;
  }

  &__item {
    @include text-small;
    line-height: (21/13);

    &heading {

      .shoplink__body & {
        font-weight: 500;
      }
    }
  }

  &__head {
    line-height: 29px;
    padding: 0 17px;
    transition: background-color $ease-main;
    cursor: pointer;

    .shoplink__item:hover & {
      background-color: $greyblue2-color;
    }
  }

  &__body {
    display: none;
    padding: 10px 15px;

    .shoplink__item:not(:last-child) & {
      border-bottom: 1px solid $color-border;
    }

    .shoplink__item:hover & {
      display: block;
    }
  }

  &__linkicon {
    width: 14px;
    height: 11px;
    fill: red;
    margin-right: 2px;
  }

  &__description {
    color: $darkengrey-color;
  }
}

.shopmenu {
  display: block;
  position: relative;
  padding-left: 19px;
  padding-top: 3px;

  &__heading {
    display: block;
    @include text-medium;
    line-height: 1;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 18px;
    fill: $color-basic;
  }

  &__links {
    display: flex;
    margin: 8px -8px 0;
  }
}
