.shoplink {
  display: block;
  position: relative;
  cursor: pointer;
  transition: color $ease-main;

  &:hover {
    color: $color-main;
  }

  .shopmenu & {
    padding-left: 20px;
  }

  &__heading {
    position: relative;
    display: inline-block;
    @include text-small;
  }

  &__caret {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 6px;
    fill: $color-basic;
    margin-left: 4px;
    transition: fill $ease-main;

    .shopmenu:hover & {
      fill: $color-main;
    }
  }
}

.shopmenu {
  display: block;

  &__heading {
    position: relative;
    display: inline-block;
  }

  &__icon {
    width: 12px;
    height: 18px;
    fill: $color-basic;
    margin-right: 8px;
  }

  &__text {
    @include heading-6;
  }

  &__links {
    display: flex;
    margin-top: 12px;
  }
}
