mixin shopmenus(heading)
  +b.shopmenus&attributes(attributes)
    if heading
      +e.P.heading
        +icon('Location icon').icon
        +e.SPAN.text=heading
    +e.links
      block

mixin shopmenu(heading, count)
  +b.shopmenu&attributes(attributes).js-dropdown-toggle
    +e.DIV.heading
      +e.SPAN.headingtext Санкт-Петербург #[span (#{count})]
      +icon('Arrow location').__caret
    +dropdown.shopmenu__dropdown
      block

mixin shopmenu-msk-dropdown
  +e.UL.list
    +e.LI.item
      +e.head
        +icon('m').linkicon
        +e.SPAN.itemheading Пр-т Мира
      +e.body
        +e.SPAN.itemheading Ул. Вавилова, д.3, ТЦ “Гагаринский”
        +e.P.description
          | Ул. Вавилова, д.3, ТЦ “Гагаринский”
          | 1 минута пешком от метро, 2-й этаж,
          br
          | с 9.00 до 20.00
          br
          | Телефон магазина: 8 (495) 730-30-62

    +e.LI.item
      +e.head
        +icon('m').linkicon
        +e.SPAN.itemheading Каширская
      +e.body
        +e.SPAN.itemheading Ул. Вавилова, д.3, ТЦ “Гагаринский”
        +e.P.description
          | Ул. Вавилова, д.3, ТЦ “Гагаринский”
          | 1 минута пешком от метро, 2-й этаж,
          br
          | с 9.00 до 20.00
          br
          | Телефон магазина: 8 (495) 730-30-62

    +e.LI.item
      +e.head
        +icon('m').linkicon
        +e.SPAN.itemheading Ленинский пр-т
      +e.body
        +e.SPAN.itemheading Ул. Вавилова, д.3, ТЦ “Гагаринский”
        +e.P.description
          | Ул. Вавилова, д.3, ТЦ “Гагаринский”
          | 1 минута пешком от метро, 2-й этаж,
          br
          | с 9.00 до 20.00
          br
          | Телефон магазина: 8 (495) 730-30-62

    +e.LI.item
      +e.head
        +icon('m').linkicon
        +e.SPAN.itemheading Парк Культуры
      +e.body
        +e.SPAN.itemheading Ул. Вавилова, д.3, ТЦ “Гагаринский”
        +e.P.description
          | Ул. Вавилова, д.3, ТЦ “Гагаринский”
          | 1 минута пешком от метро, 2-й этаж,
          br
          | с 9.00 до 20.00
          br
          | Телефон магазина: 8 (495) 730-30-62

mixin shopmenu-spb-dropdown
  +e.UL.list
    +e.LI.item
      +e.head
        +icon('m').linkicon
        +e.SPAN.itemheading Ул. Ефимова, д.2, ТЦ “ПИК”
      +e.body
        +e.SPAN.itemheading Ул. Вавилова, д.3, ТЦ “Гагаринский”
        +e.P.description
          | 1 минута пешком от метро, 3-й этаж,
          br
          | с 10.00 до 20.00
          br
          | Телефон магазина: 8 (812) 449-24-71
