.shoplink {
  display: block;
  position: relative;
  cursor: pointer;
  transition: color $ease-main;

  &:hover {
    color: $color-main;
  }

  .shopmenu & {
    padding: 0 8px;
  }

  &__heading {
    position: relative;
    display: inline-block;
    padding-right: 12px;
    @include text-small;
    white-space: nowrap;
  }

  &__caret {
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 6px;
    fill: $color-basic;
    transition: fill $ease-main;
    margin-top: -1px;

    .shoplink:hover & {
      fill: $color-main;
    }
  }
}

.shopmenu {
  display: block;
  position: relative;
  padding-left: 19px;
  padding-top: 3px;

  &__heading {
    display: block;
    @include text-medium;
    line-height: 1;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 18px;
    fill: $color-basic;
  }

  &__links {
    display: flex;
    margin: 8px -8px 0;
  }
}
