mixin features-about()
  +b.features-about(attributes)
    +e.col
      +feature-about()
        +e.P.heading Сервис
        +e.P.text Наши специалисты сопровождают Вас от начала и&nbspдо конца покупки, от процесса выбора товара до момента его доставки по нужному адресу.
    +e.col
      +feature-about()
        +e.P.heading Подлинность товаров
        +e.P.text Все товары в магазинах Proswim – на 100% оригинальная продукция от лучших мировых брендов.
    +e.col
      +feature-about()
        +e.P.heading Возврат и обмен
        +e.P.text Расширенная гарантия по возврату и обмену товара – 90 дней.
    +e.col
      +feature-about()
        +e.P.heading Ассортимент
        +e.P.text Каталог из 7000 позиций от 65 брендов позволяет найти именно то, что нужно Вам.
    +e.col
      +feature-about()
        +e.P.heading Система лояльности
        +e.P.text Мы хотим, чтобы покупки приносили Вам удовольствие, поэтому проводим акции, дарим подарки, скидки и предлагаем выгодные условия покупки.
