extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block navbar
  +navbar

block content
  +b.sitemap
    .container
      +e.list
        h3 Страницы
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Главная (index.html)
        +link(href="catalog.html") Каталог (catalog.html)
        +link(href="product.html") Очки для плавания Cobra Mirror (product.html)
        +link(href="cart.html") Товары в корзине (cart.html)
        +link(href="cart-delivery.html") Доставка и оплата (cart-delivery.html)
        +link(href="order-confirmed.html") Заказ успешно оформлен (order-confirmed.html)
        +link(href="account.html") Мой кабинет - Мои данные (account.html)
        +link(href="account-orders.html") Мой кабинет - Мои заказы (account-orders.html)
        +link(href="account-order.html") Мой кабинет - Заказ #224455 (account-order.html)
        +link(href="account-help.html") Мой кабинет - Помощь (account-help.html)
        +link(href="news.html") Новости (news.html)
        +link(href="categories.html") Категории - Для тренировок (categories.html)
        +link(href="categories2.html") Категории - Для соревнований (categories2.html)
        +link(href="categories3.html") Категории - Для открытой воды (categories3.html)
        +link(href="exchange.html") Обмен-возврат (exchange.html)
        +link(href="payment.html") Оплата (payment.html)
        +link(href="reviews.html") Все отзывы о товарах (reviews.html)
        +link(href="article.html") Статья (Экслюзивно для Proswim.ru: 4 способа сделать свои тренировки интересными) (article.html)
        +link(href="404.html") 404 (404.html)
        +link(href="manual.html") Как сделать заказ (manual.html)
        +link(href="wholesalers.html") Оптовым покупателям (wholesalers.html)
        +link(href="legal-information.html") Юридическая информация (legal-information.html)
        +link(href="delivery.html") Доставка (delivery.html)
        +link(href="delivery2.html") Доставка2 (delivery2.html)
        +link(href="comparison.html") Сравнение (comparison.html)
        +link(href="comparison-empty.html") Сравнение нет элементов (comparison-empty.html)
        
        h3 Попапы
        +link(href="login.html" data-popup="#login-popup").js-fancybox Войти в аккаунт (login.html)
        +link(href="registration.html" data-popup="#registration-popup").js-fancybox Регистрация (registration.html)
        +link(href="password-recovery.html" data-popup="#password-recovery-popup").js-fancybox Восстановить пароль (password-recovery.html)
        +link(href="registration-complete.html" data-popup="#registration-complete-popup").js-fancybox Поздравляем! (registration-complete.html)
        +link(href="product.html" data-popup="#preview-popup").js-fancybox Предпросмотр товара (product.html)
        +link(href="opt-status.html" data-popup="#opt-status-popup").js-fancybox Спасибо! Ваша заявка принята. (opt-status.html)
        +link(href="phonecall-status.html" data-popup="#phonecall-status-popup").js-fancybox Обратный звонок. Спасибо за оставленную заявку! (phonecall-status.html)
        +link(href="phonecall-status2.html" data-popup="#phonecall-status2-popup").js-fancybox Обратный звонок. Спасибо за оставленную заявку!(не рабочее время) (phonecall-status2.html)        
        +link(href="subscribe-status.html" data-popup="#subscribe-status-popup").js-fancybox Спасибо! Теперь Вы подписаны на нашу новостную рассылку! (subscribe-status.html)
        +link(href="subscribe-status2.html" data-popup="#subscribe-status2-popup").js-fancybox Внимание! Ранее Вы уже получали промокод по указанному email адресу. (subscribe-status2.html)
        +link(href="callback.html" data-popup="#callback-popup").js-fancybox Обратный звонок (callback.html)        
        +link(href="order-status.html" data-popup="#order-status-popup").js-fancybox Статус заказа (order-status.html)
        +link(href="discount.html" data-popup="#discount-popup").js-fancybox Скидка на онлайн-покупку (discount.html)
        
block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
  +preview-popup
  +opt-status-popup
  +phonecall-status-popup
  +phonecall-status2-popup
  +subscribe-status-popup
  +subscribe-status2-popup
  +order-status-popup
  +callback-popup 
  +discount-popup
