extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +b.sitemap
    .container
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Главная (index.html)
        +link(href="login.html") Войти в аккаунт (login.html)
        +link(href="registration.html") Регистрация (registration.html)
        +link(href="password-recovery.html") Восстановить пароль (password-recovery.html)
        +link(href="registration-complete.html") Поздравляем! (registration-complete.html)
        +link(href="catalog.html") Каталог (catalog.html)
        +link(href="news.html") Новости (news.html)
        +link(href="categories.html") Категории - Для тренировок (categories.html)
        +link(href="categories2.html") Категории - Для соревнований (categories2.html)
        +link(href="categories3.html") Категории - Для открытой воды (categories3.html)
