extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block navbar
  +navbar

block content
  +b.sitemap
    .container
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Главная (index.html)
        +link(href="login.html" data-popup="#login-popup").js-fancybox Войти в аккаунт (login.html)
        +link(href="registration.html" data-popup="#registration-popup").js-fancybox Регистрация (registration.html)
        +link(href="password-recovery.html" data-popup="#password-recovery-popup").js-fancybox Восстановить пароль (password-recovery.html)
        +link(href="registration-complete.html" data-popup="#registration-complete-popup").js-fancybox Поздравляем! (registration-complete.html)
        +link(href="catalog.html") Каталог (catalog.html)
        +link(href="product.html") Очки для плавания Cobra Mirror (product.html)
        +link(href="cart.html") Товары в корзине (cart.html)
        +link(href="cart-delivery.html") Доставка и оплата (cart-delivery.html)
        +link(href="order-confirmed.html") Заказ успешно оформлен (order-confirmed.html)
        +link(href="account.html") Мой кабинет - Мои данные (account.html)
        +link(href="account-orders.html") Мой кабинет - Мои заказы (account-orders.html)
        +link(href="account-order.html") Мой кабинет - Заказ #224455 (account-order.html)
        +link(href="account-help.html") Мой кабинет - Помощь (account-help.html)
        +link(href="news.html") Новости (news.html)
        +link(href="categories.html") Категории - Для тренировок (categories.html)
        +link(href="categories2.html") Категории - Для соревнований (categories2.html)
        +link(href="categories3.html") Категории - Для открытой воды (categories3.html)
        +link(href="exchange.html") Обмен-возврат (exchange.html)
        +link(href="payment.html") Оплата (payment.html)
        +link(href="reviews.html") Все отзывы о товарах (reviews.html)
        +link(href="article.html") Статья (Экслюзивно для Proswim.ru: 4 способа сделать свои тренировки интересными) (article.html)


block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
