@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/variables'; // Переменные
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков
@import '../blocks/**/*';
@import '../components/**/*';
@import 'helpers/page';
@import '../pages/**/*';

.container {
  width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;

  @include screen(lg) {
    width: 100%;
  }

  @include screen(sm) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &_article {
    width: 820px;
  }
}

.js-sr {
  visibility: hidden;
}

.is-hidden {
  display: none;
}

.sticky-block {
  &.is-fixed {
    position: fixed;
    top: 20px;
    transform: translate3d(0, 0, 0);

    @include screen(lg) {
      position: static;
    }
  }

  &.is-attached {
    position: absolute;
    bottom: 0;

    @include screen(lg) {
      position: static;
    }
  }
}

@include screen(lg) {
  .hide-lg { display: none; }
}

@include screen(lg, min) {
  .hide-lg-min { display: none; }
}

@include screen(sm) {
  .hide-sm { display: none; }
}

@include screen(xs) {
  .hide-xs { display: none; }
}
