extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Обмен-возврат'

block content
  +b.page
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Обмен-возврат'])
      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading Обмен-возврат

      +grid.exchange
        +col({ xl: 9, lg: 12 })
          +text-section
            +content-zone
              h4 Хотите вернуть или обменять товар, приобретенный в Proswim? Легко!
              p Подбирайте товары и аксессуары для плавания и не беспокойтесь ни о чем! Proswim работает для Вас: вы легко сможете обменять или вернуть товар, если он вам не подошел. У нас действует увеличенный срок для обмена товара и 100% гарантия возврата платежей при его возврате.

            +text-section-block
              +content-zone
                h5 У вас есть целых 90 дней для обмена
                p Срок 90 дней для обмена - это гораздо больше, чем срок, предусмотренный законодательством и применяемый в других интернет-магазинах. Зато даже если вы живете в Южно-Сахалинске и заказали товар с доставкой через Почту России или купили товар в подарок, у вас есть возможность и время, чтобы, при желании, вернуть или обменять его.

            +text-section-block
              +content-zone
                h5 100% гарантия быстрого возврата средств при возврате товара
                p Решили, что заказанный товар Вам не подошел и хотите его вернуть? Просто заполните заявление, вышлите или привезите нам товар и мы вернем вам полностью его стоимость в максимально быстрые сроки. Возврат денежных средств будет осуществлен в течение 3-5 рабочих дней на расчетный счет, который Вы укажете в заявлении.

            +text-section-block
              +content-zone
                h5 Простые условия возврата и обмена
                p Причина возврата или обмена может быть любой: вам не подошел размер, не понравился цвет линз у плавательных очков, ребенку не подошли ласты, а синяя доска для плавания оказалась недостаточно синей. Вернуть или обменять товар, купленный у нас, очень просто. Единственными условиями являются:
                ul
                  li сохранность товарного вида (отсутствие следов эксплуатации);
                  li сохранность упаковки, этикеток и ценников;
                  li наличие чека или товарной накладной.

            +text-section-block
              +content-zone
                h5 Условия возврата и обмена
                +accordions(true)
                  +accordion._contentzone
                    +accordion-header
                      +accordion-button По Москве
                    +accordion-body
                      p Вы можете обменять или вернуть не подошедший по фасону или размеру товар, приехав к нам в пункт самовывоза.

                      +shop-location
                        +shop-location-station м. Алексеевская
                        +shop-location-addr
                          p ул. 3-я Мытищинская, д. 16 стр. 47, офисное здание "Квант-М", 3 этаж, офис 329

                        +shop-location-item('Time icon22') График работы: ежедневно с 10.00 до 18.00
                        +shop-location-text Предварительно свяжитесь с нами, пожалуйста, по электронной почте или телефону:
                        +shop-location-item('Email icon22', true)(href='mailto:info@proswim.ru')._email info@proswim.ru
                        +shop-location-item('Phone icon22') 8 (495) 580-82-95

                      p
                        b При себе необходимо иметь:

                      ul
                        li паспорт;
                        li товар, сохранивший потребительские свойства (без следов эксплуатации, в упаковке, с ценниками и этикетками);
                        li кассовый чек или товарную накладную.

                      p Обмен на другой товар производится сразу после фактического получения нами товара. Возврат денежных средств осуществляется в пункте самовывоза Proswim при непосредственном возврате товара.

                      p
                        b Дополнительная информация:

                      ul
                        li в случае обнаружения дефекта, пожалуйста, свяжитесь с нами по бесплатной линии 8 (800)100-24-59 или пришлите письмо на электронную почту #[a(href="mailto:info@proswim.ru") info@proswim.ru]. Сотрудник клиентского сервиса свяжется с Вами в ближайшее время. Рассмотрение обращения занимает в среднем от 1 до 10-ти рабочих дней;
                        li окончательное заключение о характере возникновения дефекта товара или наличия брака принимается после проведения внутренней экспертизы в компании;
                        li в случае возврата качественных, но не подошедших по фасону, цвету или размеру товаров, стоимость доставки возврату не подлежит. В случае подтверждения дефекта или брака расходы на доставку подлежат возмещению;
                        li не подлежат обмену и возврату гидрокостюмы и гидрошорты в связи с особенностями их использования, а также в соответствии с Постановлением Правительства РФ от 19 января 1998 г. №55 «Об утверждении Правил продажи отдельных видов товаров, перечня товаров длительного пользования, на которые не распространяется требование покупателя о безвозмездном предоставлении ему на период ремонта или замены аналогичного товара, и перечня непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации».
                        li согласно Закону РФ от 07.02.1992 № 2300-1 «О защите прав потребителей» обмену/возврату не подлежит также следующий товар: беруши, зажимы для носа, книги, журналы и прочая печатная продукция.

                  +accordion._contentzone
                    +accordion-header
                      +accordion-button По регионам
                    +accordion-body
                      p
                        b Покупатели из регионов для обмена или возврата товара отправляют посылку Почтой России.

                      p Для этого необходимо:

                      ol
                        li #[a(href="javacsript:void(0)") заполнить заявление на обмен/возврат (скачать)]. В случае обмена укажите в заявлении тот товар, на который желаете произвести обмен;
                        li вложить в посылку товар в упаковке, кассовый чек или товарную накладную, этикетки и ценники, заполненное заявление на обмен/возврат и копию паспорта;
                        li
                          p отправить посылку Почтой России простым отправлением по следующему адресу:
                          p Адрес: 129626, г. Москва, ул. 3-я Мытищинская, д. 16, стр. 35. офис 329
                          p Получатель: ООО «Свим Онлайн»
                        li после отправления посылки написать нам на адрес электронной почты #[a(href="info@proswim.ru") info@proswim.ru] письмо с указанием почтового отправления и номера заказа.

                      p Обмен на другой товар производится сразу после фактического получения нами товара.
                      p Возврат денежных средств будет осуществлен в течение 3-5 рабочих дней на расчетный счет, который Вы укажете в заявлении. Мы стараемся перечислять деньги клиентам сразу на следующий день после получения нами товара.

                      p
                        b Дополнительная информация:

                      ol
                        li в случае обнаружения дефекта, пожалуйста, свяжитесь с нами по бесплатной линии 8 (800)100-24-59 или пришлите письмо на электронную почту #[a(href="mailto:info@proswim.ru") info@proswim.ru]. Сотрудник клиентского сервиса свяжется с Вами в ближайшее время. Рассмотрение обращения занимает в среднем от 1 до 10-ти рабочих дней;
                        li окончательное заключение о характере возникновения дефекта товара или наличия брака принимается после проведения внутренней экспертизы в компании;
                        li в случае возврата качественных, но не подошедших по фасону, цвету или размеру товаров, стоимость доставки возврату не подлежит. В случае подтверждения дефекта или брака расходы на доставку подлежат возмещению;
                        li товар, отправляемый на обмен или возврат, должен быть без следов эксплуатации (то есть не должен быть ношенным, поврежденным, стиранным или использованным). Также должны присутствовать все оригинальные этикетки, упаковка и ценники;
                        li не подлежат обмену и возврату гидрокостюмы и гидрошорты в связи с особенностями их использования, а также в соответствии с Постановлением Правительства РФ от 19 января 1998 г. №55 «Об утверждении Правил продажи отдельных видов товаров, перечня товаров длительного пользования, на которые не распространяется требование покупателя о безвозмездном предоставлении ему на период ремонта или замены аналогичного товара, и перечня непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации».
                        li согласно Закону РФ от 07.02.1992 № 2300-1 «О защите прав потребителей» обмену/возврату не подлежит также следующий товар: беруши, зажимы для носа, книги, журналы и прочая печатная продукция.

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
