mixin product-cart-items
  +b.product-cart-items&attributes(attributes)
    block

mixin product-cart-items-total
  +e.P.total&attributes(attributes)
    +e.SPAN.text  Итого:
    +e.SPAN.price
      block

mixin product-cart-item
  +b.product-cart-item&attributes(attributes)
    block

mixin product-cart-item-grid
  +e.grid&attributes(attributes)
    block

mixin product-cart-item-col
  +e.col&attributes(attributes)
    block

mixin product-cart-item-text
  +e.SPAN.text&attributes(attributes)
    block

mixin product-cart-item-textblock
  +e.textblock&attributes(attributes)
    block

mixin product-cart-item-image(src, alt)
  +e.image&attributes(attributes)
    img(src=src alt=alt||'@@')

mixin product-cart-item-remove
  +e.remove&attributes(attributes)
    +e.A(href='#cart-delete-popup').link.js-product-cart-item-remove.js-fancybox-cart
       +icon('Delete icon').removeicon

mixin product-cart-item-gift
  +e.gift&attributes(attributes)
    +icon('Gift icon').gifticon
