.product-cart-item {
  position: relative;
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid $color-border;
  box-sizing: border-box;

  &_field {
    padding: 15px 0;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 5px;
    }
  }

  &_card {
    box-shadow: 0 6px 12px rgba(157, 164, 171, 0.26);
    border: 1px solid $color-border;
    padding: 20px 68px 14px 20px;
    margin-top: 20px;

    @include screen(sm) {
      border-left: 0;
      border-right: 0;
      padding: 16px 15px 21px;
    }
  }

  &__textblock {
    &_heading {
      @include screen(xs) {
        padding-right: 38px;
      }
    }
  }

  &__grid {
    display: flex;
    margin: -20px 0 0 -27px;

    .product-cart-item_field & {
      margin-left: -20px;
    }

    + .product-cart-item__grid {
      margin-left: 0;
      width: 100%;

      @include screen(sm) {
        flex-wrap: wrap;
        margin-top: 0;
      }
    }

    @include screen(lg) {
      margin-left: -20px;
    }

    @include screen(sm) {
      margin-left: -15px;
      margin-top: -15px;
    }
  }

  &__col {
    padding: 20px 0 0 27px;

    .product-cart-item_field & {
      padding-left: 20px;
    }

    @include screen(lg) {
      padding-left: 20px;

      &.is-empty { display: none; }
    }

    @include screen(sm) {
      padding-left: 15px;
      padding-top: 15px;

      .product-cart-item__grid + .product-cart-item__grid & {
        padding-left: 12px;
        padding-top: 0;
      }
    }

    &_flexible { flex: 1 1 auto; }

    &_image {
      flex-shrink: 0;
    }

    &_fieldheading {
      width: 200px;
      margin-right: 85px;

      .account & {
        @include screen(lg) {
          margin-right: 54px;
        }

        @include screen(sm) {
          margin-right: 0;
        }
      }

      @include screen(sm) {
        width: 100%;
        margin-right: 0;
        padding-right: 40px;
        margin-bottom: 4px;
      }
    }

    &_description {
      width: 246px;
      padding-left: 20px;
      order: 1;

      @include screen(lg) {
        width: 214px;
      }

      @include screen(sm) {
        width: 100%;
      }
    }

    &_accountprice {
      margin-top: 22px;

      .product-cart-item__text {
        font-size: 15px;
        line-height: (18/15);
      }

      @include screen(sm) {
        width: 100%;
        margin-top: 7px;
      }
    }

    &_price {
      margin-top: 32px;
      order: 2;
      min-width: 97px;
      text-align: center;

      @include screen(lg) {
        order: 3;
        min-width: 67px;

        .product-cart-item__text {
          font-size: 14px;
          font-weight: 500;
          line-height: (24/14);
        }
      }

      @include screen(sm) {
        margin-right: 9px;
        margin-top: 1px;
        min-width: auto;
      }
    }

    &_heading {
      margin-top: 32px;
      order: 2;

      @include screen(lg) {
        margin-left: 25px;

        .product-cart-item__text {
          font-size: 18px;
          font-weight: 700;
          line-height: (24/18);
        }
      }

      @include screen(sm) {
        margin-top: 11px;
        margin-left: 0;

        .product-cart-item__text {
          font-size: 16px;
          line-height: (24/16);
        }
      }
    }

    &_count {
      margin-top: 25px;
      width: 126px;
      order: 3;

      @include screen(lg) {
        order: 2;
        width: 81px;
        margin-top: 30px;
      }

      @include screen(sm) {
        order: 5;
        margin-top: 12px;
        width: 100%;

        .inputbox {
          width: 77px;
        }
      }
    }

    &_total {
      margin-top: 32px;
      order: 4;
      min-width: 97px;
      text-align: center;
      padding-left: 15px;
      flex: 1;

      @include screen(lg) {
        text-align: right;
        min-width: auto;
      }

      @include screen(sm) {
        margin-top: 0;
        text-align: left;
      }
    }
  }

  &__image {
    position: relative;
    width: 110px;
    max-width: 100%;
    height: 86px;
    border: 1px solid $color-border;
    box-sizing: border-box;
    overflow: hidden;

    .product-cart-item_field & {
      width: 80px;
      height: 56px;
      margin-top: 2px;

      @include screen(sm) {
        width: 66px;
        height: 51px;
      }
    }

    @include screen(sm) {
      width: 66px;
      height: 51px;
    }

    img {
      @include center-image;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__text {
    line-height: (20/14);

    &_grey { color: $darkgrey-color; }
    &_blue { color: $darkblue-color; }

    &_sm {
      @include text-tiny;

      .product-cart-item__text_grey + & { margin-left: 4px; }
    }

    &_md {
      font-size: 18px;
      font-weight: 700;
      line-height: (24/18);

      @include screen(lg) {
        font-size: 16px;
        line-height: (24/16);
      }
    }

    &_count {
      font-size: 15px;
      line-height: 1;
    }


    &block {
      display: block;

      &_right {
        text-align: right;
      }

      &_heading {
        margin-top: -.3em;
        margin-bottom: .5em;

        .product-cart-item_field & {
          margin-bottom: 0;
        }
      }

      &_price {
        margin-top: -.2em;
        margin-bottom: .2em;
      }
    }

    &.js-product-cart-item-discounts {
      position: relative;

      &::before {
        position: absolute;
        bottom: 100%;
        right: 0;
        display: block;
        content: attr(data-price) '\20руб.';

        @include text-middle;

        color: rgba($color-darkgrey, .8);
        text-decoration: line-through;
        text-align: right;

        @include screen('lg') {
          @include text-smaller;
        }

        @include screen('sm') {
          content: attr(data-price);
          position: static;
          display: inline-block;
          bottom: auto;
          right: auto;
        }
      }

      &::after {
        display: block;
        content: attr(data-discount);

        @include text-middle;

        color: $color-red;
        text-align: right;

        @include screen('lg') {
          @include text-smaller;
        }
      }
    }
  }

  &__remove {
    position: absolute;
    top: 48px;
    right: 25px;
    width: 28px;
    height: 28px;
    border: 1px solid $verylightgrey45-color;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    transition: opacity $ease-main;

    .product-cart-item_field & {
      top: 32px;
      right: 4px;

      @include screen(lg) {
        right: 0;
      }

      @include screen(sm) {
        top: 18px;
      }
    }

    &:hover {
      opacity: .5;
    }

    @include screen(lg) {
      right: 19px;
    }

    @include screen(sm) {
      top: 17px;
      right: 15px;
    }

    &icon {
      @include center-image;
      width: 10px;
      height: 10px;
      fill: $midgreyblue34-color;
    }
  }

  &__gift {
    position: absolute;
    top: 0;
    right: 23px;
    width: 30px;
    height: 45px;
    background-color: $color-main;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 15px 14px 15px;
      border-color: transparent transparent white transparent;
    }

    @include screen(lg) {
      right: 19px;
    }

    &_simple {
      top: 38px;
      right: 10px;
      width: 17px;
      height: 17px;
      background-color: transparent;

      &::after {
        display: none;
      }

      @include screen(lg) {
        right: 5px;
      }

      @include screen(sm) {
        right: 4px;
        top: 18px;
      }
    }

    &icon {
      position: absolute;
      top: 7px;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 90%;
      max-height: 70%;
      width: 17px;
      height: 17px;
      fill: white;

      .product-cart-item__gift_simple & {
        position: static;
        margin: 0;
        fill:  $middlegrey2-color;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.product-cart-items {
  display: block;
  margin-top: -20px;

  &_card {
    @include screen(sm) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__total {
    display: block;
    margin-top: 24px;
    font-size: 0;
    text-align: right;
  }

  &__text,
  &__price {
    display: inline-block;
  }

  &__text {
    font-size: 15px;
    line-height: (24/15);
  }

  &__price {
    font-size: 18px;
    font-weight: 700;
    line-height: (24/18);
    margin-left: 100px;
  }
}
