.product-cart-item {
  position: relative;
  display: block;
  padding: 16px 0;
  border-bottom: 1px solid $color-border;
  box-sizing: border-box;

  &_card {
    box-shadow: 0 6px 12px rgba(157, 164, 171, 0.26);
    border: 1px solid $color-border;
    padding: 20px 26px 14px 20px;
    margin-top: 20px;
  }

  &__grid {
    display: flex;
    margin: -20px 0 0 -27px;
  }

  &__col {
    padding: 20px 0 0 27px;

    &_flexible { flex: 1 1 auto; }

    &_image {
      flex-shrink: 0;
    }

    &_description {
      width: 246px;
      padding-left: 20px;
    }

    &_price {
      margin-top: 32px;
    }

    &_count {
      margin-top: 25px;
      width: 126px;
    }

    &_total {
      margin-top: 32px;
    }

    &_remove {
      margin-top: 29px;
      margin-left: auto;
      flex-shrink: 0;
    }
  }

  &__image {
    position: relative;
    width: 110px;
    height: 86px;
    border: 1px solid $color-border;
    box-sizing: border-box;
    overflow: hidden;

    img { @include center-image; }
  }

  &__text {
    line-height: (20/14);

    &_grey { color: $darkgrey-color; }
    &_blue { color: $darkblue-color; }

    &_sm {
      @include text-tiny;

      .product-cart-item__text_grey + & { margin-left: 4px; }
    }

    &_md {
      font-size: 18px;
      font-weight: 700;
      line-height: (24/18);
    }

    &block {
      display: block;

      &_right {
        text-align: right;
      }

      &_heading {
        margin-top: -.3em;
        margin-bottom: .5em;
      }

      &_price {
        margin-top: -.2em;
        margin-bottom: .2em;
      }
    }
  }

  &__remove {
    position: relative;
    width: 28px;
    height: 28px;
    border: 1px solid $verylightgrey45-color;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;

    svg {
      @include center-image;
      width: 10px;
      height: 10px;
    }
  }
}

.product-cart-items {
  display: block;
  margin-top: -16px;

  &_cart {
    margin-top: -20px;
  }

  &__total {
    display: block;
    margin-top: 24px;
    font-size: 0;
    text-align: right;
  }

  &__text,
  &__price {
    display: inline-block;
  }

  &__text {
    font-size: 15px;
    line-height: (24/15);
  }

  &__price {
    font-size: 18px;
    font-weight: 700;
    line-height: (24/18);
    margin-left: 100px;
  }
}
