.filter-section {
  display: flex;
  padding: 15px 20px;
  border: 1px solid $color-border;
  box-shadow: 0 6px 12px rgba(157, 164, 171, 0.26);

  &_simple {
    padding: 14px 0;
    border-width: 1px 0 0 0;
    box-shadow: none;
  }

  &__heading {
    display: inline-block;
    @include heading-5-bold;
    padding-top: 4px;
    margin-right: -6px;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0 0 -16px;
    font-size: 0;

    &_flexible { flex: 1 1 auto; }
  }

  &__col {
    display: inline-block;
    padding: 10px 0 0 16px;
  }
}
