mixin filter-section
  +b.filter-section&attributes(attributes)
    block

mixin filter-section-grid
  +e.grid&attributes(attributes)
    block

mixin filter-section-col
  +e.col&attributes(attributes)
    block

mixin filter-section-heading
  +e.heading&attributes(attributes)
    block
