.hero-slider {
  display: block;
  overflow: hidden;
  color: white;

  &__slide {
    position: relative;
    overflow: hidden;
  }

  &__bg {
    @include fill-img;
    pointer-events: none;
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    min-height: 524px;
    position: relative;
    z-index: 1;

    @include screen(desktop) {
      min-height: 452px;
    }

    @include screen(tablet) {
      min-height: 212px;
    }
  }

  &__image {
    position: relative;
    width: 50%;
    margin-left: 18px;

    @include screen(desktop) {
      margin-left: -20px;
      min-width: 375px;
    }

    @include screen(desktop) {
      margin-left: -15px;
      min-width: 161px;
    }

    img {
      @include center-image;
      margin-bottom: 0;
      max-height: 100%;

      @include screen(desktop) {
        left: auto;
      }
    }

    &_center img {
      margin-bottom: auto;
    }
  }

  &__content {
    position: relative;
    align-self: center;
    margin-left: 71px;
    padding-right: 71px;
    padding-bottom: 96px;
    flex: 1 1 auto;
    padding-top: 40px;

    @include screen(desktop) {
      margin-left: 19px;
      padding-right: 56px;
      padding-bottom: 80px;
    }

    @include screen(tablet) {
      padding-top: 19px;
      margin-left: 4px;
      padding-right: 0;
      padding-bottom: 40px;
    }
  }

  &__icon {
    margin-bottom: 20px;

    @include screen(tablet) {
      margin-bottom: 2px;
    }

    img, svg {
      width: auto;
      max-height: 49px;

      @include screen(tablet) {
        max-height: 24px;
      }
    }
  }

  &__heading {
    font-family: $font-second;
    font-size: 42px;
    font-weight: 700;
    line-height: (56/42);
    letter-spacing: .01em;

    @include screen(desktop) {
      font-size: 40px;
    }

    @include screen(tablet) {
      font-size: 18px;
    }
  }

  &__price {
    display: block;
    margin-left: -2px;
    margin-top: 18px;
    font-size: 0;
    line-height: 1;
    letter-spacing: .01em;

    @include screen(tablet) {
      margin-left: -1px;
      margin-top: 6px;
    }

    svg {
      position: absolute;
      top: 3px;
      right: 0;
      fill: #fff;
      height: 22px;

      @include screen(tablet) {
        height: 13px;
      }
    }

    &current {
      position: relative;
      display: inline-block;
      font-size: 30px;
      white-space: nowrap;
      font-weight: 700;
      padding-right: 30px;

      @include screen(tablet) {
        font-size: 18px;
        padding-right: 18px;
      }

      span {
        display: inline-block;
      }

      svg {
        width: 20px;

        @include screen(tablet) {
          width: 12px;
          top: 2px;
        }
      }
    }

    &old {
      position: relative;
      display: inline-block;
      font-size: 30px;
      white-space: nowrap;
      text-decoration: none;
      margin-left: 38px;
      padding-left: 5px;
      padding-right: 28px;

      @include screen(tablet) {
        font-size: 18px;
        padding-right: 18px;
        margin-left: 11px;
        padding-left: 2px;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: .35em;
        display: block;
        height: 2px;
        background-color: white;

        @include screen(tablet) {
          height: 1px;
        }
      }

      span {
        display: inline-block;
      }

      svg {
        width: 19px;
        top: 4px;
        right: 3px;

        @include screen(tablet) {
          width: 11px;
          top: 2px;
          right: 2px;
        }
      }
    }
  }

  &__text {
    display: block;
    margin-top: 19px;
    font-size: 18px;
    line-height: (26/18);
    letter-spacing: .01em;

    @include screen(desktop) {
      font-size: 16px;
      line-height: (26/16);
    }

    @include screen(tablet) {
      font-size: 12px;
      line-height: (17/12);
      margin-top: 7px;
    }
  }

  &__dots {
    position: absolute;
    z-index: 3;

    &.swiper-pagination-bullets {
      left: 0;
      bottom: 21px;

      @include screen(tablet) {
        bottom: 11px;
      }
    }
  }

  &__buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 3;
    pointer-events: none;

    @include screen(tablet) {
      display: none;
    }

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__button {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, .3);
    cursor: pointer;
    border-radius: 50%;
    pointer-events: all;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 40px;
      height: 40px;
      box-shadow: 0 0 2px rgba(0, 0, 0, .22);
      background-color: rgba(255, 255, 255, .5);
      border-radius: 50%;
      transition: background-color $ease-main;
    }

    &:hover::before {
      background-color: rgba(255, 255, 255, .9);
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-left: 2px;
      width: 10px;
      height: 19px;
      fill: $anotherdarkgrey-color;
    }

    &_prev svg {
      transform: translate(-50%, -50%) rotate(180deg);
      margin-left: -2px;
    }
  }
}
