.products-section {
  display: block;

  &__head {
    margin-bottom: 20px;
    pointer-events: all;
  }

  &__slider {
    margin: 0 -12px;
    padding: 0 12px;
    padding-bottom: 200px;
    margin-bottom: -200px;
    pointer-events: none;
  }

  &__content { pointer-events: all; }

  &__buttons {
    display: flex;
    margin-left: -10px;
  }

  &__button {
    margin-left: 10px;

    .circle-button__button {
      width: 31px;
      height: 31px;
    }

    .circle-button__icon {
      width: 7px;
      height: 13px;
      margin-left: 1px;
    }

    &_prev {
      .circle-button__icon {
        transform: translate(-50%, -50%) rotate(180deg);
        margin-left: -1px;
      }
    }
  }

  &__slide {
    height: auto;
  }
}
