.parsley-type,
.filled {
  margin-top: 6px;
  @include text-tiny;
  font-weight: 500;
  color: $color-red;
}

.input {
  padding: 0 13px;
  height: 38px;
  border: 1px solid $color-border;
  width: 100%;
  box-sizing: border-box;
  line-height: 1;
  border-radius: 0;
  min-height: 0;
  background-color: white;
  @include text-small;
  line-height: 1;
  border-radius: 2px;
  transition: all $ease-main;

  &[type=number] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    -moz-appearance: textfield;
  }

  &.parsley-error {
    border: 2px solid $lightred-color;
  }

  &_size_md {
    height: 48px;
    font-size: 15px;
  }

  &_size_sm {
    height: 30px;
    @include text-tiny;
    padding: 0 11px;
  }

  &:focus {
    border-width: 2px;
  }

  .inputbtn.is-active &:focus {
    border-width: 1px;
  }
}

.inputbox {
  display: block;

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__label {
    display: block;
    @include heading-5;
  }

  &__link {
    line-height: (24/14);
  }

  &_dark {

    .inputbox {

      &__label {
        color: $color-basic;
      }
    }
  }
}

.textarea {
  @extend .input;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;

  padding-top: 13px;
  padding-bottom: 13px;
  min-height: 88px;
  resize: vertical;

  &_big {
    min-height: 142px;
  }

  .popup &::placeholder {
    @include text;

    color: rgba($darkengrey-color, .5);
  }
}

.checkradio {
  position: relative;
  padding-left: 26px;
  display: inline-block;
  cursor: pointer;
  font-size: 0;

  &_size_xl {
    padding: 12px 14px;
    width: 100%;
    box-sizing: border-box;
  }

  &_size_md {
    line-height: 1;
    padding: 2px;

    .checkradio__content {
        padding:7px;
        border: 1px solid $color-basic;
      }
  }

  &_radio {
    padding-left: 31px;

    + .checkradio_radio { margin-left: 24px; }
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &:checked {

      & + .checkradio__box {
        background-color: $color-main;
        border-color: $color-main;

        &::after {
          opacity: 1;
        }

        .checkradio__icon {
          opacity: 1;
        }
      }
    }

    .checkradio_size_xl &:checked {
      & + .checkradio__box {
        background-color: $ihavenoideahowtocallthat-color;
        border-color: $color-main;
        box-shadow: inset 0 0 0 1px $color-main;

        &::after,
        .checkradio__icon {
          opacity: 1;
        }
      }
    }

    .checkradio_size_md &:checked {
      & + .checkradio__content {
        background-color:  $color-main;
        border-color: $color-main;
        box-shadow: inset 0 0 0 1px $color-main;
        color: #fff;
      }
    }
  }

  &__box {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid $color-border;
    border-radius: 2px;
    user-select: none;
    left: 0;
    top: 2px;
    transition: border-color $ease-main,
                background-color $ease-main,
                box-shadow $ease-main;

    .checkradio_size_xl:hover .checkradio__input:not(:checked) + & {
      background-color: $color-border;
    }

    .checkradio_size_xl & {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      top: 0;
      left: 0;
      background-color: $ihavenoideahowtocallthat-color;

      &::after {
        content: '';
        position: absolute;
        top: -1px;
        right: -1px;
        transform: none;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 27px 27px 0;
        border-color: transparent $color-main transparent transparent;
        opacity: 0;
        transition: opacity $ease-main;
      }
    }

    .checkradio_radio & {
      border-color: transparent;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      box-shadow: inset 0 1px 0 rgba(23, 24, 25, 0.2);
      background-color: $anotherlightgreycolor;
      top: 0;
      box-sizing: border-box;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        box-shadow: 0 1px 0 rgba(23, 24, 25, 0.2);
        background-color: white;
        opacity: 0;
        transition: opacity $ease-main;
        border-radius: 50%;
      }
    }

    .checkradio.parsley-error & {
      border-color: $lightred-color;
    }

    .checkradio_nobox & {
      display: none;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4.5px;
    margin-top: -3.5px;
    // transform: translate(-50%, -50%);
    @include performance;
    width: 9px;
    height: 7px;
    fill: white;
    opacity: 0;
    transition: opacity $ease-main;

    .checkradio_size_xl & {
      margin: 0;
      top: 4px;
      left: auto;
      right: 3px;
      z-index: 1;
    }
  }

  &__content {
    display: inline-block;
    @include text-small;
    line-height: (21/13);

    svg,img {
      max-height: 20px;
      fill: $color-basic;
    }

    .checkradio_radio & {
      @include text;
      padding-top: 2px;
    }

    .checkradio_icon & {
      line-height: 1;
    }

    .checkradio_size_xl & {
      z-index: 1;
      position: relative;
      user-select: none;
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
    }

    .link {
      display: inline;

      &__text {
        @include text-small;
        line-height: (21/13);
      }
    }
  }

  &__boxcolor {
    position: absolute;
    top: 3px;
    left: 24px;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: $color-main;

     &.blue {
       background-color: $color-main;
     }
     &.red {
       background-color: $color-red2;
     }
     &.yellow {
       background-color: $yellow-color;
     }
     &.green{
       background-color: $lightgreen-color;
     }
     &.black{
       background-color: #000;
     }
     &.grey{
       background-color: $darkgrey-color;
     }

     &+.checkradio__content {
       padding-left: 20px;
       padding-top: 2px;
     }
  }
}

// #####
// Блок выбора количества
// #####

.input-numberbox {
  display: flex;
  width: 100%;
  height: 36px;

  @include screen(lg) {
    height: 26px;
  }

  &__button {
    position: relative;
    border: 1px solid $color-border;
    width: 36px;
    display: block;
    font-size: 18px;
    font-family: monospace;
    cursor: pointer;
    text-align: center;
    border: 1px solid $semigreyblue-color;
    background-color: $ihavenoideahowtocallthat-color;

    @include screen(lg) {
      width: 24px;
      background-color: white;
    }

    &:hover::before, &:hover::after { opacity: .5; }

    &::before, &::after { transition: opacity $ease-main; }

    &:first-child::before,
    &:last-child::before,
    &:last-child::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 10px;
      height: 2px;
      background-color: $color-basic;
    }

    &:last-child::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;

      @include screen(lg) {
        border-radius: 50%;
      }
    }

    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;

      @include screen(lg) {
        border-radius: 50%;
      }
    }
  }

  &__input {
    flex: 1;
    border-left: 0;
    border-right: 0;
    text-align: center;
    display: table-cell;
    height: 36px;
    font-size: 15px;

    @include screen(lg) {
      height: 26px;
      font-size: 14px;
      border-color: transparent;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

// #####
// Кастомные селекты
// #####

@import '../../../node_modules/choices.js/assets/styles/scss/choices.scss';

.select {
  -webkit-appearance: none;

  @extend .input;
  height: 48px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid $color-border;
  background-color: #ffffff;
}

.choices {

  .scroll-element.scroll-y {
    top: 0;
    width: 30px;
    background: white;
    z-index: 1000;

    div {
      width: 4px;
    }

    .scroll-element_outer {
      left: 10px;
      margin-top: 10px;
    }
  }

  &__inner {
    transition: all $ease-main;
  }

  &__inner, &[data-type*='select-one'] &__inner {
    @extend .select;

    transition: border-color $ease-main;

    .choises_small & {
      padding: 6px 27px 6px 16px;
      height: 32px;
      line-height: 30px;
      border-radius: 2px;
    }
  }

  &__searchicon {
    position: absolute;
    top: 30px;
    right: 27px;
    width: 18px;
    height: 19px;
    fill: $middlegrey2-color;
  }

  &[data-type*='select-one'] {

    .choices__inner {
      padding: 0 48px 0 0;
      border: 0;
    }

    &::after {
      display: none;
    }

    .choices__input {
      @extend .input;

      border-color: $color-border;
      box-sizing: border-box;
      width: calc(100% - 30px);
      margin: 20px 15px 9px;
    }
  }

  &__input {
    + .choices__list,
    + .choices__list > .choices__list {
      padding-top: 0 !important;
    }
  }

  &__toggler {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border-radius: 0 2px 2px 0;
    border: 1px solid $color-border;
    background-color: $ihavenoideahowtocallthat-color;
    box-sizing: border-box;
    transition: background-color $ease-main;

    .is-open &,
    .choices__inner:hover & {
      background-color: $color-border;
    }

    &icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $color-basic;
      transition: fill $ease-main,
                  transform $ease-main;

      .is-open &,
      .choices__inner:hover & { fill: $darkblue-color; }

      &_arrow {
        width: 6px;
        height: 12px;
        transform: translate(-50%, -50%) rotate(90deg);

        .is-open & { transform: translate(-50%, -50%) rotate(-90deg); }
      }

      &_clock {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__list {
    border-color: $color-border;
    z-index: 1000;

    &--single {
      display: table;
      box-sizing: border-box;
      height: 100%;
      padding: 0;
      padding: 0 13px;
      border: 1px solid $color-border;
      border-right: 0;
      @include text;
      font-size: 15px;
      font-weight: 400;
      font-family: $font-main;
      transition: box-shadow $ease-main;

      .choices__item {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &--dropdown {
      display: block;
      box-sizing: border-box;
      box-shadow: 0 16px 20px rgba(145, 152, 158, 0.6);
      border-radius: 2px;
      border: 1px solid $color-border;
      background-color: white;
      margin-top: 13px;
      overflow: visible;
      padding-bottom: 13px;
      opacity: 0;
      pointer-events: none;
      transition: opacity $ease-main;

      &.is-active {
        opacity: 1;
        pointer-events: all;
      }

      .choices__list {
        padding: 6px 0 0 !important;
      }

      &::before {
        position: absolute;
        top: -9px;
        right: 15px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $color-border transparent;
      }

      &::after {
        position: absolute;
        top: -8px;
        right: 16px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 9px 9px;
        border-color: transparent transparent white transparent;
      }

      .choices__item {
        padding: 5px 15px;

        &--selectable {
          transition: opacity $ease-main,
                      background-color $ease-main;

          &.is-highlighted {
            background-color: $greyblue2-color;
          }
        }
      }
    }
  }

  &.is-open & {

    &__inner {
      border-color: $color-border;
      box-shadow: inset 0 0 0 2px $color-border;
    }

    &__input {
      border-color: $color-border;
    }

    &__list {
      &--dropdown { border-color: $color-border; }
    }
  }
}

// #####
// Range-слайдер
// #####

.range {
  display: inline-block;
  width: 100%;
}

.range .noUi {

  &-base {
    height: 6px;
    border-radius: 3px;
    background-color: $color-border;
    position: relative;
    margin: 8px 0; // margin нужен, чтобы handler не налезал на другие элементы
  }

  &-connect {
    height: 100%;
    position: absolute;
    background-color: $semigrey2-color;
  }

  &-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    border: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $color-main;
    transition: border-color $ease-main;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: white;
    }
  }

  &-origin {
    position: absolute;
    top: 0;
    height: 100%;
  }
}

// #####
// Календарь
// #####

@import '../../node_modules/air-datepicker/dist/css/datepicker.css';

.js-datepicker { cursor: pointer; }

.datepicker {
  color: $color-basic;
  font-size: 14px;
  width: 264px;
  background: white;
  transition: opacity $ease-main, transform $ease-main, left 0s $ease-main;
  font-family: $font-main;
  box-shadow: 0 16px 20px rgba(145, 152, 158, 0.6);
  border-radius: 2px;
  border: 1px solid $color-border;

  &.-from-bottom- {
    transform: translateY(0);
  }

  &.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity $ease-main, transform $ease-main, left 0 0;
  }

  &--content {
    padding: 9px 12px;
  }
}

// Стрелочка сверху над блоком

.datepicker--pointer {
  border-top-color: $color-border;
  border-right-color: $color-border;
  right: 18px;
  width: 12px;
  height: 12px;
  left: auto !important;
  bottom: calc(100% - 6px) !important;
}

// Цвет дней недели

.datepicker--day-name {
  color: $darkblue-color;
  font-family: $font-main;
  font-size: 12px;
  font-weight: 500;
  line-height: (20/12);
  text-transform: uppercase;
}

// Ячейка со стрелкой

.datepicker--nav-action {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: color $ease-main, background-color $ease-main;

  &.-disabled- {
    visibility: visible;
    pointer-events: none;

    path { stroke: $anotherlightgrey3-color; }
  }

  path { stroke: $darkblue-color; }
}

// Шапка календаря

.datepicker--nav {
  border-color: $color-border;
  padding: 5px 9px;

  // Ячейка с заголовком месяца/года

  &-title {
    border-radius: 2px;
    transition: color $ease-main, background-color $ease-main;
    font-size: 14px;
    font-weight: 700;
    line-height: (14/20);
    letter-spacing: .01em;

    // Цвет года в шапке

    i { color: rgba($color-basic, .5); }
  }
}

// Цвет ховера по ячейкам в календаре, шапке

.datepicker--cell.-focus-, .datepicker--nav-action:hover, .datepicker--nav-title:hover {
  background: rgba($color-border, .3);
}

// Стиль ячейки

.datepicker--cell {
  border-radius: 2px;
  transition: color $ease-main, background-color $ease-main;

  // Цвет сегодняшнего даты/месяца

  &.-current- {
    color: white;
    background: $color-main;
  }

  // Ховер по активной дате

  &.-selected-.-focus- {
    color: white;
    background: rgba($color-main, .8);
  }

  // Неактивная ячейка

  &.-disabled- {
    color: rgba($color-basic, .3);
  }

  // Цвет фона активного месяца/дня

  &.-selected-, &.-selected-.-current- {
    background: $color-main;
    color: white;
  }
}

// Цвет даты другого месяца/года

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: $color-placeholder;

  &:hover { color: rgba($color-basic, .5); }
}

.datepicker--cell-day {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-bottom: -2px;
}

.datepicker--cells-days {
  justify-content: space-between;
}

.datepicker--days-names {
  margin-top: 6px;
}

// Стили при выборе диапазона дат

.datepicker--cell.-range-to-, .datepicker--cell.-range-from- {
  border: 0;
  background-color: rgba($color-main, .3);

  &.-selected- {
    background-color: $color-main;
  }
}

.datepicker--cell.-range-from- {
  border-radius: 3px 0 0 3px;
}

.datepicker--cell.-range-to- {
  border-radius: 0 3px 3px 0;
}

// Стили ячеек другого месяца, находящихся в диапазоне

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba($color-main, .1);
  color: $color-placeholder;

  &.-focus- {
    background-color: rgba($color-main, .2);
  }
}

// Стили промежуточных ячеек в диапазоне

.datepicker--cell.-in-range- {
  background: rgba($color-main, .2);
  color: $color-main;
  border-radius: 0;

  &.-current- {
    color: $color-basic;
  }

  &.-focus- {
    background: rgba($color-main, .3);
  }
}


.inputbtn {
  position: relative;
  display: block;
  height: 48px;

  &.is-active input {
    box-shadow: inset 0 0 0 1px $color-border;
  }

  .input {
    width: 100%;
    height: 100%;
    border-radius: 2px 0 0 2px;
    border-right: 0;
    transition: all $ease-main;
    padding-right: 61px;
  }


  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border-radius: 0 2px 2px 0;
    border: 1px solid $color-border;
    background-color: $ihavenoideahowtocallthat-color;
    box-sizing: border-box;
    transition: background-color $ease-main;
    pointer-events: none;

    .inputbtn.is-active &,
    .inputbtn:hover & {
      background-color: $color-border;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $color-basic;
    transition: fill $ease-main,
                transform $ease-main;

    .inputbtn.is-active &,
    .inputbtn:hover & { fill: $darkblue-color; }
  }
}

.input-label {
  position: relative;
  display: block;
  padding-top: 20px;

  &__placeholder {
    position: absolute;
    top: 20px;
    left: 0;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    transition: all $ease-main;
    pointer-events: none;
    @include performance;
    opacity: 0.5;

    .input-label.is-active & {
      transform: translate3d(-15px, -38px, 0);
      opacity: 1;
    }
  }

  &__label {
    line-height: 1;
    @include ellipsis(100%);
  }
}
