.category-card {
  position: relative;
  display: block;
  cursor: pointer;
  padding-bottom: 20px;
  overflow: hidden;

  &__image {
    position: relative;
    width: 100%;
    display: block;
    height: 260px;

    img {
      @include fill-img;
    }

    @include screen(desktop) {
      height: 157px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-basic;
      opacity: 0;
      transition: opacity $ease-main;
    }

    .category-card:hover &::after { opacity: .4; }
  }

  &__heading {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    padding: 8px 50px 8px 20px;
    margin-left: 30px;
    text-align: center;
    @include heading-4;
    color: white;
    letter-spacing: .025em;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $color-main;
      z-index: -1;
      transform: skew(-28deg);
      transform-origin: center;
      margin-right: -50%;
    }

    @include screen(desktop) {
      @include heading-5;
      letter-spacing: .025em;
      margin-left: 20px;
      padding-left: 20px;
      padding-right: 30px;
    }
  }
}
