.category-card {
  position: relative;
  display: block;
  cursor: pointer;
  padding-bottom: 20px;
  overflow: hidden;

  &__image {
    position: relative;
    width: 100%;
    display: block;
    height: 260px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-basic;
      opacity: 0;
      transition: opacity $ease-main;
    }

    .category-card:hover &::after { opacity: .4; }
  }

  &__heading {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    padding: 8px 60px 8px 20px;
    margin-left: 40px;
    background-color: $color-main;
    text-align: center;
    @include heading-4;
    color: white;
    letter-spacing: .025em;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      transform: translateX(-100%);
      border-style: solid;
      border-width: 0 0 41px 20px;
      border-color: transparent transparent $color-main transparent;
    }
  }
}
