.cart-delete-popup {
  width: 600px;
  max-width: 100%;
  text-align: center;
  border-radius: 2px;
  background-color: #fff;

  &__content {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
  }

  &__button {
    margin: 10px;
  }
}
