.cart-delete-popup {
  width: 600px;
  max-width: 100%;
  text-align: center;
  border-radius: 2px;
  background-color: #fff;

  &__content {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }

  &__button {
    margin-left: 10px;
    margin-right: 10px;

    &_grey {
      color: $color-basic;
      background-color: $greyblue2-color;
    }
  }
}
