.text-section {
  display: block;
  counter-reset: textblock;

  &__block {
    position: relative;
    padding-left: 66px;

    @include screen(sm) {
      padding-left: 30px;
    }

    &::before {
      counter-increment: textblock;
      content: counter(textblock);
      position: absolute;
      top: -.0875em;
      left: -2px;
      font-size: 72px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: .01em;
      color: $greylist-color;

      @include screen(sm) {
        font-size: 40px;
        top: -.025em;
      }
    }

    &:not(:first-child) {
      margin-top: 48px;

      @include screen(lg) {
        margin-top: 17px;
      }
    }

    &_sm {
      padding-left: 30px;

      &:not(:first-child) {
        margin-top: 34px;

        @include screen(lg) {
          margin-top: 24px;
        }

        @include screen(sm) {
          margin-top: 14px;
        }
      }

      &::before {
        font-size: 30px;
      }
    }
  }

  .content-zone {
    p + ul, ol {
      margin-top: -4px;
    }
  }
}
