mixin quick-order-popup(isPage)
  +popup(class=isPage ? '_page' : '' id=!isPage ? 'quick-order-popup' : '').quick-order-popup&attributes(attributes)
    +popup-header('Быстрый заказ')
    +popup-content
      +e.FORM.form.__grid(method='post' action='/' data-parsley-validate data-parsley-trigger="blur")
        +col(12)
          +input-label('Имя *')(type='text' name="name" required)._size_md
        +col(12)
          +input-label('Телефон *')(type='tel' name="phone" pattern=".{10,}" required data-parsley-type="digits")._size_md
        +col(12)
          +input-label('Email *')(type='email' name="email" required)._size_md
        +col(12)
          +textarea(placeholder="Комментарий")
        +col(12)
          +e.DIV.subheading Итого (без учета доставки):
            +e.SPAN.price 13&nbsp;792 руб.
          +e.text В ближайшее время мы свяжемся с Вами, чтобы подтвердить заказ, его стоимость и сроки доставки.
        +col(12)
          +button-loading('a')._size_big._block(href="order-confirmed.html") Оформить заказ
        +col(12)
          +checkbox('terms', true, true, true)
            | Я ознакомлен с #[+link(href='#') публичной офертой] и соглашаюсь с #[+link(href='#') условиями обработки персональных данных]
