.reviews-section {
  display: block;

  &_full {
    padding: 0;

    @include screen(lg) {
      .button {  width: 100%; }
    }

    @include screen(sm) {
      .container & {
        margin: 0 -15px;
      }

      .section__button {
        padding: 0 15px;
      }
    }
  }

  @include screen(lg) {
    padding-top: 33px;
  }

  &__head {
    @include screen(lg) {
      margin-bottom: 23px;
    }
  }

  &__grid {
    @include screen(sm) {
      &:first-of-type { margin-top: -10px; }
    }
  }

  &__col {
    @include screen(lg) {
      &:nth-child(2) ~ & { display: none; }
    }

    @include screen(sm) {
      width: 100%;
      padding-top: 10px;
    }
  }
}
