extends ../../layouts/default-loggedin

block head
  - var pageTitle = 'Proswim - Мой кабинет - Заказ #224455'

block content
  +b.page
    +e.head
      .container
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Мой кабинет'])
        +e.headcol
          +link-icon('Logout icon')._dark._print Выйти
    +userinfo
    +tabs-container._usermenu
      +tab
        a(href="account.html") Мои данные
      +tab.is-active
        a(href="account-orders.html") Мои заказы
      +tab
        a(href="account-help.html") Помощь

    +e.head._subhead._account
      .container
        +e.headcol._flexible
          +e.H1.heading #224455

    .container
      +grid.account
        +col({ xl: 9, lg: 12 })
          +fieldsets
            +fieldset
              +fieldset-head
                +fieldset-head-col._flexible
                  +fieldset-heading Содержимое заказа
              +fieldset-body
                +product-cart-items
                  +product-cart-item._field
                    +product-cart-item-grid
                      +product-cart-item-col
                        +product-cart-item-image('content-img/cart/2401-copy-2.jpg', 'Очки для плавания Cobra Mirror')
                    +product-cart-item-grid
                      +product-cart-item-col._fieldheading
                        +product-cart-item-textblock
                          +product-cart-item-text Очки для плавания Cobra Mirror
                        +product-cart-item-textblock
                          +product-cart-item-text._count 1 шт.

                      +product-cart-item-col._flexible
                        +product-cart-item-textblock
                          +product-cart-item-text._grey._sm Размер:
                          +product-cart-item-text._sm XS
                        +product-cart-item-textblock
                          +product-cart-item-text._grey._sm Цвет:
                          +product-cart-item-text._sm хамелеон
                        +product-cart-item-textblock
                          +product-cart-item-text._grey._sm Артикул:
                          +product-cart-item-text._sm 92354

                      +product-cart-item-col._accountprice
                        +product-cart-item-textblock
                          +product-cart-item-text 22 450 руб.

                  +product-cart-item._field
                    +product-cart-item-grid
                      +product-cart-item-col
                        +product-cart-item-image('content-img/cart/2401-copy-2.jpg', 'Очки для плавания Cobra Mirror')
                    +product-cart-item-grid
                      +product-cart-item-col._fieldheading
                        +product-cart-item-textblock
                          +product-cart-item-text Очки для плавания Cobra Mirror
                        +product-cart-item-textblock
                          +product-cart-item-text._count 2 шт.

                      +product-cart-item-col._flexible
                        +product-cart-item-textblock
                          +product-cart-item-text._grey._sm Размер:
                          +product-cart-item-text._sm XS
                        +product-cart-item-textblock
                          +product-cart-item-text._grey._sm Цвет:
                          +product-cart-item-text._sm хамелеон
                        +product-cart-item-textblock
                          +product-cart-item-text._grey._sm Артикул:
                          +product-cart-item-text._sm 92354

                      +product-cart-item-col._accountprice
                        +product-cart-item-textblock
                          +product-cart-item-text 22 450 руб.

                  +product-cart-item._field
                    +product-cart-item-gift._simple

                    +product-cart-item-grid
                      +product-cart-item-col
                        +product-cart-item-image('content-img/cart/1.jpg', 'Шоколад “I LOVE SWIM”')
                    +product-cart-item-grid
                      +product-cart-item-col._fieldheading
                        +product-cart-item-textblock
                          +product-cart-item-text Шоколад “I LOVE SWIM”
                        +product-cart-item-textblock
                          +product-cart-item-text._count 1 шт.

                      +product-cart-item-col
                        +product-cart-item-textblock
                          +product-cart-item-text._grey._sm Вес:
                          +product-cart-item-text._sm 5г
                        +product-cart-item-textblock
                          +product-cart-item-text._grey._sm Тип:
                          +product-cart-item-text._sm Молочный шоколад
          +link-icon('Return icon')(href="account-orders.html")._return.hide-lg Вернуться ко всем заказам
        +col({ xl: 3, lg: 12 })
          .sticky-block.js-sticky-block
            +quality-rating
            +total-account

      +link-icon('Return icon')(href="account-orders.html")._return.hide-lg-min Вернуться ко всем заказам
