extends ../../layouts/default-loggedin

block head
  - var pageTitle = 'Proswim - Мой кабинет - Помощь'

block content
  +b.page
    +e.head
      .container
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Мой кабинет'])
        +e.headcol.hide-lg
          +link-icon('Logout icon')._dark._print Выйти
    +userinfo
    +tabs-container._usermenu
      +tab
        a(href="account.html") Мои данные
      +tab
        a(href="account-orders.html") Мои заказы
      +tab.is-active
        a(href="account-help.html") Помощь
