mixin review-badge(kind)
  - var mod = ''
  - var text = ''

  if kind === 'like'
    - mod = 'like'
    - text = 'Я рекомендую этот товар'

  if kind === 'dislike'
    - mod = 'dislike'
    - text = 'Я не рекомендую товар'

  +b.review-badge(class=`review-badge_${mod}`)&attributes(attributes)
    +icon('Good').icon
    +e.SPAN.text=text

