mixin about-section()
  +b.about-section&attributes(attributes)
      +e.col._sm
        +e.heading-wrapper
          +e.H2.heading История нашей компании
        +e.P.__text Мы – PROSWIM, российская компания, специализирующаяся на&nbsp;продаже товаров для плавания. Наша история началась в 2005 году с открытия небольшого плавательного магазина в Москве. Сейчас PROSWIM – это сеть профессиональных магазинов для плавания, включающая в себя один из крупнейших интернет- магазинов с доставкой по всей России и 9 розничных точек в Москве и Санкт-Петербурге. Для каждого клиента мы стараемся быть немного больше, чем просто продавцы и консультанты: мы – команда экспертов, которая знает и любит свое дело. И мы рады всем, кто разделяет нашу безграничную любовь к воде, плаванию и водным видам спорта. <br><br>PROSWIM – это все про плавание и для плавания. PROSWIM – это то&nbsp;место, в котором каждый, от взрослого до ребенка, от новичка до&nbsp;чемпиона сможет найти все самое необходимое для плавания: очки и шапочки, купальники и плавки, маски, трубки, ласты, тренажеры, часы для плавания и многое другое. Собираетесь ли вы тренироваться, завоевывать призовые места, преодолевать боязнь воды, оттачивать технику или просто получать удовольствие от плавания – мы поможем Вам сделать это с комфортом и&nbsp;надежностью. Почему мы так уверены в этом? Просто в этой сфере мы действительно чувствуем себя, как рыба в воде
          +e.__icon
            +e.img(src='assets/images/emoji7.svg')
      +e.col
        +img-about()
          +e.IMG(src='assets/images/about-1.png').__front
          +e.IMG(src='assets/images/about-2.png').__back
      +e.col
        +img-about()
          +e.IMG(src='assets/images/about-3.png').__front
          +e.IMG(src='assets/images/about-2.png').__back
      +e.col._sm
        +e.heading-wrapper
          +e.H2.heading Ценности и принципы,
          +e.P.__subheading_normal которых мы придерживаемся в своей повседневной работе:
        +e.P.__subheading Экспертная консультация и любовь к клиенту
        +e.P.__text Кто, если не пловец сможет посоветовать Вам, какой же гидрокостюм для соревнований выбрать, чтобы улучшить свои результаты? Наши специалисты – профессиональные спортсмены, пловцы, которые всегда поделятся своим опытом, помогут сделать правильный выбор, чтобы покупки приносили Вам только удовольствие. Мы предусмотрели все, поэтому для покупателей у нас действует расширенный срок обмена и возврата товара – 90 дней. И даже если Вы покупаете товары в подарок, или находитесь на Дальнем Востоке – Вы всегда успеете вернуть то, что Вам не подошло.<br>
        +e.P.__subheading Страсть к плаванию
        +e.P.__text Мы любим плавание и делимся с Вами всем, что знаем о нем: публикуем полезные материалы, которые помогают совершенствовать свою технику плавания, рассказываем о новинках, даем свои рекомендации о лучших и популярных товарах. Оставаясь с нами, Вы всегда будете в курсе трендов из мира плавания.<br>
        +e.P.__subheading За здоровый образ жизни:
        +e.P.__text в спортивной компании – спортивный дух! PROSWIM спонсирует соревнования по плаванию, экипирует бассейны, фитнес-клубы, спортивные школы. Мы помогаем растить чемпионов и становиться ими, дарим талантливым спортсменам качественную экипировку и аксессуары, делая товары для плавания доступными для каждого.
