.filter-buttons {
  display: none;
  padding-top: 7px;

  @include screen(lg) {
    display: block;
  }

  &__grid:first-of-type {
    margin-top: -20px;
  }

  .button__icon {
    opacity: 0;
    @include performance;
  }

  .button.is-applied .button__icon {
    opacity: 1;
  }
}
