extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Оптовым покупателям'

block navbar
  +navbar

block content
  +b.page
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Оптовым покупателям'])
      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading Оптовым покупателям
      +form
      .content-zone.content-zone_big
        p Компания PROSWIM занимается оптовой торговлей товаров для плавания, водных видов спорта и активного отдыха. Мы находимся в Москве, на протяжении 10 лет успешно поставляем товары для плавания в розничные магазины, экипировочные центры, фитнес-клубы, бассейны и спортивные школы.
        p Наш ассортимент отличается широким выбором качественной продукции, отвечающей актуальным тенденциям мира водного спорта. Мы предлагаем более 5 000 позиций от 65 брендов, которые подойдут пловцам разного возраста и уровня подготовки: как детям, так и профессионалам. У нас вы сможете купить оптом очки и шапочки для плавания, купальники и плавки, гидрошорты и гидрокостюмы, тренажеры, электронные устройства, косметику для пловцов и другие товары, необходимые для тренировок и соревнований. Мы активно сотрудничаем с ведущими производителями товаров для плавания, в числе которых Speedo и Arena, а также являемся официальными дистрибьюторами компаний Finis, Zoggs, Strechcordz, Malmsten, Mosconi, Triswim, Vasa, Winart, Maru. Все это позволяет нам активно развивать российский рынок товаров для водных видов спорта, делая их доступными для каждого жителя России, стран ближнего и дальнего зарубежья.
      +features
block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
  +preview-popup
  +opt-status-popup
  +phonecall-status-popup
  +phonecall-status2-popup
  +subscribe-status-popup
  +subscribe-status2-popup
  +order-status-popup
  +callback-popup 
  +discount-popup
