.table {
  border-collapse: collapse;

  @include text;

  font-weight: 500;
  color: $color-basic;

  tr {
    padding: 0;
    margin: 0;

    &:nth-child(odd) {
      box-shadow: inset 0 1px 0 $color-lightenbluegrey,
      inset 0 -1px 0 $color-lightenbluegrey;
      background-color: white;
    }

    &:nth-child(even) {
      background-color: $color-lightengrey;
    }
  }

  td {
    padding: 18px 10px 17px;
    vertical-align: middle;

    @include screen('lg') {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 24px;

      @include screen('lg') {
        padding-right: 18px;
      }

      @include screen('sm') {
        padding-right: 15px;
      }

      @include screen('xs') {
        padding-right: 13px;
      }
    }

    &:first-child {
      font-weight: 400;
      color: $darkengrey-color;
      padding-left: 24px;

      @include screen('lg') {
        padding-left: 20px;
      }

      @include screen('sm') {
        padding-left: 15px;
      }

      @include screen('xs') {
        padding-left: 13px;
      }
    }
  }

  &_compare {
    font-weight: 400;
    color: $darkengrey-color;

    td {
      padding: 18px 10px 17px 32px;
      width: 25%;

      @include screen('lg') {
        padding: 18px 19px 17px 16px;
        width: 33.33%;

        &:last-child {
          padding-right: 20px;
        }
      }

      @include screen('sm') {
        padding: 18px 15px 17px;
        width: 50%;
        overflow: hidden;

        &:last-child {
          padding-right: 15px;
        }

        &:first-child {
          padding-left: 15px;
        }
      }
    }
  }
}
