.table {
  display: table;

  @include text;

  tr {
    padding: 0;
    margin: 0;
    display: block;
    border-bottom: 1px solid $color-border;
  }

  thead tr {
    border-width: 2px;
  }

  td {
    padding: 9px 20px 4.5px 0;
    vertical-align: middle;

    &:last-child { padding-right: 0; }
  }
}
