.breadcrumbs {
  display: block;

  &__item {
    display: inline-block;
    position: relative;

    .link {
      &__text {
        @include text-tiny;
        color: $darkgrey-color;
      }
    }

    &:not(:last-child) {
      padding-right: 22px;
    }

    &:last-child .link {
      pointer-events: none;

      &__text {
        color: $color-basic;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    width: 9px;
    height: 7px;
    fill: $darkgrey-color;
  }
}
