.footer {
  display: block;
  padding: 60px 0;
  background-color: $darkestgrey-color;

  @include screen(desktop) {
    padding: 40px 0;
  }

  @include screen(tablet) {
    padding: 27px 0;
  }

  &__logo {
    img {
      width: 152px;
      height: 33px;
    }

    @include screen(desktop) {
      display: none;
    }
  }

  &__social {
    margin-top: 18px;

    @include screen(desktop) {
      margin-top: -10px;
    }

    @include screen(tablet) {
      margin-top: 22px;
    }
  }

  &__copyright {
    display: block;
    margin-top: 18px;

    @include screen(desktop) {
      margin-top: 9px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: $indark-grey-color;
    fill: $indark-grey-color;
    padding-top: 8px;
    padding-bottom: 8px;
    @include text-small;
    transition: all $ease-main;

    &:hover {
      color: $indark-lightgrey-color;
      fill: $indark-lightgrey-color;
    }

    .footer__section_high & {
      padding-top: 4px;
      padding-bottom: 5px;
    }

    &icon {
      position: relative;
      display: inline-block;
      width: 17px;
      height: 17px;
      margin-right: 10px;
      flex-shrink: 0;

      svg {
        @include center-image;
        max-width: 100%;
        max-height: 100%;
        fill: inherit;
      }

      &_email {
        svg {
          width: 15px;
          height: 11px;
        }
      }
    }
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    margin: -36px 0 0 -33px;

    @include screen(desktop) {
      flex-wrap: wrap;
    }

    @include screen(tablet) {
      margin: 0 -15px;
    }
  }

  &__col {
    padding: 36px 0 0 33px;
    box-sizing: border-box;

    @include screen(desktop) {
      width: (100%/3);
    }

    &_info {
      padding-right: 4px;

      @include screen(desktop) {
        order: 6;
        padding-right: 0;
        padding-left: 25px;
      }
    }

    &_contacts {
      padding-right: 5px;

      @include screen(desktop) {
        padding-right: 0;
      }
    }

    &_service {
      @include screen(desktop) {
        padding-left: 28px;
      }
    }

    &_company {
      @include screen(desktop) {
        padding-left: 25px;
      }
    }

    &_payment {

    }

    &_delivery {
      @include screen(desktop) {
        padding-left: 28px;
      }
    }

    @include screen(tablet) {
      padding: 0 15px;
      width: 100%;

      & + & {
        border-bottom: 1px solid $color-basic;
      }
    }
  }

  &__section {
    display: block;
  }

  &__heading {
    position: relative;
    display: block;
    color: white;
    @include heading-6;
    margin-top: -.5em;
    margin-bottom: 8px;

    @include screen(tablet) {
      margin: 0;
      padding: 6px 25px 6px 0;
    }

    .footer__col_contacts & {
      @include screen(desktop) {
        margin-bottom: 9px;
      }

      @include screen(tablet) {
        margin-bottom: 0;
      }
    }

    .footer__section_high & {
      margin-bottom: 12px;

      @include screen(tablet) {
        margin-bottom: 0;
      }
    }

    &_accordion {
      @include screen(tablet) {
        cursor: pointer;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 13px;
          height: 2px;
          background-color: white;
          transition: transform $ease-main;
        }

        &::after {
          transform: translateY(-50%) rotate(90deg);
        }

        &.is-active::after {
          transform: translateY(-50%);
        }
      }
    }
  }

  &__body {
    font-size: 0;

    @include screen(tablet) {
      padding-top: 2px;
      padding-bottom: 19px;

      .footer__heading_accordion + & {
        display: none;
        padding-top: 6px;
        padding-bottom: 26px;
      }

      .footer__heading_accordion.is-active + & {
        display: block;
      }
    }

    &_wrap {
      margin: -20px 0 0 -18px;
      max-width: 158px;
      padding-top: 13px;

      @include screen(tablet) {
        padding-top: 15px;
        padding-bottom: 35px;

        .footer__heading_accordion + & {
          padding-top: 15px;
          padding-bottom: 35px;
        }
      }
    }
  }

  &__item {
    .footer__body_wrap & {
      display: inline-block;
      padding: 20px 0 0 18px;
    }
  }

  &__icon {
    fill: $indark-grey-color;
    transition: fill $ease-main;

    &link { display: inline-block; }

    &_sberbank {
      width: 104px;
      height: 20px;
    }

    &_yandex {
      width: 15px;
      height: 20px;
    }

    &_mastercard {
      width: 34px;
      height: 20px;
    }

    &_visa {
      width: 48px;
      height: 15px;
    }

    &_webmoney {
      width: 20px;
      height: 20px;
    }

    &_pochtarf {
      width: 41px;
      height: 20px;
    }

    &_grastin {
      width: 58px;
      height: 20px;
    }

    &_boxberry {
      width: 70px;
      height: 20px;
    }

    &_dpd {
      width: 46px;
      height: 20px;
    }

    .footer__iconlink:hover & { fill: $indark-lightgrey-color; }
  }
}
