.footer {
  display: block;
  padding: 60px 0;
  background-color: $darkestgrey-color;

  @include screen(desktop) {
    padding: 40px 0;
  }

  @include screen(tablet) {
    padding: 27px 0;
  }

  &__logo {
    img {
      width: 152px;
      height: 33px;
    }

    @include screen(desktop) {
      display: none;
    }
  }

  &__social {
    margin-top: 18px;

    @include screen(desktop) {
      margin-top: -10px;
    }

    @include screen(tablet) {
      margin-top: 22px;
    }
  }

  &__copyright {
    display: block;
    margin-top: 18px;

    @include screen(desktop) {
      margin-top: 9px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: $indark-grey-color;
    fill: $indark-grey-color;
    padding-top: 8px;
    padding-bottom: 8px;
    @include text-small;

    &icon {
      position: relative;
      display: inline-block;
      width: 17px;
      height: 17px;
      margin-right: 11px;
      flex-shrink: 0;

      svg {
        @include center-image;
        max-width: 100%;
        max-height: 100%;
      }

      &_email {
        svg {
          width: 15px;
          height: 11px;
        }
      }
    }
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    margin: -40px 0 0 -40px;

    @include screen(desktop) {
      flex-wrap: wrap;
    }

    @include screen(tablet) {
      margin: 0 -15px;
    }
  }

  &__col {
    padding: 40px 0 0 40px;
    box-sizing: border-box;

    @include screen(desktop) {
      width: (100%/3);
    }

    &_info {
      @include screen(desktop) {
        order: 6;
      }
    }

    @include screen(tablet) {
      padding: 0 15px;
      width: 100%;

      & + & {
        border-bottom: 1px solid $color-basic;
      }
    }
  }

  &__section {
    display: block;
  }

  &__heading {
    position: relative;
    display: block;
    color: white;
    @include heading-6;
    margin-top: -.5em;
    margin-bottom: 8px;

    @include screen(tablet) {
      margin: 0;
      padding: 6px 25px 6px 0;
    }

    &_accordion {
      @include screen(tablet) {
        cursor: pointer;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 12px;
          height: 2px;
          background-color: white;
          transition: transform $ease-main;
        }

        &::after {
          transform: translateY(-50%) rotate(90deg);
        }

        &.is-active::after {
          transform: translateY(-50%);
        }
      }
    }
  }

  &__body {
    font-size: 0;

    @include screen(tablet) {
      padding-top: 2px;
      padding-bottom: 18px;

      .footer__heading_accordion + & {
        display: none;
      }

      .footer__heading_accordion.is-active + & {
        display: block;
      }
    }

    &_wrap {
      margin: -20px 0 0 -20px;
      max-width: 165px;
      padding-top: 13px;

      @include screen(tablet) {
        padding-top: 15px;
      }
    }
  }

  &__item {
    .footer__body_wrap & {
      display: inline-block;
      padding: 20px 0 0 20px;
    }
  }
}
