mixin footer()
  +b.FOOTER.footer&attributes(attributes)
    .container
      +e.grid
        +e.col._info
          +logo(true).__logo
          +social-buttons.__social
            +social-button('fb')
            +social-button('vk')
            +social-button('instagram')
          +e.copyright
            +e.A(href='index.html').link © Proswim.ru 2009-2017
        +e.col._contacts
          +e.section
            +e.H6.heading Контакты
            +e.UL.body
              +e.LI.item
                +e.A.link(href='tel:84955808295')
                  +e.linkicon
                    +icon('Phone icon')
                  span Мск:&nbsp;&nbsp;8 (495) 580-82-95
              +e.LI.item
                +e.A.link(href='tel:88124492471')
                  +e.linkicon
                    +icon('Phone icon')
                  span СПб:&nbsp;&nbsp;8 (812) 449-24-71
              +e.LI.item
                +e.A.link(href='tel:88001002459')
                  +e.linkicon
                    +icon('Phone icon')
                  span 8 (800) 100-24-59
              +e.LI.item
                +e.A.link(href='mailto:info@proswim.ru')
                  +e.linkicon._email
                    +icon('Email icon')
                  span info@proswim.ru
        +e.col._service
          +e.section._high
            +e.H6.heading._accordion.js-footer-accordion Сервис
            +e.UL.body
              +e.LI.item
                +e.A.link(href='javascript:void(0);') Доставка
              +e.LI.item
                +e.A.link(href='javascript:void(0);') Оплата
              +e.LI.item
                +e.A.link(href='javascript:void(0);') Возврат
              +e.LI.item
                +e.A.link(href='javascript:void(0);') Мои заказы
              +e.LI.item
                +e.A.link(href='javascript:void(0);') Как сделать заказ
              +e.LI.item
                +e.A.link(href='javascript:void(0);') Юридическая информация

        +e.col._company
          +e.section._high
            +e.H6.heading._accordion.js-footer-accordion Компания
            +e.UL.body
              +e.LI.item
                +e.A.link(href='javascript:void(0);') Контакты
              +e.LI.item
                +e.A.link(href='javascript:void(0);') О нас
              +e.LI.item
                +e.A.link(href='javascript:void(0);') Розничные магазины
              +e.LI.item
                +e.A.link(href='javascript:void(0);') Пункт самовывоза
              +e.LI.item
                +e.A.link(href='javascript:void(0);') Отзывы покупателей
              +e.LI.item
                +e.A.link(href='javascript:void(0);') Оптовым покупателям

        +e.col._payment
          +e.section
            +e.H6.heading._accordion.js-footer-accordion Способы оплаты
            +e.UL.body._wrap
              +e.LI.item
                img(src="assets/images/footer/sberbank.png" alt="Sberbank")
              +e.LI.item
                img(src="assets/images/footer/yandex.png" alt="Yandex")
              +e.LI.item
                img(src="assets/images/footer/mastercard.png" alt="Mastercard")
              +e.LI.item
                img(src="assets/images/footer/visa.png" alt="Visa")
              +e.LI.item
                img(src="assets/images/footer/webmoney.png" alt="Webmoney")

        +e.col._delivery
          +e.section
            +e.H6.heading._accordion.js-footer-accordion Способы доставки
            +e.UL.body._wrap
              +e.LI.item
                img(src="assets/images/footer/pochta-rossii.png" alt="Pochta rossii")
              +e.LI.item
                img(src="assets/images/footer/grastin.png" alt="Grastin")
              +e.LI.item
                img(src="assets/images/footer/boxberry.png" alt="Boxberry")
              +e.LI.item
                img(src="assets/images/footer/dpd.png" alt="Dpd")
