.link {
  display: inline-block;

  &:hover {
    .link__text { color: $color-basic; }
    .link__icon { fill: $color-basic; }
  }

  &_return {
    margin-top: 42px;

    @include screen(lg) {
      margin-top: 30px;
    }

    @include screen(sm) {
      margin-top: 25px;
    }
  }

  &_dark {
    .link__text {
      color: $color-basic;
      border-color: $greyblue4-color;
    }

    .link__icon { fill: $color-basic; }

    &:hover,
    &.is-active {
      .link__text {
        color: $darkblue-color;
        border-color: $color-main;
      }

      .link__icon { fill: $darkblue-color; }
    }
  }

  &_grey {
    .link__text {
      color: $darkengrey-color;
      border-color: $greyblue4-color;
    }

    .link__icon {fill: $darkengrey-color; }

    &:hover,
    &.is-active {
      .link__text {
        color: $darkblue-color;
        border-color: $darkblue-color;
      }

      .link__icon { fill: $darkblue-color; }
    }
  }

  &_return,
  &_midgrey {
    .link__text {
      color: $darkgrey-color;
    }

    .link__icon { fill: $middlegrey2-color; }

    &:hover,
    &.is-active {
      .link__text { color: $color-basic; }
      .link__icon { fill: $color-basic; }
    }

    &.link_help {
      .link__icon { background-color: $middlegrey2-color; }

      &:hover .link__icon { background-color: $color-basic; }
    }
  }

  &_medium &__text {
    @include link-medium;
  }

  &__text {
    @include link;
    transition: color $ease-main,
                border-color $ease-main;

    .link_print & {
      font-size: 12px;
      font-weight: 500;
      line-height: (20/12);
    }
  }

  &_underline &__text {
    @include link-underline;
  }

  &_dashed &__text {
    @include link-dashed;
  }

  &_icon {
    position: relative;
    padding-left: 25px;

    &.link_print { padding-left: 20px; }
    &.link_return { padding-left: 23px; }

    .link__icon {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    fill: $color-main;
    transition: fill $ease-main;

    .link_help & {
      color: white;
      font-size: 11px;
      font-weight: 700;
      flex-shrink: 0;
      cursor: pointer;
      transition: background-color $ease-main;
      border-radius: 50%;
      line-height: 16px;
      text-align: center;

      &::after {
        content: '?';
      }
    }

    .link_print & {
      margin-top: 2px;
      width: 15px;
      height: 15px;
    }

    .link_return & {
      margin-top: 1px;
      width: 14px;
      height: 14px;
    }
  }

  &.is-disabled {
    pointer-events: none;

    .link__icon { fill: $color-border; }

    .link__text { @include link-disabled; }
  }
}
