mixin link()
  +b.A.link&attributes(attributes)
    +e.SPAN.text
      block

mixin link-icon(iconname)
  +b.A.link&attributes(attributes)._icon
    if iconname
      +icon(iconname).__icon
    else
      +e.icon
    +e.SPAN.text
      block
