.link {
  display: inline-block;

  &:hover {
    .link__text { color: $color-basic; }
    .link__icon { fill: $color-basic; }
  }

  &_dark {
    .link__text { color: $color-basic; }
    .link__icon { fill: $color-basic; }

    &:hover {
      .link__text { color: $darkblue-color; }
      .link__icon { fill: $darkblue-color; }
    }
  }

  &_grey {
    .link__text { color: $darkengrey-color; }
    .link__icon { fill: $darkengrey-color; }

    &:hover {
      .link__text { color: $darkblue-color; }
      .link__icon { fill: $darkblue-color; }
    }
  }

  &_medium &__text {
    @include link-medium;
  }

  &__text {
    @include link;
    transition: color $ease-main;

    .link_print & {
      font-size: 12px;
      font-weight: 500;
      line-height: (20/12);
    }
  }

  &_underline &__text {
    @include link-underline;
  }

  &_dashed &__text {
    @include link-dashed;
  }

  &_icon {
    position: relative;
    padding-left: 25px;

    &.link_print { padding-left: 20px; }

    .link__icon {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    fill: $color-main;
    transition: fill $ease-main;

    .link_print & {
      margin-top: 2px;
      width: 15px;
      height: 15px;
    }
  }

  &.is-disabled {
    pointer-events: none;

    .link__icon { fill: $color-border; }

    .link__text { @include link-disabled; }
  }
}
