mixin password-recovery-popup
  +popup.password-recovery-popup#password-recovery-popup
    +popup-header('Восстановить пароль')
    +popup-content.password-recovery-popup__content
      +e.subheading Введите E-mail на который #[br]был зарегистрирован аккаунт ProSwim.ru
      +e.FORM.form.__grid(method='post' action='/' data-parsley-validate)
        +col(12)
          +input(type='email' placeholder='Email адрес' required)._size_md
        +col(12)
          +button.BUTTON(type='submit')._size_big._block Выслать инструкцию
