.home-seo-section {
  display: block;
  padding-top: 55px;
  padding-bottom: 0;

  .content-zone {
    padding-right: 5px;

    @include screen(lg) {
      padding-right: 0;
    }
  }

  &__head {
    margin-bottom: 29px;

    @include screen(sm) {
      margin-bottom: 19px;
    }
  }

  &__grid {
    margin-top: 9px;
    margin-bottom: 28px;

    &:first-of-type {
      margin-top: 9px;
    }

    @include screen(lg) {
      margin-bottom: 19px;
    }
  }

  &__col {
    @include screen(sm) {
      width: 100%;
    }
  }

  &__cutoff {
    @include screen(sm) {
      padding-top: 20px;
      display: none;
    }
  }

  &__readmore {
    margin-top: 10px;
    .link { font-size: 15px; }

    @include screen(sm, min) {
      display: none;
    }
  }
}
