mixin home-seo-section()
  +section.home-seo-section
    .container
      +section-head('Магазин Proswim.ru').home-seo-section__head
      +section-content
        +content-zone
          p Интернет-магазин товаров для плавания Proswim предлагает одежду и&nbsp;аксессуары для начинающих и&nbsp;профессиональных пловцов любого возраста. У&nbsp;нас&nbsp;Вы найдете все необходимое для плавания с&nbsp;доставкой в&nbsp;Москве, Санкт-Петербурге и&nbsp;в&nbsp;регионы.
          p В&nbsp;нашем каталоге представлены товары от #[a(href='/') Speedo], #[a(href='/') Arena], #[a(href='/') Maru], #[a(href='/') ZOGGS], #[a(href='/') Finis], #[a(href='/') Mosconi], #[a(href='/') TYR] и&nbsp;других ведущих мировых брендов. Все товары являются подлинными и&nbsp;отличаются высоким качеством. Все снаряжение фирменное и&nbsp;сопровождается гарантией производителя.

        .home-seo-section__cutoff.js-seo-section-cutoff
          +grid.home-seo-section__grid
            +col(4).home-seo-section__col
              +content-zone.content-zone_small
                h5 Ассортимент
                p У&nbsp;нас есть все для плавания для детей, мужчин и&nbsp;женщин:
                ul
                  li купальники и&nbsp;плавки
                  li очки и&nbsp;шапочки для тренировок и&nbsp;соревнований
                  li стартовые гидрокостюмы и&nbsp;гидрошорты
                p В&nbsp;разделах &laquo;Хиты продаж&raquo;, &laquo;Новинки&raquo;&nbsp;- лучшие спортивные товары для плавания.

            +col(4).home-seo-section__col
              +content-zone.content-zone_small
                h5 Удобный каталог
                p Для удобства клиентов товары для плавания в&nbsp;бассейне и&nbsp;на&nbsp;открытой воде разделены на&nbsp;группы. Каталог поддерживает фильтрацию&nbsp;по:
                ul
                  li назначению
                  li производителю
                  li стоимости
                  li размеру
                p Самые выгодные предложения представлены в разделе Sale&nbsp;– это экипировка и&nbsp;аксессуары для плавания со&nbsp;скидками от&nbsp;магазина и&nbsp;по&nbsp;акциям производителя.
            +col(4).home-seo-section__col
              +content-zone.content-zone_small
                h5 Оплата и доставка
                p Оформить покупку в&nbsp;магазине товаров для плавания просто:
                ul
                  li выберите позицию;
                  li добавьте в&nbsp;корзину;
                  li нажмите &laquo;Оформить заказ&raquo; или купить в&nbsp;1&nbsp;клик.
                  li укажите свои данные;
                  li выберите способ доставки и&nbsp;оплаты
                p Вы&nbsp;получите покупку выбранным способом в&nbsp;срок от&nbsp;1-3&nbsp;дней.
                p Для оптовых клиентов действует гибкая система скидок.

          +content-zone
            p Посетите наши #[a(href='/') специализированные магазины], чтобы оценить большой ассортимент и&nbsp;получить профессиональную консультацию по&nbsp;выбору.

          +grid.home-seo-section__grid
            +col(4).home-seo-section__col
              +content-zone
                h5 Почему мы
                ul
                  li цены производителя без посредников;
                  li профессиональные консультации;
                  li широкий профильный ассортимент.
            +col(4).home-seo-section__col
              +content-zone
                h5 Оплата
                ul
                  li перечислением на&nbsp;счет;
                  li банковскими картами (онлайн и&nbsp;при получении);
                  li наличными курьеру.
            +col(4).home-seo-section__col
              +content-zone
                h5 Доставка
                ul
                  li в&nbsp;регионы&nbsp;РФ, страны СНГ, за&nbsp;рубеж;
                  li курьером, почтой России, транспортной компанией;
                  li в&nbsp;пункты самовывоза Proswim, Boxberry и&nbsp;Grastin.

          +content-zone
            p Все товары, в&nbsp;том числе плавки и&nbsp;купальники Speedo, Arena и&nbsp;других брендов вы&nbsp;можете заказать с&nbsp;услугой примерки на&nbsp;выбор. Желаем приятных покупок!
        .home-seo-section__readmore
          +link(href="javascript:void(0)").js-seo-section-more Читать далее
