extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Контакты'

block navbar
  +navbar

block content
  +b.page
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Контакты'])
      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading Контакты

      +section._simple
        +section-head('Интернет-магазин')
        +section-content
          +grid
            +col({ xl: 3, lg: 4, sm: 12 })
              +shop-description('Phone icon22', 'Москва:')
                p 8 (495) 580-82-95

            +col({ xl: 3, lg: 4, sm: 12 })
              +shop-description('Phone icon22', 'Санкт-Петербург:')
                p 8 (812) 449-24-71

            +col({ xl: 3, lg: 4, sm: 12 })
              +shop-description('Phone icon22', 'Бесплатно по РФ:')
                p 8 (800) 100-24-59

            +col({ xl: 3, lg: 4, sm: 12 })
              +shop-description('Time icon22', 'График работы менеджеров:')
                p c&nbsp;9.00 до&nbsp;21.00 без выходных, заказы через сайт принимаются круглосуточно

            +col({ xl: 3, lg: 5, sm: 12 })
              +shop-description('Email icon22', 'Email:')
                p По&nbsp;всем вопросам: #[a(href="mailto:info@proswim.ru") info@proswim.ru]

            +col({ xl: 9, lg: 12 })
              +shop-description('Reviews icon22', 'Поддержка:')
                p Для отзывов, похвалы или жалоб: #[a(href="mailto:info@proswim.ru") info@proswim.ru]
                p Если у&nbsp;вас возникли проблемы или сложные ситуации с&nbsp;заказами или нашими сотрудниками, пожалуйста, сообщите нам об&nbsp;этом и&nbsp;мы&nbsp;обязательно все уладим! Ведь клиенты для нас&nbsp;&mdash; самое ценное!

      +section._simple
        +section-head('Пункт самовывоза:')
        +section-content
          +grid
            +col({ xl: 9, lg: 8, sm: 12 })
              +map._md#pickup-contacts-map
            +col({ xl: 3, lg: 4, sm: 12 })
              +shop-location
                +shop-location-station м. Алексеевская
                +shop-location-addr
                  p м. Алекссевская,
                  p ул. 3-я Мытищинская, д. 16 стр. 47, офисное здание "Квант-М", 3 этаж,
                  p офис 329

                +shop-location-item('Phone icon22') 8 (495) 580-82-95
                +shop-location-item('Time icon22') Пн-Вс: 9.00-21.00
                +shop-location-print
                +shop-location-text
                  p Обращаем Ваше внимание, что здании осуществляется пропускная система, поэтому просим Вас взять с собой паспорт.

      +section._simple
        +section-head('Адреса наших магазинов в Москве:')
        +section-content
          +grid
            +col({ xl: 9, lg: 8, sm: 12 })
              +map._md#msk-shop-contacts-map
            +col({ xl: 3, lg: 4, sm: 12 })
              +shop-location
                +shop-location-station м. Ленинский проспект
                +shop-location-addr
                  p м. Ленинский проспект,
                  p ул. Вавилова, д. 3,
                  p ТЦ «Гагаринский», 2-й этаж

                +shop-location-item('Phone icon22') 8 (495) 730-30-62
                +shop-location-item('Time icon22')  с 9.00 до 22.00
                +shop-location-print

            +col({ xl: 3, lg: 4, sm: 12 })
              +shop-location
                +shop-location-station м. Проспект Мира
                +shop-location-addr
                  p м. Проспект Мира,
                  p пр-т Мира, д. 33,
                  p ТЦ «Олимпик Плаза», 2-й этаж

                +shop-location-item('Phone icon22') 8 (495) 698-63-75
                +shop-location-item('Time icon22') Пн.-Сб.: 10.00-21.00, Вс.:10.00-20.00
                +shop-location-print

            +col({ xl: 3, lg: 4, sm: 12 })
              +shop-location
                +shop-location-station м. Каширская
                +shop-location-addr
                  p м. Каширская,
                  p Каширское ш, д. 26,
                  p ТЦ «Москворечье», 3-й этаж

                +shop-location-item('Phone icon22') 8 (495) 730-30-62
                +shop-location-item('Time icon22') с 9.00 до 22.00
                +shop-location-print

            +col({ xl: 3, lg: 4, sm: 12 })
              +shop-location
                +shop-location-station м. Парк Культуры
                +shop-location-addr
                  p м. Парк Культуры,
                  p Турчанинов пер., д.3 стр 1,
                  p Бассейн "Чайка"

                +shop-location-item('Phone icon22') 8 (495) 730-30-62
                +shop-location-item('Time icon22') с 9.00 до 22.00
                +shop-location-print

            +col({ xl: 3, lg: 4, sm: 12 })
              +shop-location
                +shop-location-station м. Водный стадион
                +shop-location-addr
                  p м. Водный стадион,
                  p Головинское шоссе д 5, к 1,
                  p ТЦ «Водный», 2-й этаж

                +shop-location-item('Phone icon22') 8 (495) 109-02-29
                +shop-location-item('Time icon22') с 10.00 до 22.00
                +shop-location-print

      +section._simple
        +section-head('Адреса наших магазинов в Санкт-Петербурге:')
        +section-content
          +grid
            +col({ xl: 9, lg: 8, sm: 12 })
              +map._md#spb-shop-contacts-map
            +col({ xl: 3, lg: 4, sm: 12 })
              +shop-location
                +shop-location-station м. Сенная площадь
                +shop-location-addr
                  p м. Сенная площадь/ Садовая,
                  p ул. Ефимова, д. 2, лит. А,
                  p ТРК «ПИК», 3-й этаж

                +shop-location-item('Phone icon22') 8 (812) 449-24-71
                +shop-location-item('Time icon22') с 10.00 до 22.00
                +shop-location-print

      +section._simple
        +section-head('Почему стоит покупать у нас?')
        +section-content
          +button.A(href='javascript:void(0)')._features Наши преимущества

      +section._simple
        +section-head('Посетите наши страницы в соцсетях:')
        +section-content
          +social-buttons._big
            +social-button('vk')._big._colorized
            +social-button('fb')._big._colorized
            +social-button('instagram', true)._big._colorized
            +social-button('youtube')._big._colorized

          +grid
            +col({ xl: 6, sm: 12 })
              // Вместо этой заглушки нужно вставить виджет фейсбука
              div(style="height: 242px; border: 1px solid #c7d2d9; color: #c7d2d9; display: flex; align-items:center; justify-content: center; font-size: 20px;")
                | FACEBOOK WIDGET
            +col({ xl: 6, sm: 12 })
              // Вместо этой заглушки нужно вставить виджет вк
              div(style="height: 242px; border: 1px solid #c7d2d9; color: #c7d2d9; display: flex; align-items:center; justify-content: center; font-size: 20px;")
                | VK WIDGET

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
  +preview-popup
  +opt-status-popup
  +phonecall-status-popup
  +phonecall-status2-popup
  +subscribe-status-popup
  +subscribe-status2-popup
  +order-status-popup
  +callback-popup 
  +discount-popup
  +item-added-popup
