.list {
  @include list;
}

ul.list {
  @include ullist;
}

ol.list {
  @include ollist;
}

dl.list {
  @include dllist;
}

ol.list-multilevel {
  @include multilevellist;

  &:not(:first-child) {
    margin-top: 28px;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  img {
    width: 100%;
    height: auto;
    max-width: 980px;
    display: block;
    margin: 0 auto 62px;
    border: 1px solid $color-border;
    box-shadow: 0 16px 22px rgba(157, 164, 171, .46);
    background-color: $verylightgrey45-color;

    @include screen('md') {
      margin-bottom: 42px;
      box-shadow: 0 10px 16px rgba(157, 164, 171, .46);
    }

    @include screen('xs') {
      box-shadow: 0 8px 16px rgba(157, 164, 170, .46);
      margin-bottom: 33px;
    }

    &:not(:first-child) {
      margin-top: 16px;

      @include screen('md') {
        margin-top: 15px;
      }

      @include screen('xs') {
        margin-top: 14px;
      }
    }
  }

  p {
    &:not(:first-child) {
      margin-top: 13px;
    }

    small {
      display: block;

      @include text-small;
    }

    @include text;
  }

  a {
    @include link;

    color: $darkblue-color;

    &:hover {
      color: $color-basic;
    }
  }

  ul {
    @include list;
    @include ullist;

    padding: 10px 0 9px;

    li {
      @include screen('sm') {
        padding-left: 20px;

        &::before {
          left: 6px;
        }
      }
    }

    &.dashed {
      @include ullistdash;

      padding: 7px 0 8px;

      li {
        &:not(:last-child) {
          margin-bottom: 11px;
        }
      }
    }
  }

  table {
    width: 100%;

    @extend .table;

    margin-top: 19px;
    margin-bottom: 20px;

    @include screen('lg') {
      width: calc(100% + 40px);
      margin-left: -20px;
      margin-right: -20px;
    }

    @include screen('sm') {
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
    }

    @include screen('xs') {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-top: 16px;
    }

    tr {
      @include screen('xs') {
        display: block;
      }
    }

    td {
      width: 50%;

      @include screen('xs') {
        width: 100%;
        display: inline-block;
        padding-left: 13px;
        padding-right: 13px;
        box-sizing: border-box;
      }

      &:last-child {
        @include screen('xs') {
          padding-top: 0;
          padding-left: 13px;
        }
      }

      &:first-child {
        @include screen('xs') {
          padding-bottom: 4px;
          padding-right: 13px;
        }
      }
    }
  }

  &_bold {
    a {
      font-weight: 500;
    }
  }
}
