.section {
  display: block;
  padding: 53px 0 60px;

  &_grey { background-color: $lightgrey-color; }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 21px;

    &col {
      padding-left: 20px;
    }
  }

  &__heading {
    @include heading-2;
    flex: 1 1 auto;
  }

  &__button {
    display: block;
    text-align: center;
    margin-top: 40px;
  }
}
