mixin section
  +b.SECTION.section&attributes(attributes)
    block

mixin section-head(heading)
  +e.HEADER.head&attributes(attributes)
    if heading
      +e.H2.heading=heading
    if block
      block

mixin section-head-col
  +e.DIV.headcol&attributes(attributes)
    block

mixin section-content
  +e.content&attributes(attributes)
    block

mixin section-button(text)
  +e.button&attributes(attributes)
    +button=`${text || 'Смотреть все'}`
