mixin evaluations()
  +b.UL.evaluations&attributes(attributes)
    block

mixin evaluation(kind)
  - var mod = ''
  - var icon = ''

  if kind === 'like'
    - mod = 'like'
    - action = 'like'

  if kind === 'dislike'
    - mod = 'dislike'
    - action = 'dislike'

  +b.LI.evaluation.js-evaluation(data-evaluate-action=mod class=`evaluation_${mod}`)
    +icon('Good').icon
    +e.SPAN.text
      block
