extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Главная'

block content
  +b.page
    +hero-slider
    +brands-section(getData('brands-section'))
    +categories-section(getData('categories-section'))
block popups
