extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Главная'

block navbar
  +navbar

block content
  +b.page
    +hero-slider

    +section
      +section-content
        .container
          +brands-section(getData('brands-section'))
          +categories-section(getData('categories-section'))

    +products-section(getData('new-cards-section'))
    +reviews-section(getData('reviews-section'))
    +articles-section(getData('articles-section'))
    +home-seo-section

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
  +preview-popup
  +opt-status-popup
  +phonecall-status-popup
  +phonecall-status2-popup
  +subscribe-status-popup
  +subscribe-status2-popup
  +order-status-popup
  +callback-popup 
  +discount-popup
