extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Главная'

block content
  +b.page
    +hero-slider
    +brands-section(getData('brands-section'))
    +categories-section(getData('categories-section'))
    +products-section(getData('new-cards-section'))
    +reviews-section(getData('reviews-section'))

block popups
