extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Очки для плавания'

block content
  +b.page
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Очки', 'Очки для плавания'])

      +grid
        +col(3)
          +sidebar
            - var categoriesAcccordionData = getData('catalog-categories-menu')
            - var reviewsData = getData('catalog-sidebar-reviews')

            +sidebar-item
              each categoriesAccordion, index in categoriesAcccordionData
                +vertical-menu(categoriesAccordion.title, categoriesAccordion.links, true)._accordion(class=index === 0 ? 'is-active' : '')

            +sidebar-item
              +card-widget('Случайный отзыв:', 'Все отзывы')
                +review-card(reviewsData[0])._simple

            +sidebar-item
              +card-widget('Отзыв о магазине:', 'Все отзывы')
                +review-card(reviewsData[1])._simple

        +col(9)
          +sort-ui('Очки для плавания', '174 товара')
            +sort-dropdown
              +sort-dropdown-button По популярности
              +sort-dropdown-body
          +filter-section('Фильтры:')
            +filter-section-grid
              +filter-section-col
                +filter-section-heading Фильтры:
              +filter-section-col
                +sort-dropdown
                  +sort-dropdown-button Любой товар
                  +sort-dropdown-body
              +filter-section-col
                +sort-dropdown
                  +sort-dropdown-button Любой пол
                  +sort-dropdown-body
              +filter-section-col
                +sort-dropdown
                  +sort-dropdown-button Любой бренд
                  +sort-dropdown-body
              +filter-section-col
                +sort-dropdown
                  +sort-dropdown-button Любая цена
                  +sort-dropdown-body

          +catalog-section(getData('catalog-cards'))

          +section-footer

          +catalog-seo-section

block popups
