.button {
  display: inline-block;
  height: 42px;
  padding: 0 30px;
  border: 1px solid transparent;
  vertical-align: middle;
  box-sizing: border-box;
  transition: all $ease-main;
  cursor: pointer;
  box-shadow: 0 12px 20px rgba(9, 166, 231, .2);
  border-radius: 2px;
  background-color: $color-main;
  @include heading-6;
  color: white;
  line-height: 40px;

  &:disabled,
  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover,
  &.is-active {
    background-color: $darkblue-color;
  }

  &_size_md {
    line-height: 36px;
    height: 38px;
    padding: 0 19px;
    font-size: 13px;
    font-weight: 500;
  }
}
