.button {
  display: inline-block;
  height: 42px;
  padding: 0 30px;
  border: 1px solid transparent;
  vertical-align: middle;
  box-sizing: border-box;
  transition: all $ease-main;
  cursor: pointer;
  box-shadow: 0 12px 20px rgba(9, 166, 231, .2);
  border-radius: 2px;
  background-color: $color-main;
  @include heading-6;
  color: white;
  fill: white;
  line-height: 40px;
  text-align: center;

  &:disabled,
  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover,
  &.is-active {
    background-color: $darkblue-color;
    box-shadow: 0 16px 22px rgba(67, 183, 232, .4);
    color: white;
    fill: white;
  }

  &_size_sm {
    padding: 0 13px;
    @include text-small;
    height: 32px;
    line-height: 30px;
  }

  &_size_md {
    line-height: 36px;
    height: 38px;
    padding: 0 19px;
    font-size: 13px;
    font-weight: 500;
  }

  &_size_big {
    height: 48px;
    line-height: 46px;
  }

  &_block {
    width: 100%;
  }

  &_transparent {
    border: 1px solid $anotherlightblue-color;
    background-color: transparent;
    color: $darkblue-color;
    box-shadow: none;
    fill: $darkblue-color;

    &:hover,
    &.is-active {
      border-color: $darkblue-color;
    }

    &.is-disabled {
      border: 1px solid $verylightblue-color;
      color: $midblue-color;
      fill: $midblue-color;
      opacity: 1;
    }
  }

  &_greyblue {
    box-shadow: 0 12px 20px rgba(106, 142, 156, 0.2);
    background-color: $dirtyblue-color;
    color: white;

    &:hover,
    &.is-active {
      box-shadow: 0 16px 22px rgba(109, 147, 161, 0.4);
      border-color: $dirtyblue2-color;
      background-color: $dirtyblue2-color;
    }

    &.is-disabled {
      opacity: .75;
    }
  }

  &__icon {
    margin-bottom: -2px;
    margin-right: 5px;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    fill: inherit;

    &_cancel {
      width: 14px;
      height: 14px;
    }

    &_check {
      width: 12px;
      height: 9px;
      margin-left: 5px;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &_features {
    padding-left: 33px;
    padding-right: 33px;
    margin-top: -1px;
    margin-bottom: 11px;

    @include screen(lg) {
      min-width: 290px;
      margin-bottom: 16px;
    }

    @include screen(sm) {
      width: 100%;
      margin-bottom: 10px;
      margin-top: 2px;
    }
  }
}
