.sidebar {
  display: block;

  &__item {
    padding-bottom: 24px;

    &:first-child {
      margin-top: -4px;
    }

    &:not(:last-child) {
      margin-bottom: 26px;
      border-bottom: 1px solid $color-border;
    }
  }
}
