extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Регистрация'

block navbar
  +navbar

block content
  +b.page
    +registration-popup(true)

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
