extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Товары в корзине'

block navbar
  +navbar

block content
  +b.page
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Корзина'])
      .grid.page__steps
        +col({ xl: 9, lg: 12 })
          +step-menu
            +step-menu-item.is-active Содержимое <br>корзины
            +step-menu-sep
            +step-menu-item Доставка <br>и оплата
            +step-menu-sep
            +step-menu-item Подтверждение <br>заказа
      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading Товары в корзине

      +grid.cart
        +col({ xl: 9, lg: 12 })
          +product-cart-items._card
            +product-cart-item._card.js-product-cart-item(data-item-price="13792" data-item-count="1" data-item-discount="10")
              +product-cart-item-remove
              +product-cart-item-grid
                +product-cart-item-col._image
                  +product-cart-item-image('content-img/cart/2401-copy-2.jpg', 'Очки для плавания Cobra Mirror')
              +product-cart-item-grid
                +product-cart-item-col._description
                  +product-cart-item-textblock._heading
                    +product-cart-item-text Очки для плавания Cobra Mirror
                  +product-cart-item-textblock
                    +product-cart-item-text._grey._sm Размер:
                    +product-cart-item-text._sm XS
                  +product-cart-item-textblock
                    +product-cart-item-text._grey._sm Цвет:
                    +product-cart-item-text._sm хамелеон
                  +product-cart-item-textblock
                    +product-cart-item-text._grey._sm Артикул:
                    +product-cart-item-text._sm 92354

                +product-cart-item-col._price.is-empty
                  +product-cart-item-textblock
                    +product-cart-item-text._md._blue.js-product-cart-item-discounts #[SPAN.js-product-cart-item-price 13 792] #[SPAN.hide-lg руб.]#[SPAN.hide-lg-min x] #[SPAN.hide-lg-min.js-product-cart-item-count 1]

                +product-cart-item-col._count
                  +inputbox
                    +input-number(value="1").js-product-cart-item-input

                +product-cart-item-col._total
                  +product-cart-item-textblock
                    +product-cart-item-text._md._blue #[SPAN.js-product-cart-item-amount 13 792] руб.

            +product-cart-item._card.js-product-cart-item(data-item-price="3999" data-item-count="2")
              +product-cart-item-remove
              +product-cart-item-grid
                +product-cart-item-col._image
                  +product-cart-item-image('content-img/cart/2401-copy-2.jpg', 'Очки для плавания Cobra Mirror')
              +product-cart-item-grid
                +product-cart-item-col._description
                  +product-cart-item-textblock._heading
                    +product-cart-item-text Speedo Очки для плавания Fastskin 3 Elite Mirror
                  +product-cart-item-textblock
                    +product-cart-item-text._grey._sm Размер:
                    +product-cart-item-text._sm XS
                  +product-cart-item-textblock
                    +product-cart-item-text._grey._sm Цвет:
                    +product-cart-item-text._sm хамелеон
                  +product-cart-item-textblock
                    +product-cart-item-text._grey._sm Артикул:
                    +product-cart-item-text._sm 92354

                +product-cart-item-col._price
                  +product-cart-item-textblock
                    +product-cart-item-text._md._blue #[SPAN.js-product-cart-item-price 3 999] #[SPAN.hide-lg руб.]#[SPAN.hide-lg-min x] #[SPAN.hide-lg-min.js-product-cart-item-count 2]

                +product-cart-item-col._count
                  +inputbox
                    +input-number(value="2").js-product-cart-item-input

                +product-cart-item-col._total
                  +product-cart-item-textblock
                    +product-cart-item-text._md._blue #[SPAN.js-product-cart-item-amount 7 998] руб.

            +product-cart-item._card
              +product-cart-item-gift
              +product-cart-item-grid
                +product-cart-item-col._image
                  +product-cart-item-image('content-img/cart/1.jpg', 'Шоколад "I LOVE SWIM"')
              +product-cart-item-grid
                +product-cart-item-col._description
                  +product-cart-item-textblock._heading
                    +product-cart-item-text Шоколад "I LOVE SWIM"
                  +product-cart-item-textblock
                    +product-cart-item-text._grey._sm Вес:
                    +product-cart-item-text._sm 5г
                  +product-cart-item-textblock
                    +product-cart-item-text._grey._sm Тип:
                    +product-cart-item-text._sm молочный шоколад

                +product-cart-item-col._heading
                  +product-cart-item-textblock
                    +product-cart-item-text._md._blue Подарок от Proswim.ru

        +col({ xl: 3, lg: 12 })
          +total


      +link-icon('Return icon')(href="catalog.html")._return Вернуться к покупкам

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
  +preview-popup
  +opt-status-popup
  +phonecall-status-popup
  +phonecall-status2-popup
  +subscribe-status-popup
  +subscribe-status2-popup
  +order-status-popup
  +callback-popup
  +discount-popup
  +item-added-popup
  +cart-delete-popup#cart-delete-popup
