extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Доставка и оплата'

block content
  +b.page
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Корзина'])
      .grid.page__steps
        +col({ xl: 9, lg: 12 })
          +step-menu
            +step-menu-item.is-active Содержимое <br>корзины
            +step-menu-sep
            +step-menu-item.is-active Доставка <br>и оплата
            +step-menu-sep
            +step-menu-item Подтверждение <br>заказа
      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading Товары в корзине

      +grid.cart
        +col({ xl: 9, lg: 12 })

        +col({ xl: 3, lg: 12 })
          +total-delivery

      p.cart__returnlink
        +link-icon('Return icon')(href="catalog.html")._return Вернуться к покупкам

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
