extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Доставка и оплата'

block content
  +b.page
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Корзина'])
      .grid.page__steps
        +col({ xl: 9, lg: 12 })
          +step-menu
            +step-menu-item.is-active Содержимое <br>корзины
            +step-menu-sep
            +step-menu-item.is-active Доставка <br>и оплата
            +step-menu-sep
            +step-menu-item Подтверждение <br>заказа
      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading Доставка и оплата

      +grid.cart
        +col({ xl: 9, lg: 12 })
          form(action="/" method="POST" data-parsley-validate)
            +fieldsets
              +fieldset
                +fieldset-head
                  +fieldset-head-col._flexible
                    +fieldset-heading Контактная информация
                +fieldset-body
                  +grid
                    +col({ xl: 8, lg: 12 })
                      +inputbox('Фамилия, имя *')
                        +input(name="name" placeholder="Фамилия, имя" required)._size_md
                  +grid
                    +col({ xl: 4, lg: 6, sm: 12 })
                      +inputbox('Телефон *')
                        +input(name="phone" placeholder="Телефон" required data-type="tel")._size_md
                    +col({ xl: 4, lg: 6, sm: 12 })
                      +inputbox('Email *')
                        +input(name="email" type="email" placeholder="Email" required)._size_md

              +fieldset
                +fieldset-head
                  +fieldset-head-col._flexible
                    +fieldset-heading Способ доставки
                  +fieldset-head-col
                    +link._grey Как работать с калькулятором
                    +tooltip-icon
                +fieldset-body
                  +grid
                    +col({ xl: 8, lg: 12 })
                      +inputbox('Город доставки:')
                        +select(data-search-enabled="true" data-search-placeholder="Введите название города...")
                          option(value="1") Абакан (Хакасия республика)
                          option(value="2") Абан (Красноярский край)
                          option(value="3") Абатский (Тюменская область)
                          option(value="4") Абрамовский маяк (Архангельская область)
                          option(value="5") Агата (Эвенкийский автономный округ)
                          option(value="6") Агаякан (Саха(Якутия) республика)
                          option(value="7") Агзу (риморский край)
                          option(value="8") Агинское (Красноярский край)
                          option(value="9") Агинское (Агинский Бурятский автономный округ)
                          option(value="10") БАйхал (Саха(Якутия) республика)
                          option(value="11") БАбакан (Хакасия республика)
                          option(value="12") БАбан (Красноярский край)
                          option(value="13") БАбатский (Тюменская область)
                          option(value="14") БАбрамовский маяк (Архангельская область)
                          option(value="15") БАгата (Эвенкийский автономный округ)
                          option(value="16") БАгаякан (Саха(Якутия) республика)
                          option(value="17") БАгзу (риморский край)
                          option(value="18") БАгинское (Красноярский край)
                          option(value="19") БАгинское (Агинский Бурятский автономный округ)
                          option(value="20") БАйхал (Саха(Якутия) республика)

                      +inputbox
                        +checkbox('no-city', 1) Моего города нет в списке

                    +col({ xl: 8, lg: 12 })
                      +inputbox('Введите название вашего города:')
                        +input(type="text" placeholder="название города")._size_md

                    +col(12).fieldset__delivery
                      +inputbox('Служба доставки:')
                        +checkitems
                          +checkitem('Курьерская доставка')(data-tab-target="delivery-1").is-active
                          +checkitem('Пункты самовывоза')(data-tab-target="delivery-2")
                            +tooltip-icon
                          +checkitem('Почтой России до отделения')(data-tab-target="delivery-3")


                  +tabs-content
                    +tab-wrapper()(data-tab="delivery-1" data-tab-group="deliverytabs").is-active
                      +grid
                        +col({ xl: 8, sm: 12 })
                          +delivery-services
                            +delivery-service
                              +delivery-service-grid
                                +delivery-service-col._company
                                  +radio('delivery-company', 'grastin')._icon
                                    +icon('grastin', true).icon.icon_grastin
                              +delivery-service-grid._group
                                +delivery-service-col._title
                                  +delivery-service-text Курьерская доставка
                                  +tooltip-icon
                                +delivery-service-col._price
                                  +delivery-service-text 350 руб.
                                +delivery-service-col._time
                                  +delivery-service-text 1-2 д.
                            +delivery-service
                              +delivery-service-grid
                                +delivery-service-col._company
                                  +radio('delivery-company', 'boxberry')._icon
                                    +icon('boxberry', true).icon.icon_boxberry
                              +delivery-service-grid._group
                                +delivery-service-col._title
                                  +delivery-service-text Курьерская доставка
                                  +tooltip-icon
                                +delivery-service-col._price
                                  +delivery-service-text 110 руб.
                                +delivery-service-col._time
                                  +delivery-service-text 1-2 д.
                            +delivery-service
                              +delivery-service-grid
                                +delivery-service-col._company
                                  +radio('delivery-company', 'dpd')._icon
                                    +icon('dpd', true).icon.icon_dpd
                              +delivery-service-grid._group
                                +delivery-service-col._title
                                  +delivery-service-text Предоплаченный заказ
                                  +tooltip-icon
                                +delivery-service-col._price
                                  +delivery-service-text 190 руб.
                                +delivery-service-col._time
                                  +delivery-service-text 2-3 д.
                            +delivery-service
                              +delivery-service-grid
                                +delivery-service-col._company
                                  +radio('delivery-company', 'dpd')._icon
                                    +icon('dpd', true).icon.icon_dpd
                              +delivery-service-grid._group
                                +delivery-service-col._title
                                  +delivery-service-text Наложенный платеж
                                  +tooltip-icon
                                +delivery-service-col._price
                                  +delivery-service-text 190 руб.
                                +delivery-service-col._time
                                  +delivery-service-text 2-3 д.
                          +content-zone
                            p Сроки доставуки указаны в рабочих днях, не считая дня оформления заказа.
                      +grid
                        +col({ xl: 4, sm: 12 })
                          +inputbox('Улица:')
                            +input(name="ulica" type="text" placeholder="Улица")._size_md
                        +col({ xl: 4, sm: 12 })
                          +inputbox('Дом:')
                            +input(name="dom" type="text" placeholder="Квартира")._size_md
                      +grid
                        +col({ xl: 4, sm: 12 })
                          +inputbox('Корпус:')
                            +input(name="korpus" type="text" placeholder="Корпус")._size_md
                        +col({ xl: 4, sm: 12 })
                          +inputbox('Квартира:')
                            +input(name="dom" type="text" placeholder="Квартира")._size_md
                      +grid
                        +col({ xl: 4, sm: 12 })
                          +inputbox('Дата доставки:')
                            +input-btn('calendar')
                              +input(name="data-dostavki" type="text" placeholder="Выберите дату доставки" data-date-format='d MM, yyyy')._size_md.js-datepicker
                        +col({ xl: 4, sm: 12 })
                          +inputbox('Время доставки:')
                            +select(data-toggler-icon='clock-copy' data-toggler-icon-mod='clock')
                              option(value="1") с 16:00 до 18:00
                              option(value="2") с 16:00 до 18:00
                              option(value="3") с 16:00 до 18:00
                              option(value="4") с 16:00 до 18:00
                              option(value="5") с 16:00 до 18:00
                              option(value="6") с 16:00 до 18:00
                      +grid
                        +col(8)
                          +inputbox('Комментарий:')
                            +textarea(placeholder="Комментарий").textarea_big

                    +tab-wrapper()(data-tab="delivery-2" data-tab-group="deliverytabs")
                      +grid
                        +col({ xl: 8, sm: 12 })
                          +delivery-services
                            +delivery-service
                              +delivery-service-grid
                                +delivery-service-col._company
                                  +radio('delivery-company', 'grastin')._icon
                                    +icon('grastin', true).icon.icon_grastin
                              +delivery-service-grid._group
                                +delivery-service-col._title
                                  +delivery-service-text Proswim
                                  +tooltip-icon
                                +delivery-service-col._price
                                  +delivery-service-text 0 руб.
                                +delivery-service-col._time
                                  +delivery-service-text 1 д.
                            +delivery-service
                              +delivery-service-grid
                                +delivery-service-col._company
                                  +radio('delivery-company', 'grastin')._icon
                                    +icon('grastin', true).icon.icon_grastin
                              +delivery-service-grid._group
                                +delivery-service-col._title
                                  +delivery-service-text Grastin
                                  +tooltip-icon
                                +delivery-service-col._price
                                  +delivery-service-text 110 руб.
                                +delivery-service-col._time
                                  +delivery-service-text 1-2 д.
                            +delivery-service
                              +delivery-service-grid
                                +delivery-service-col._company
                                  +radio('delivery-company', 'boxberry')._icon
                                    +icon('boxberry', true).icon.icon_boxberry
                              +delivery-service-grid._group
                                +delivery-service-col._title
                                  +delivery-service-text Boxberry
                                  +tooltip-icon
                                +delivery-service-col._price
                                  +delivery-service-text 241 руб.
                                +delivery-service-col._time
                                  +delivery-service-text 2-3 д.
                          +content-zone
                            p Сроки доставуки указаны в рабочих днях, не считая дня оформления заказа.
                        //- Выбор пункта выдачи
                        +col(12)
                          +map#delivery-map

                          +content-zone
                            p Выберите на карте удобный для Вас пункт выдачи заказов и нажмите кнопку "Добавить сюда"
                        //- Пункт выдачи выбран
                        +col({ xl: 8, sm: 12 })
                          +address-popup-section
                            +address-popup._chosen
                          +inputbox('Комментарий:')
                            +textarea(placeholder="Комментарий").textarea_big

                    +tab-wrapper()(data-tab="delivery-3" data-tab-group="deliverytabs")
                      +grid
                        +col({ xl: 8, sm: 12 })
                          +delivery-services
                            +delivery-service
                              +delivery-service-grid
                                +delivery-service-col._company
                                  +radio('delivery-company', 'pochtarf')._icon
                                    +icon('PochtaRF', true).icon.icon_pochtarf
                              +delivery-service-grid._group
                                +delivery-service-col._title
                                  +delivery-service-text Посылка онлайн
                                  +tooltip-icon
                                +delivery-service-col._price
                                  +delivery-service-text 249 руб.
                                +delivery-service-col._time
                                  +delivery-service-text 4-5 д.
                            +delivery-service
                              +delivery-service-grid
                                +delivery-service-col._company
                                  +radio('delivery-company', 'pochtarf')._icon
                                    +icon('PochtaRF', true).icon.icon_pochtarf
                              +delivery-service-grid._group
                                +delivery-service-col._title
                                  +delivery-service-text Стандарт
                                  +tooltip-icon
                                +delivery-service-col._price
                                  +delivery-service-text 200 руб.
                                +delivery-service-col._time
                                  +delivery-service-text 10-14 д.
                          +content-zone
                            p Сроки доставуки указаны в рабочих днях, не считая дня оформления заказа.
                      +grid
                        +col({ xl: 4, sm: 12 })
                          +inputbox('Улица:')
                            +input(name="ulica" type="text" placeholder="Улица")._size_md
                        +col({ xl: 4, sm: 12 })
                          +inputbox('Дом:')
                            +input(name="dom" type="text" placeholder="Квартира")._size_md
                      +grid
                        +col({ xl: 4, sm: 12 })
                          +inputbox('Корпус:')
                            +input(name="korpus" type="text" placeholder="Корпус")._size_md
                        +col({ xl: 4, sm: 12 })
                          +inputbox('Квартира:')
                            +input(name="dom" type="text" placeholder="Квартира")._size_md
                      +grid
                        +col({ xl: 4, sm: 12 })
                          +inputbox('Дата доставки:')
                            +input-btn('calendar')
                              +input(name="data-dostavki" type="text" placeholder="Выберите дату доставки" data-date-format='d MM, yyyy')._size_md.js-datepicker
                        +col({ xl: 4, sm: 12 })
                          +inputbox('Время доставки:')
                            +select(data-toggler-icon='clock-copy' data-toggler-icon-mod='clock')
                              option(value="1") С 16:00 до 18:00
                              option(value="2") С 16:00 до 18:00
                              option(value="3") С 16:00 до 18:00
                              option(value="4") С 16:00 до 18:00
                              option(value="5") С 16:00 до 18:00
                              option(value="6") С 16:00 до 18:00
                      +grid
                        +col(8)
                          +inputbox('Комментарий:')
                            +textarea(placeholder="Комментарий").textarea_big

              +fieldset
                +fieldset-head
                  +fieldset-head-col._flexible
                    +fieldset-heading Способ оплаты
                +fieldset-body
                  +inputbox
                    +radio('payment-method', 1, true) Оплата наличными
                  +inputbox
                    +radio('payment-method', 2, false) Онлайн оплата картой #[+tooltip-icon]
                  +inputbox
                    +radio('payment-method', 3, false) Оплата по счету через любое отделение банка

                  +content-zone
                    p Для оформления заказа нажмите кнопку "Оформить заказ".
                    p Наш менеджер свяжется с Вами и Вы сможете оплатить заказ через Личный кабинет на сайте не входя из дома. В течение 10 минут мы получим от Вас оплату и займемся сборкой заказа.
                    p Платежи производятся напрямую через защищенное соединение компанией Сбербанк. Компания Proswim.ru не имеет доступа к вашим данным.

              +fieldset
                +fieldset-head
                  +fieldset-head-col._flexible
                    +fieldset-heading Товары в корзине
                +fieldset-body
                  +product-cart-items
                    +product-cart-item._field
                      +product-cart-item-remove

                      +product-cart-item-grid
                        +product-cart-item-col
                          +product-cart-item-image('content-img/cart/2401-copy-2.jpg', 'Очки для плавания Cobra Mirror')
                      +product-cart-item-grid
                        +product-cart-item-col._fieldheading
                          +product-cart-item-textblock
                            +product-cart-item-text Очки для плавания Cobra Mirror
                          +product-cart-item-textblock
                            +product-cart-item-text._count 1 шт.

                        +product-cart-item-col
                          +product-cart-item-textblock
                            +product-cart-item-text._grey._sm Размер:
                            +product-cart-item-text._sm XS
                          +product-cart-item-textblock
                            +product-cart-item-text._grey._sm Цвет:
                            +product-cart-item-text._sm хамелеон
                          +product-cart-item-textblock
                            +product-cart-item-text._grey._sm Артикул:
                            +product-cart-item-text._sm 92354

                    +product-cart-item._field
                      +product-cart-item-remove

                      +product-cart-item-grid
                        +product-cart-item-col
                          +product-cart-item-image('content-img/cart/2401-copy-2.jpg', 'Очки для плавания Cobra Mirror')
                      +product-cart-item-grid
                        +product-cart-item-col._fieldheading
                          +product-cart-item-textblock
                            +product-cart-item-text Очки для плавания Cobra Mirror
                          +product-cart-item-textblock
                            +product-cart-item-text._count 2 шт.

                        +product-cart-item-col
                          +product-cart-item-textblock
                            +product-cart-item-text._grey._sm Размер:
                            +product-cart-item-text._sm XS
                          +product-cart-item-textblock
                            +product-cart-item-text._grey._sm Цвет:
                            +product-cart-item-text._sm хамелеон
                          +product-cart-item-textblock
                            +product-cart-item-text._grey._sm Артикул:
                            +product-cart-item-text._sm 92354
                    +product-cart-item._field
                      +product-cart-item-gift._simple

                      +product-cart-item-grid
                        +product-cart-item-col
                          +product-cart-item-image('content-img/cart/1.jpg', 'Шоколад “I LOVE SWIM”')
                      +product-cart-item-grid
                        +product-cart-item-col._fieldheading
                          +product-cart-item-textblock
                            +product-cart-item-text Шоколад “I LOVE SWIM”
                          +product-cart-item-textblock
                            +product-cart-item-text._count 1 шт.

                        +product-cart-item-col
                          +product-cart-item-textblock
                            +product-cart-item-text._grey._sm Вес:
                            +product-cart-item-text._sm 5г
                          +product-cart-item-textblock
                            +product-cart-item-text._grey._sm Тип:
                            +product-cart-item-text._sm Молочный шоколад

        +col({ xl: 3, lg: 12 })
          +total-delivery

      p.cart__returnlink
        +link-icon('Return icon')(href="catalog.html")._return Вернуться к покупкам

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
