extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Доставка и оплата'

block content
  +b.page
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Корзина'])
      .grid.page__steps
        +col({ xl: 9, lg: 12 })
          +step-menu
            +step-menu-item.is-active Содержимое <br>корзины
            +step-menu-sep
            +step-menu-item.is-active Доставка <br>и оплата
            +step-menu-sep
            +step-menu-item Подтверждение <br>заказа
      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading Доставка и оплата

      +grid.cart
        +col({ xl: 9, lg: 12 })
          form(action="/" method="POST" data-parsley-validate)
            +fieldsets
              +fieldset
                +fieldset-head
                  +fieldset-head-col._flexible
                    +fieldset-heading Контактная информация
                +fieldset-body
                  +grid
                    +col(8)
                      +inputbox('Фамилия, имя *')
                        +input(name="name" placeholder="Фамилия, имя" required).input_size_md
                  +grid
                    +col(4)
                      +inputbox('Телефон *')
                        +input(name="phone" placeholder="Телефон" required data-type="tel").input_size_md
                    +col(4)
                      +inputbox('Email *')
                        +input(name="email" type="email" placeholder="Email" required).input_size_md

              +fieldset
                +fieldset-head
                  +fieldset-head-col._flexible
                    +fieldset-heading Способ доставки
                  +fieldset-head-col
                    +link._grey Как работать с калькулятором
                    +tooltip-icon
                +fieldset-body
                  +grid
                    +col(8)
                      +inputbox('Город доставки:')
                        +select(data-search-enabled="true")
                          option(value="1") Абакан (Хакасия республика)
                          option(value="2") Абан (Красноярский край)
                          option(value="3") Абатский (Тюменская область)
                          option(value="4") Абрамовский маяк (Архангельская область)
                          option(value="5") Агата (Эвенкийский автономный округ)
                          option(value="6") Агаякан (Саха(Якутия) республика)
                          option(value="7") Агзу (риморский край)
                          option(value="8") Агинское (Красноярский край)
                          option(value="9") Агинское (Агинский Бурятский автономный округ)
                          option(value="10") БАйхал (Саха(Якутия) республика)
                          option(value="11") БАбакан (Хакасия республика)
                          option(value="12") БАбан (Красноярский край)
                          option(value="13") БАбатский (Тюменская область)
                          option(value="14") БАбрамовский маяк (Архангельская область)
                          option(value="15") БАгата (Эвенкийский автономный округ)
                          option(value="16") БАгаякан (Саха(Якутия) республика)
                          option(value="17") БАгзу (риморский край)
                          option(value="18") БАгинское (Красноярский край)
                          option(value="19") БАгинское (Агинский Бурятский автономный округ)
                          option(value="20") БАйхал (Саха(Якутия) республика)

                      +inputbox
                        +checkbox('no-city', 1) Моего города нет в списке
                    +col(12)
                      +inputbox('Служба доставки:')
                        +grid
                            +col(4)
                              +checkbox('delivery-service', 'courier', true, null, 'radio')._size_xl Курьерская доставка
                            +col(4)
                              +checkbox('delivery-service', 'pickup', false, null, 'radio')._size_xl Пункты самовывоза #[+tooltip-icon]
                            +col(4)
                              +checkbox('delivery-service', 'pochta-rf', false, null, 'radio')._size_xl Почтой России до отделения
                    +col(8)
                      +table
                        tr
                          td
                            +radio('delivery-company', 'grastin', true)
                              +icon('Grastin', true).icon.icon_grastin
                          td
                            span Курьерская доставка
                            +tooltip-icon
                          td
                            span 350 руб.
                          td
                            span 1-2 д.
                        tr
                          td
                            +radio('delivery-company', 'boxberry')
                              +icon('Boxberry', true).icon.icon_boxberry
                          td
                            span Курьерская доставка
                            +tooltip-icon
                          td
                            span 110 руб.
                          td
                            span 1-2 д.
                        tr
                          td
                            +radio('delivery-company', 'dpd')
                              +icon('dpd', true).icon.icon_dpd
                          td
                            span Прдоплаченный заказ
                            +tooltip-icon
                          td
                            span 190 руб.
                          td
                            span 2-3 д.
                        tr
                          td
                            +radio('delivery-company', 'dpd-cod')
                              +icon('dpd', true).icon.icon_dpd
                          td
                            span Наложенный платеж
                            +tooltip-icon
                          td
                            span 190 руб.
                          td
                            span 2-3 д.

                      +content-zone
                        p Сроки доставки указаны в рабочих днях, не считая дня оформления заказа.

                  +grid
                    +col(4)
                      +inputbox('Улица:')
                        +input(name="ulica" type="text" placeholder="Улица").input_size_md
                    +col(4)
                      +inputbox('Дом:')
                        +input(name="dom" type="text" placeholder="Квартира").input_size_md
                  +grid
                    +col(4)
                      +inputbox('Корпус:')
                        +input(name="korpus" type="text" placeholder="Корпус").input_size_md
                    +col(4)
                      +inputbox('Квартира:')
                        +input(name="dom" type="text" placeholder="Квартира").input_size_md
                  +grid
                    +col(4)
                      +inputbox('Дата доставки:')
                        +input(name="data-dostavki" type="text" placeholder="Выберите дату доставки").input_size_md
                    +col(4)
                      +inputbox('Время доставки:')
                        +select(data-toggler-icon='clock-copy' data-toggler-icon-mod='clock')
                          option(value="1") С 16:00 до 18:00
                          option(value="2") С 16:00 до 18:00
                          option(value="3") С 16:00 до 18:00
                          option(value="4") С 16:00 до 18:00
                          option(value="5") С 16:00 до 18:00
                          option(value="6") С 16:00 до 18:00
                  +grid
                    +col(8)
                      +inputbox('Время доставки:')
                        +textarea(placeholder="Комментарий").textarea_big

              +fieldset
                +fieldset-head
                  +fieldset-head-col._flexible
                    +fieldset-heading Способ оплаты
                +fieldset-body
                  +inputbox
                    +radio('payment-method', 1, true) Оплата наличными
                  +inputbox
                    +radio('payment-method', 2, false) Онлайн оплата картой #[+tooltip-icon]
                  +inputbox
                    +radio('payment-method', 3, false) Оплата по счету через любое отделение банка

                  +content-zone
                    p Для оформления заказа нажмите кнопку "Оформить заказ".
                    p Наш менеджер свяжется с Вами и Вы сможете оплатить заказ через Личный кабинет на сайте не входя из дома. В течение 10 минут мы получим от Вас оплату и займемся сборкой заказа.
                    p Платежи производятся напрямую через защищенное соединение компанией Сбербанк. Компания Proswim.ru не имеет доступа к вашим данным.

              +fieldset
                +fieldset-head
                  +fieldset-head-col._flexible
                    +fieldset-heading Товары в корзине
                +fieldset-body

        +col({ xl: 3, lg: 12 })
          +total-delivery

      p.cart__returnlink
        +link-icon('Return icon')(href="catalog.html")._return Вернуться к покупкам

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
