.subscribe-form {
  display: flex;

  &__input {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__button {
    position: relative;
    flex-shrink: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @include screen(lg) {
      width: 38px;
      box-sizing: border-box;
      padding-left: 0;
      padding-right: 0;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 9px;
      height: 15px;
      transition: opacity $ease-main;
      fill: white;
      opacity: 0;

      @include screen(lg) {
        opacity: 1;
      }
    }
  }

  &__text {

    @include screen(lg) {
      display: none;
    }
  }
}
