mixin catalog-seo-section()
  +section.catalog-seo-section
    +section-content
      +content-zone
        .catalog-seo-section__image
          img(src="content-img/seo-sections/shapochki-dlya-basseina.jpg" alt="Очки для плавания")
        p Для комфортных занятий водными видами спорта в&nbsp;обязательном порядке нужно купить очки для плавания. Этот аксессуар обеспечит эффективную защиту глаз от&nbsp;хлорированной воды, а&nbsp;значит, вы&nbsp;сможете спокойно, не&nbsp;напрягая зрение, наблюдать за&nbsp;окружающей обстановкой. Интернет-магазин proswim.&nbsp;ru&nbsp;предлагает широкий ассортимент очков для плавания по&nbsp;самым доступным ценам.

        .catalog-seo-section__cutoff.js-seo-section-cutoff
          p Профессиональные очки для плавания в&nbsp;бассейне изготавливают из&nbsp;современных прочных и&nbsp;легких материалов, а&nbsp;их&nbsp;стекла обеспечивают защиту от&nbsp;воздействия лучей ультрафиолета. Одно из&nbsp;основных требований, предъявляемых к&nbsp;данному аксессуару&nbsp;&mdash; надежная фиксация на&nbsp;лице,
          p исключающая протекание воды. В&nbsp;некоторых моделях предусмотрена замена носовых дужек, что позволяет &laquo;подогнать&raquo; очки под любого спортсмена. При выборе модели также обязательно обратите внимание на&nbsp;возможность регулировки и&nbsp;надежность фиксации длины ремешка. Важно, чтобы очки оставались на&nbsp;месте, выдерживая даже высокие нагрузки.
          p Отдельно стоит обратить внимание на&nbsp;стартовые очки. Их&nbsp;конструкция выполнена таким образом, чтобы обеспечить максимально широкий обзор. Профессиональные модели обычно имеют специальное напыление, защищающее глаза от&nbsp;бликов солнечных лучей, отражающихся от&nbsp;поверхности воды.
          p Хотите в&nbsp;отпуске изучить обитателей подводного мира? Тогда вам потребуется маска для подводного плавания. Она обеспечит максимальный комфорт при нырянии&nbsp;&mdash; конструкция плотно прилегает к&nbsp;лицу и&nbsp;обеспечивает надежную защиту от&nbsp;протекания воды. В&nbsp;нашем каталоге вы&nbsp;также найдете недорогие детские аксессуары для плавания.
          p Интернет-магазин proswim.&nbsp;ru&nbsp;&mdash; это продажа исключительно качественных очков от&nbsp;ведущих брендов (Arena, Speedo, TYR, Mosconi). Широкий ассортимент включает товары для начинающих и&nbsp;опытных спортсменов, для детей и&nbsp;взрослых. При этом цены на&nbsp;плавательные очки всегда остаются максимально доступными и&nbsp;полностью соответствуют качеству представленных товаров.

        .home-seo-section__readmore
          +link(href="javascript:void(0)").js-seo-section-more Читать далее
