mixin product-description()
  +b.product-description&attributes(attributes)
    +grid.product-description__grid
      +col({ xl: 3, lg: 12 }).product-description__col
        +e.block
          +e.H5.heading.js-product-description-button Характеристики товара:
          +e.body
            +dl-list
              dt Бренд:
              dd Arena
            +dl-list
              dt Материал оправы:
              dd Ацетат
            +dl-list
              dt Пол:
              dd Унисекс
            +dl-list
              dt Материал стёкол:
              dd Пластик
            +dl-list
              dt Цвет стёкол:
              dd Хамелеон
            +dl-list
              dt Ширина объектива:
              dd 65
            +dl-list
              dt Высота объектива:
              dd 48
      +col({ xl: 4, lg: 12 }).product-description__col
        +e.block
          +e.H5.heading.js-product-description-button Почему стоит брать?
          +e.body
            +ul-list
              li
                span слитный силует
                +tooltip-icon(data-tooltipster='{ "side": "right" }' title="<p>Начисление Бонусных рублей произойдёт после доставки заказа.</p> <p>Сумма Бонусных рублей определяется в соответствии с правилами</p>")
              li
                span высокая хлороустойчивость
              li
                span UV-зашита
                +tooltip-icon(data-tooltipster='{ "side": "right" }' title="<p>Начисление Бонусных рублей произойдёт после доставки заказа.</p> <p>Сумма Бонусных рублей определяется в соответствии с правилами</p>")
              li
                span открытая спинка Swim Pro
              li
                span широкие лямки
              li
                span средний вырез бедра
      +col({ xl: 5, lg: 12 }).product-description__col
        +e.block
          +e.H5.heading.js-product-description-button Описание товара
          +e.body.content-zone
            p Новинка в&nbsp;линейке стартовых очков Cobra&nbsp;&mdash; Arena Cobra Core! Эта модель разработана специально для скоростного плавания и&nbsp;выступления на&nbsp;стартах. Чем&nbsp;же она отличается от&nbsp;других моделей Cobra?
            p Во-первых, это улучшенный обзор. Линзы сконструированы таким образом, чтобы обеспечить пловцу четкую боковую видимость, и&nbsp;отличную видимость вдаль. Благодаря своей форме они подходят для соревнований не&nbsp;только в&nbsp;бассейне, но&nbsp;и&nbsp;на&nbsp;открытой воде. Кроме того, линзы имеют низкий профиль и&nbsp;усовершенствованную обтекаемую форму.
            p Специалисты Proswim.&nbsp;ru&nbsp;рекомендуют женский купальник Solid Swim Pro от&nbsp;Arena для регулярных тренировок в&nbsp;бассейне.

            +e.cutoff.js-seo-section-cutoff
              p Во-первых, это улучшенный обзор. Линзы сконструированы таким образом, чтобы обеспечить пловцу четкую боковую видимость, и&nbsp;отличную видимость вдаль. Благодаря своей форме они подходят для соревнований не&nbsp;только в&nbsp;бассейне, но&nbsp;и&nbsp;на&nbsp;открытой воде. Кроме того, линзы имеют низкий профиль и&nbsp;усовершенствованную обтекаемую форму.
              p Специалисты Proswim.&nbsp;ru&nbsp;рекомендуют женский купальник Solid Swim Pro от&nbsp;Arena для регулярных тренировок в&nbsp;бассейне.

            +e.readmore
              +link(href="javascript:void(0)").js-seo-section-more Читать далее
