mixin social-buttons()
  +b.social-buttons&attributes(attributes)
    block

mixin social-button(kind)
  +b.A.social-button(href='javascript:void(0);')&attributes(attributes)
    - var icons = { fb: 'Facebook icon', vk: 'Vk icon', instagram: 'Instagram icon' }
    +icon(kind).icon
