mixin social-buttons()
  +b.social-buttons&attributes(attributes)
    block

mixin social-button(kind, isGradient)
  -
    var icons = {
      fb: 'Facebook icon',
      vk: 'Vk icon',
      instagram: 'Instagram icon',
      ok: 'Odnoklassniki icon',
      tw: 'Twitter icon',
      youtube: 'Youtube icon',
      ggp: 'google-plus',
    }

  +b.A.social-button&attributes(attributes)(href='javascript:void(0);' class=`_${kind}`)
    if isGradient
      include ../../static/icons/social-instagram.svg
    else 
      if icons[kind]
        +icon(icons[kind]).icon
