.sort-dropdown {
  $b: &;
  display: block;
  position: relative;

  &__button {
    position: relative;
    display: inline-block;
    padding: 6px 29px 6px 14px;
    height: 32px;
    line-height: 30px;
    border-radius: 2px;
    font-size: 0;
    border: 1px solid $color-border;
    color: $semigrey-color;
    cursor: pointer;
    box-sizing: border-box;
    transition: color $ease-main,
                border-color $ease-main;

    &:hover {
      color: $darkblue-color;
    }
  }

  &__value {
    position: relative;
    display: inline-block;
    @include text-small;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      display: block;
      width: 22px;
      background-image: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &__caret {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: inline-block;
    width: 8px;
    height: 6px;
    fill: $color-basic;
    transition: fill $ease-main,
                transform $ease-main;

    #{$b}__button:hover &,
    #{$b}__button.is-active & {
      fill: $darkblue-color;
    }

    #{$b}__button.is-active & {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
