mixin sort-dropdown()
  +b.sort-dropdown&attributes(attributes)
    block

mixin sort-dropdown-button
  +e.button.js-dropdown-toggle
    +e.SPAN.value
      block
    +icon('Arrow location').__caret

mixin sort-dropdown-body
  +dropdown(data-slide-mobile="true").sort-dropdown__body&attributes(attributes)
    unless block
      p content goes here
    block

mixin sort-dropdown-list(isMobile)
  +e.listwrap(class=!isMobile ? 'js-scrollbar' : '')
    +e.UL.list&attributes(attributes)
      block

mixin sort-dropdown-item
  +e.LI.item&attributes(attributes)
    block

mixin sort-dropdown-link
  +e.A.link&attributes(attributes)
    block

mixin sort-dropdown-submit
  +button.BUTTON._size_sm._block.__submit.js-sort-dropdown-submit Применить
