extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Спасибо за оставленную заявку!'

block navbar
  +navbar

block content
  +b.page_mh0
    +phonecall-status-popup(true)

block popups
  +phonecall-status-popup
