extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - password-recovery'

block content
  +b.page
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'password-recovery'])
      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading password-recovery

block popups