mixin popups()
  +b.popups&attributes(attributes)
    block

mixin popup()
  +b.popup&attributes(attributes)
    +circle-button('close')._white._close.__close._circle.js-popup-close
    block

mixin popup-header(heading)
  +e.header&attributes(attributes)
    +e.heading=heading
      
mixin popup-color-header(heading, disct)
  +e.header_color&attributes(attributes)
    if disct
      +discount.__discount!= disct
    +e.heading=heading
    block

mixin popup-content
  +e.content&attributes(attributes)
    block


mixin popup-footer(heading)
  +e.footer&attributes(attributes)
    +e.footerheading=heading
    block
