@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox-close-small { display: none }
.fancybox-close-small:focus::after { outline: none; }

.fancybox-enabled { overflow: initial; }

.fancybox-slide>div {
  padding: 0;
}

.fancybox-slide>div.popup {
  overflow: visible;
}

.popup {
  width: 360px;
  border-radius: 2px;
  background-color: white;
  @include text;

  &__header {
    padding: 23px 40px 23px 36px;
    border: 1px solid $color-border;
    background-color: $lightgrey-color;
  }

  &__heading {
    @include heading-2;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
    font-size: 0;
  }

  &__content {
    padding: 30px 40px 40px;
  }

  &__footer {
    margin-top: -40px;
    padding: 23px 40px 43px;
    text-align: center;

    &heading {
      display: flex;
      align-items: center;
      @include heading-6;
      margin-bottom: 11px;

      &::before,
      &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: $color-border-dark;
        flex: 1 1 auto;
        min-width: 20px;
      }

      &::before { margin-right: 15px; }
      &::after { margin-left: 15px; }
    }
  }

  &__form {
    margin: -18px -9px 0;

    .grid__col {
      padding: 18px 9px 0;
    }

    .link {
      margin-top: -2px;
    }
  }

  &__text {
    margin-top: 16px;
    text-align: left;
  }
}
