@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox-close-small { display: none }
.fancybox-close-small:focus::after { outline: none; }

.fancybox-enabled { overflow: initial; }

.fancybox-slide>div {
  padding: 0;
}

.fancybox-slide>div.popup {
  overflow: visible;
}

.popup {
  width: 360px;
  max-width: 100%;
  border-radius: 2px;
  background-color: white;
  @include text;
  font-family: $font-main;

  @include screen(sm) {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
  }

  &_page {
    width: 100%;

    .popup {

      &__discount {
        margin-top: 0;
      }
    }
  }

  &__header {
    padding: 23px 40px 23px 36px;
    border: 1px solid $color-border;
    background-color: $lightgrey-color;
    color: $color-basic;

    @include screen(sm) {
      padding: 23px 60px 23px 36px;
    }

    .popup_page & {
      border-left: 0;
      border-right: 0;
      padding-left: 15px;
      padding-right: 15px;
    }

    &_color {
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 2px 2px 0 0;
      border-width: 0;

      @include purple-gradient;
      color: white;

      .popup {

        &__heading {
          @include heading-middle;
        }

        &__text {
          text-align: center;
          color: $color-lightpurple;
          margin-top: 2px;
        }
      }
    }
  }

  &__discount {
    margin: -70px auto 16px;
  }

  &__heading {
    @include heading-2;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
    font-size: 0;

    @include screen(sm) {
      position: absolute;
      top: 24px;
      right: 15px;
      transform: none;
    }
  }

  &__content {
    padding: 30px 40px 40px;

    @include screen(sm) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .popup_page & {
      width: 290px;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }

    &_success {
      padding-top: 30px;
      padding-bottom: 44px;
      text-align: center;

      .popup_page & {
        padding-bottom: 0;
      }
    }

    &_ptb {
      padding-top: 40px;
    }

    &_pb0 {
      padding-bottom: 0;
    }
  }

  &__footer {
    margin-top: -40px;
    padding: 23px 40px 43px;
    text-align: center;

    .popup_page & {
      width: 290px;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }

    &heading {
      display: flex;
      align-items: center;
      @include heading-6;

      margin-bottom: 11px;

      &::before,
      &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: $color-border-dark;
        flex: 1 1 auto;
        min-width: 20px;
      }

      &::before { margin-right: 15px; }
      &::after { margin-left: 15px; }
    }
  }

  &__form {
    margin: -18px -9px 0;

    .grid__col {
      padding: 18px 9px 0;
    }

    .link {
      margin-top: -2px;
    }

    .input-label {
      padding-top: 0;
      transition: padding $ease-main;

      &__placeholder {
        top: 0;
      }

      &.is-active {
        padding-top: 20px;

        .input-label {
          &__placeholder {
            top: 20px;
          }
        }
      }
    }

    .textarea {
      min-height: 114px;
    }
  }

  &__subheading {
    display: block;
    margin-bottom: 23px;
    margin-top: -5px;
    @include heading-6;
    line-height: (21/15);
    color: $color-basic;
  }

  &__note {
    @include text-smaller;

    color: $darkengrey-color;
    margin-top: 10px;
  }

  &__text {
    margin-top: 16px;
    text-align: left;
  }

  &__icon {
    display: inline-block;
    width: 74px;
    height: 62px;
    fill: $color-main;

    &_phonecall {
      width: 72px;
      height: 62px;
    }

    &_info {
      width: 62px;
      height: 62px;
    }

    &_note {
      width: 74px;
      height: 62px;
    }
  }

  &__body {
    text-align: left;
    margin-top: 8px;

    &heading {
      display: block;

      @include heading-5;

      line-height: (21/16);
      margin-bottom: 11px;
      text-align: left;
    }

    &text {
      color: $darkengrey-color;
      text-align: left;

      p:not(:last-child) {
        margin: 0;
      }

      a {
        @include link-darkblue;
      }

      &_paddings {

        p:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__panel {
    display: block;
    width: 100%;
    padding-top: 29px;

    &-button {
      border-radius: 0 0 2px 2px;
    }
  }
}
