/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v18-latin_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v18-latin_cyrillic-300.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v18-latin_cyrillic-300.woff2") format("woff2"),
    url("../fonts/roboto-v18-latin_cyrillic-300.woff") format("woff"),
    url("../fonts/roboto-v18-latin_cyrillic-300.ttf") format("truetype"),
    url("../fonts/roboto-v18-latin_cyrillic-300.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v18-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v18-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v18-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-v18-latin_cyrillic-regular.woff") format("woff"),
    url("../fonts/roboto-v18-latin_cyrillic-regular.ttf") format("truetype"),
    url("../fonts/roboto-v18-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v18-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto-v18-latin_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v18-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/roboto-v18-latin_cyrillic-500.woff") format("woff"),
    url("../fonts/roboto-v18-latin_cyrillic-500.ttf") format("truetype"),
    url("../fonts/roboto-v18-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v18-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-v18-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v18-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-v18-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/roboto-v18-latin_cyrillic-700.ttf") format("truetype"),
    url("../fonts/roboto-v18-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v18-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/roboto-v18-latin_cyrillic-900.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v18-latin_cyrillic-900.woff2") format("woff2"),
    url("../fonts/roboto-v18-latin_cyrillic-900.woff") format("woff"),
    url("../fonts/roboto-v18-latin_cyrillic-900.ttf") format("truetype"),
    url("../fonts/roboto-v18-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-slab-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-slab-v7-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
    url("../fonts/roboto-slab-v7-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-slab-v7-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-slab-v7-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/roboto-slab-v7-latin_cyrillic-700.ttf") format("truetype"),
    url("../fonts/roboto-slab-v7-latin_cyrillic-700.svg#RobotoSlab")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/robotocondensed-bold.eot"); /* IE9 Compat Modes */
  src:
    url("../fonts/robotocondensed-bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/robotocondensed-bold.woff2") format("woff2"),
    url("../fonts/robotocondensed-bold.woff") format("woff"),
    url("../fonts/robotocondensed-bold.ttf") format("truetype"),
    url("../fonts/robotocondensed-bold.svg#robotocondensed-bold")
      format("svg"); /* Legacy iOS */
}

/* Соответствие письменного названия жирности числовому значению
100 — Thin
200 — Extra Light, Ultra Light
300 — Light
400 — Normal, Book, Regular (стандартный)
500 — Medium
600 — Semi Bold, Demi Bold
700 — Bold
800 — Extra Bold, Ultra Bold
900 — Black, Heavy
*/
