@mixin link {
  @include text;
  color: $color-main;
  transition: opacity $ease-main;
  border-color: $color-main;
}

@mixin link-underline {
  border-bottom: 1px solid;
}

@mixin link-disabled {
  color: $color-border;
  border-color: transparent;
}

@mixin link-dashed {
  border-bottom: 1px dashed;
}

@mixin link-medium {
  @include heading-6;
  line-height: (22/15);
}
