@mixin link {
  color: $color-main;
  transition: opacity $ease-main;

  &:hover { opacity: .5; }
}

@mixin link-underline {
  border-bottom: 1px solid $color-main;
}

@mixin link-disabled {
  color: $color-border;
  border-color: transparent;
}

@mixin link-dashed {
  border-bottom: 1px dashed;
}
