@mixin link {
  @include text;
  color: $color-main;
  transition: opacity $ease-main;
  border-color: $color-main;
  transition: all $ease-main;

  &:hover {
    color: $color-basic;
  }
}

@mixin link-darkblue {
  color: $darkblue-color;
  border-color: $darkblue-color;

  &:hover {
    color: $color-basic;
  }
}

@mixin link-underline {
  border-width: 0 0 1px 0;
  border-style: solid;
  padding-bottom: 2px;
}

@mixin link-disabled {
  color: $color-border;
  border-color: transparent;
}

@mixin link-dashed {
  border-width: 0 0 1px 0;
  border-style: solid;
  padding-bottom: 2px;
}

@mixin link-medium {
  @include heading-6;
  line-height: (22/15);
}
