@mixin list {
  @include text;

  ul, ol {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  li {
    padding-left: 20px;
    position: relative;

    @include screen(sm) {
      padding-left: 15px;
    }

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

@mixin ullist {

  li::before {
    position: absolute;
    left: 6px;
    top: 8px;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: $color-main;
    border-radius: 50%;

    @include screen(sm) {
      left: 0;
    }
  }
}

@mixin ollist {
  counter-reset: list1;

  li {

    &::before {
      position: absolute;
      left: 5px;
      top: 0;
      counter-increment: list1;
      content: counter(list1);
      font-weight: 700;
      color: $darkblue-color;

      @include screen(sm) {
        left: 0;
      }
    }
  }
}

@mixin dllist {
  margin-top: 0;
  @include text;
  display: flex;
  margin-bottom: 4px;

  &::after {
    content: '';
    display: block;
    margin: 0 .25em .5em;
    border-bottom: 1px dashed $darkgrey-color;
    flex: 1 1 auto;
    order: 2;
  }

  dt {
    color: $darkengrey-color;
    order: 1;
  }

  dd {
    margin-left: 0;
    order: 3;
  }
}

@mixin multilevellist {
  counter-reset: level1;

  @include text;

  color: $darkengrey-color;

  ol {
    counter-reset: level2;
    padding: 22px 0 27px;
  }

  ol ol {
    counter-reset: level3;
    padding: 15px 0 8px;
  }

  li {
    position: relative;
    display: block;
    box-sizing: border-box;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  & > li {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  & > li > *:first-child {
    display: inline-block;
    padding-left: 40px;
    box-sizing: border-box;
    min-height: 30px;

    @include heading-5;

    color: $color-basic;

    @include screen('xs') {
      line-height: 1.45;
    }
  }

  & > li > *:first-child::before {
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    content: counter(level1);
    counter-increment: level1;
    text-align: center;
    border-radius: 50%;
    background-color: $lightgrey-color;
  }

  li li > *:first-child:not(:last-child) {
    @include heading-6-bold;
    @include clearfix;
  }

  li li li > *:first-child {
    @include clearfix;
  }

  li li > *:first-child::before {
    display: inline-block;
    float: left;
    content: counter(level1) '.' counter(level2) '.';
    counter-increment: level2;
    margin-right: 4px;
  }

  li li li > *:first-child::before {
    display: inline-block;
    float: left;
    content: counter(level1) '.' counter(level2) '.' counter(level3) '.';
    counter-increment: level3;
    margin-right: 4px;
  }
}
