@mixin list {
  @include text;

  ul, ol {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  li {
    padding-left: 20px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

@mixin ullist {

  li::before {
    position: absolute;
    left: 6px;
    top: 8px;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: $color-main;
    border-radius: 50%;
  }
}

@mixin ollist {
  counter-reset: list1;

  li {

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      counter-increment: list1;
      content: counter(list1) '.';
    }
  }
}
