@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков

.page {
  padding-bottom: 77px;
  min-height: 450px;


  &_pb0 {
    padding-bottom: 0;
    min-height: 500px;
  }

  &_opb0 {
    padding-bottom: 0;
    min-height: 0;
  }

  &_mh0 {
    min-height: 0;
  }

  @include screen(lg) {
    padding-bottom: 55px;

    &_pb0 {
      padding-bottom: 0;
    }

    &_opb0 {
      padding-bottom: 0;
    }
  }

  @include screen(sm) {
    padding-bottom: 40px;

    &_pb0 {
      padding-bottom: 0;
    }

    &_opb0 {
      padding-bottom: 0;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid $color-border;

    .container {
      display: flex;
      align-items: center;
      height: inherit;
    }

    &_subhead {
      height: auto;
      border: 0;

      &_grid {
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;

        .grid__col {
          padding-top: 0;
        }
      }
    }

    &_account {
      margin-top: 10px;
      margin-bottom: -29px;

      @include screen(lg) {
        margin-bottom: -25px;
      }

      @include screen(sm) {
        margin-top: 13px;
        margin-bottom: -21px;
      }
    }

    &col {
      &_flexible { flex: 1 1 auto; }

      .page__head_subhead & {
        padding-top: 20px;
        padding-bottom: 22px;

        @include screen(lg) {
          padding-bottom: 19px;
        }
      }

      &:not(:first-child) {
        padding-left: 20px;
      }

      .page__steps + .page__head_subhead & {
        padding-bottom: 0;

        @include screen(lg) {
          padding-bottom: 6px;
        }
      }
    }
  }

  &__heading {
    display: block;
    @include heading-1;
    margin-top: -6px;

    @include screen(lg) {

    }

    @include screen(sm) {
      font-size: 26px;
      line-height: (30/26);

      &_mob {
        font-size: 24px;
        line-height: (28/24);
        margin-top: -4px;
      }
    }
  }

  &__sidebar {
    @include screen(lg) {
      display: none;
    }
  }

  &__content {

  }

  &__logo {
    display: block;
    height: 54px;
    margin-bottom: -26px;

    @include screen(lg) {
      height: 38px;
      margin-bottom: -10px;
    }

    &:hover {
      img, svg {
        filter: gray;
        filter: grayscale(100%);
      }
    }

    img, svg {
      max-height: 100%;
      transition: filter $ease-main;
    }
  }

  &__steps {
    margin-top: -3px;
    margin-bottom: 7px;

    @include screen(sm) {
      display: none;
    }
  }

  &__text {
    @include text-big;

    color: $darkengrey-color;
    margin-top: 10px;

    a {
      @include link;
    }
  }

  &__defenitions {
    border-bottom: 1px solid $color-border;
    padding-top: 6px;
    padding-bottom: 36px;
    margin-bottom: 34px;

    @include screen('md') {
      padding-top: 10px;
    }

    @include screen('sm') {
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
  }

  &__agreement {

    &:not(:first-child) {
      margin-top: 30px;

      @include screen('sm') {
        margin-top: 24px;
      }
    }

    ol.list-multilevel:not(:first-child) {
      margin-top: 18px;
    }
  }

  &__sect {
    margin-bottom: 18px;

    &:not(:first-child) {
      margin-top: 76px;

      @include screen('md') {
        margin-top: 54px;
      }
    }
  }

  &__delivery {

    &:not(:last-child) {
      margin-bottom: 38px;
    }

    @include screen('sm') {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    @include screen('sm') {
      justify-content: flex-start;
      margin-bottom: 18px;
    }

    &-item {
      margin-top: 8px;
      margin-bottom: 8px;

      @include screen('sm') {
        margin-top: 4px;
        margin-bottom: 8px;
      }

      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}
