@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/variables'; // Переменные
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков

.page {
  padding-bottom: 77px;

  &_pb0 {
    padding-bottom: 0;
  }

  @include screen(lg) {
    padding-bottom: 55px;

    &_pb0 {
      padding-bottom: 0;
    }
  }

  @include screen(sm) {
    padding-bottom: 40px;

    &_pb0 {
      padding-bottom: 0;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid $color-border;

    &_subhead {
      height: auto;
      border: 0;
    }

    &col {
      &_flexible { flex: 1 1 auto; }

      .page__head_subhead & {
        padding-top: 20px;
        padding-bottom: 22px;

        @include screen(lg) {
          padding-bottom: 19px;
        }
      }

      &:not(:first-child) {
        padding-left: 20px;
      }
    }
  }

  &__heading {
    display: block;
    @include heading-1;
    margin-top: -6px;

    @include screen(lg) {

    }

    @include screen(sm) {
      font-size: 26px;
      line-height: (30/26);
    }
  }

  &__grid {}

  &__sidebar {
    @include screen(lg) {
      display: none;
    }
  }

  &__content {

  }

  &__logo {
    display: block;
    height: 54px;
    margin-bottom: -26px;

    @include screen(lg) {
      height: 38px;
      margin-bottom: -10px;
    }

    &:hover {
      img, svg {
        filter: gray;
        filter: grayscale(100%);
      }
    }

    img, svg {
      max-height: 100%;
      transition: filter $ease-main;
    }
  }
}
