// Текстовые стили, используемые на сайте

@mixin heading-1 {
  font-size: 28px;
  font-weight: 700;
  line-height: (34/28);
  letter-spacing: .01em;
}

@mixin heading-2 {
  font-size: 24px;
  font-weight: 700;
  line-height: (32/24);
  letter-spacing: .01em;
}

@mixin heading-3 {
  font-size: 20px;
  font-weight: 500;
  line-height: (26/20);
}

@mixin heading-4 {
  font-size: 18px;
  font-weight: 500;
  line-height: (26/18);
  letter-spacing: .01em;
}

@mixin heading-5 {
  font-size: 16px;
  font-weight: 500;
  line-height: (24/16);
  letter-spacing: .01em;
}

@mixin heading-6 {
  font-size: 15px;
  font-weight: 500;
  line-height: (27/15);
  letter-spacing: .01em;
}

@mixin text {
  font-size: 14px;
  font-weight: 400;
  line-height: (22/14);
  letter-spacing: .01em;
}

@mixin text-small {
  font-size: 13px;
  font-weight: 400;
  line-height: (18/13);
  letter-spacing: .01em;
}

@mixin text-tiny {
  font-size: 12px;
  font-weight: 400;
  line-height: (18/12);
  letter-spacing: .01em;
}

@mixin text-xs {
  font-size: 10px;
  font-weight: 500;
  line-height: (26/10);
  letter-spacing: 0.025em;
}
