// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1220px; // Максимальная ширина контейнера контента
$container-padding: 20px; // Отступы слева и справа у контейнера
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 20px; // Расстояние между колонками
$grid-gap-vertical: 20px; // Расстояние между строками в сетке
$grid-col-width: $grid-container-width/$grid-cols; // Ширина одной колонки

// ##########
// Цвета
// ##########
$dark-main-color: #0096cc;
$color-border: #dde8f0;
$color-border-dark: #cbd5dc;
$dark-border-color: #b3b8bd;
$middlegrey-color: #9da4ab;
$middlegrey2-color: #a1a9ad;
$lightblue-color: #97d2e8;
$lightblue2-color: #98d2e8;
$midblue-color: #68caed;
$dirtyblue-color: #84b1c2;
$brightengrey-color: #eceded;
$orange-color: #ff3123;
$indark-lightgrey-color: #ced7e0;
$lightengreen-color: #f0faf4;
$lightgreenborder-color: #c0ebd5;
$darkestgrey-color: #212224;
$darkestgrey2-color: #1c1d1f;
$anotherdarkgrey-color: #464849;
$indark-grey-color: #91989e;
$lightred-color: #efacac;
$red-color: #e94e56;
$midred-color: #f24841;
$lightgrey-color: #f0f3f5;
$semigreyblue-color: #ced9de;
$color-basic-hover: #494c4f;
$darkgrey-color: #6e7378;
$darkengrey-color: #595d61;
$semigrey-color: #a7afb5;
$semigrey2-color: #a5b0b8;
$semigrey3-color: #949ba1;
$verylightgrey44-color: #d5e0e8;
$verylightgrey45-color: #d0d6db;
$lightgreen-color: #48c594;
$green-color: #49bb7b;
$darkblue-color: #0098d6;
$color-placeholder: #abb4ba;
$color-basic: #2f3133;
$color-main: #00abe7;
$verylightblue-color: #bfe1ee;
$anotherlightblue-color: #a0d6ea;
$darkgreyblue-color: #86aab8;
$greyblue3-color: #eff3f6;
$greyblue2-color: #dfe7ed;
$greyblue4-color: #c7d2d9;;
$greyblue-color: #ccd7de;
$middlegreyblue-color: #a6afb5;
$dark-border-color: #b9c0c4;
$yellow-color: #fac917;
$color-red: #c91414;
$dirtyblue2-color: #6d93a1;
$color-input: $color-basic;
$darkbluegrey2-color: #7a8085;
$anotherlightgreycolor: #e1e8ee;
$anotherlightgrey3-color: #cad4db;
$ihavenoideahowtocallthat-color: #f5f8fa;
$midgreyhover-color: #d7d9d9;
$anothermidbluelightgrey4-color: #c8d3db;
$midgreyblue34-color: #757a80;
$orangle-color: #ff9535;
$purple-color: #846db1;
$golden-color: #c9a014;
$greylist-color: #a3abaf;

// ##########
// Transitions
// ##########
$ease-main: .3s ease;

// ##########
// Шрифты
// ##########
$font-main: Roboto, sans-serif; // Основной шрифт сайта
$font-second: "Roboto Slab", Roboto, sans-serif; // Дополнительный шрифт
