mixin vertical-menu(heading, links, isAccordion)
  +b.vertical-menu&attributes(attributes)
    if heading
      +e.H6.heading
        +e.A(href='#')
          span=heading
        if isAccordion
          +e.SPAN.button.js-vertical-menu-button

    +e.UL.items
      if links
        each link in links
          - if (link.href) {
            +vertical-menu-link(href=link.href)= link.title
          - } else {
            +e.LI.item
              +b.DIV.vertical-menu_accordion
                +e.H6.heading
                  +e.A(href='#')
                    +e.SPAN!= link.title
                  +e.SPAN.button.js-vertical-menu-button
                +e.UL.items
                  each innerlink in link.links
                    +vertical-menu-link(href=innerlink.href)= innerlink.title
          - }
      block

mixin vertical-menu-link
  +e.LI.item
    +e.A.link&attributes(attributes)
      block
