mixin vertical-menu(heading)
  +b.vertical-menu&attributes(attributes)
    if heading
      +e.H6.heading=heading
    +e.UL.items
      block

mixin vertical-menu-link
  +e.LI.item
    +e.A.link&attributes(attributes)
      block
