.vertical-menu {
  display: block;

  &_accordion + &_accordion {
    margin-top: 10px;
  }

  &__heading {
    display: inline-block;
    position: relative;
    @include heading-6;
    transition: color $ease-main;

    .vertical-menu_accordion & {
      padding-left: 26px;
      cursor: pointer;

      &:hover {
        color: $darkblue-color;
      }
    }

    a {
      @include heading-6;
      color: inherit;

      &:hover {
        color: $darkblue-color;
      }
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $color-main;
    margin-top: -1px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 9px;
      height: 2px;
      background-color: white;
      transition: transform $ease-main;
    }

    &::after {
      transform: translate3d(-50%, -50%, 0) rotate(90deg);
    }

    &.is-active::after {
      transform: translate3d(-50%, -50%, 0) rotate(0);
    }
  }

  &__items {
    margin-top: 1px;

    .vertical-menu_accordion > & {
      display: none;
    }

    .vertical-menu_accordion.is-active > & {
      display: block;
    }
  }

  &__item {
    .vertical-menu_accordion & {
      padding-left: 26px;
    }
  }

  &__link {
    display: inline-block;
    padding: 5px 0;
    @include text-small;
    color: $darkengrey-color;
    transition: color $ease-main;

    &:hover {
      color: $darkblue-color;
    }

    &_blue {
      color: $darkblue-color;

      &:hover {
        color: $color-basic;
      }
    }
  }
}
