.product-nav-slider {
  $b: &;
  position: relative;
  display: block;
  padding: 0 44px 0 0;

  &.has-navigation {
    padding: 0 22px;
  }

  &_big.has-navigation,
  &_md.has-navigation {
    padding: 0 14px;

    @include screen(lg) {
      padding: 0 15px;
    }
  }

  &__slide {
    height: 32px;
    text-align: center;
    user-select: none;

    #{$b}_big & {
      height: 58px;

      @include screen(lg) {
        height: 42px;
      }
    }

    #{$b}_md & {
      height: 42px;
    }

    #{$b}_colors & {
      height: auto;
    }
  }

  &__image {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 100%;
    border: 1px solid $color-border;
    box-sizing: border-box;
    transition: border-color $ease-main;
    cursor: pointer;

    &_video::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url('../images/play-icon.png');
      z-index: 1;
    }

    img {
      @include center-image;
      max-width: 100%;
      max-height: 100%;
      transition: filter $ease-main;
    }

    #{$b}_filter & img { filter: grayscale(100%); }

    #{$b}__slide.is-active & {
      border-color: $lightblue2-color;

      img {
        filter: none;
      }
    }

    #{$b}__slide:hover & {
      border-color: $lightblue2-color;
    }

    #{$b}_big & {
      width: 74px;

      @include screen(lg) {
        width: 53px;
      }
    }

    #{$b}_md & {
      width: 52px;

      @include screen(lg) {
        width: 54px;
      }
    }

    #{$b}_colors & {
      height: 42px;
    }
  }

  &__text {
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    word-break: break-all;
    text-align: center;
    transition: color $ease-main;
    line-height: 1;

    #{$b}__slide.is-active &, #{$b}__slide:hover & {
      color: $darkblue-color;
    }
  }

  &__buttons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    z-index: 5;

    #{$b}.has-navigation & {
      display: flex;
    }
  }

  &__button {
    pointer-events: all;
    position: relative;
    width: 20px;
    height: 100%;
    cursor: pointer;

    #{$b}_big &,
    #{$b}_md & {
      width: 14px;

      svg { margin-right: 0; }
    }

    &_prev {
      transform: rotate(180deg);

      #{$b}_colors & {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        svg {
            position: static;
            margin: 0;
            margin-bottom : 13px;
          }
        }
    }

    &_next {
      #{$b}_colors & {
        display: flex;
        justify-content: flex-end;

        svg {
          position: static;
          margin: 0;
          margin-top: 13px;
        }
      }
    }

    svg {
      @include center-image;
      width: 7px;
      height: 13px;
      transition: fill $ease-main;
      fill: $darkblue-color;
    }

    &.swiper-button-disabled {
      pointer-events: none;

      svg {
        fill: $middlegrey2-color;
      }
    }

    &:hover svg {
      fill: $darkblue-color;
    }
  }
}
