.burger-button {
  display: inline-block;
  cursor: pointer;
  padding: 12px 10px;
  font-size: 0;

  @include screen(tablet) {
    padding-left: 11px;
    padding-right: 11px;
  }

  &__icon {
    width: 24px;
    height: 18px;
    fill: $color-basic;
  }
}
