extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Товар добавлен в корзину'

block navbar
  +navbar

block content
  +b.page
    +item-added-popup(true)

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
  +preview-popup
  +opt-status-popup
  +phonecall-status-popup
  +phonecall-status2-popup
  +subscribe-status-popup
  +subscribe-status2-popup
  +order-status-popup
  +callback-popup 
  +discount-popup
  +item-added-popup
