extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Товар добавлен в корзину'

block content
  +b.page
    +item-added-popup(true)

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
  +item-added-popup
