extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Оплата'

block navbar
  +navbar

block content
  +b.page
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Оплата'])
      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading Оплата

      +grid.payment
        +col({ xl: 9, lg: 12 })
          +text-section
            +content-zone
              h4 Уважаемые покупатели! Предлагаем четыре способа оплаты вашего заказа. Выбирайте удобный!

            +text-section-block._sm
              +content-zone
                h5 При получении товара
                p При курьерской доставке по Москве, Санкт-Петербургу и курьерской доставке службой DPD в другие крупные города России вы можете оплатить товар непосредственно при его получении

            +text-section-block._sm
              +content-zone
                h5 Онлайн-оплата картой
                p У вас всегда есть возможность оплатить свой заказ банковской картой при его оформлении. Простой и безопасный платеж осуществляется в реальном времени с помощью защищенной передачи данных. Ввод данных банковской карты осуществляется непосредственно на защищенной платежной странице банка ПАО «Сбербанк». Оплата без комиссии и быстрое поступление средств на наш счет. Мы увидим вашу оплату уже сегодня.

            +text-section-block._sm
              +content-zone
                h5 Через банк
                p Мы отправляем счет на указанный в заказе электронный адрес, а вы оплачиваете его в любом отделении банка. Зачисление денежных средств требуется от одного до трех рабочих дней.

            +text-section-block._sm
              +content-zone
                h5 По счету (для юридических лиц)
                p После оформления заказа с вами свяжется менеджер, чтобы уточнить правильность реквизитов организации-плательщика. Счет, отправленный на указанную в форме заказа электронную почту, действителен в течение 5 рабочих дней (возможно продление срока). Предоставляем все необходимые бухгалтерские документы.

            +content-zone
              p
                b Дополнительная информация:

              ul
                li Ознакомиться с доступными вариантами оплаты для вашего города и выбрать наиболее удобный вы можете при оформлении заказа: учитываются населенный пункт доставки и способ получения товара.
                li Доставка заказов Почтой России и в пункты выдачи Boxberry производится после предоплаты. После получения от вас оплаты и отправки нами заказа, мы отправляем вам номер почтового отправления, с помощью которого вы сможете отслеживать статус посылки на сайте Почты России. При прибытии посылки по указанному вами адресу, вам нужно прийти в отделение Почты России для получения заказа, взяв с собой паспорт. При получении заказа на почте вы уже ничего не платите.  Самый простой и удобный способ предоплаты – онлайн-оплата картой при оформлении заказа.
                li При осуществлении оплаты по счету через банк необходимо взять с собой распечатанный счет на оплату (который придет на ваш адрес электронной почты) и удостоверение личности (паспорт). Оплатить счет вы можете в Сбербанке или любом другом коммерческом банке. За свои услуги некоторые банки могут взимать дополнительную комиссию.
                li Получить предоплаченный заказ может покупатель, оформивший и оплативший заказ лично, а также третье лицо  (в том числе представитель организации) по доверенности.

              +shop-location
                +shop-location-text В случае возникновения вопросов, вы всегда можете написать нам электронную почту или позвонить по телефонам:
                +shop-location-item('Email icon22', true)(href='mailto:info@proswim.ru')._email info@proswim.ru
                +shop-location-item('Phone icon22') 8 (495) 580-82-95
                +shop-location-item('Phone icon22') 8 (800) 100-24-59

                +shop-location-text._small Звонок по России бесплатный

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
  +preview-popup
  +opt-status-popup
  +phonecall-status-popup
  +phonecall-status2-popup
  +subscribe-status-popup
  +subscribe-status2-popup
  +order-status-popup
  +callback-popup 
  +discount-popup
