.tabs {
  position: relative;
  $tab-gap: 25px;
  display: block;
  font-size: 0;
  margin-top: -$tab-gap;
  border-bottom: 2px solid $color-border;

  &__tab {
    position: relative;
    display: inline-block;
    margin-right: $tab-gap;
    margin-top: $tab-gap;
    transition: border-color $ease-main, color $ease-main;
    padding-bottom: 10px;
    cursor: pointer;
    color: $semigrey-color;

    &::after {
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      content: '';
      box-shadow: 0 4px 10px rgba(0, 171, 231, 0.2);
      background-color: $color-main;
      display: block;
      height: 3px;
      z-index: 1;
      width: 100%;
      opacity: 0;
      transition: opacity $ease-main;
    }

    @include heading-2;

    &:hover,
    &.is-active {
      color: $darkbluegrey2-color;
    }

    &.is-active {
      color: $color-basic;
      pointer-events: none;

      &::after { opacity: 1; }
    }
  }

  & + &-content { margin-top: 30px; }

  &-content {

    &__wrapper {
      display: none;
      opacity: 0;
      transition: opacity $ease-main, transform $ease-main;
      transform: translate3d(0, 10px, 0);

      &.is-active {
        display: block;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
