extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Наши новости и обзоры'

block content
  +b.page
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Наши новости и обзоры'])
      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading Наши новости и обзоры

    +news-section(getData('news'))

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
