mixin compare-button()
  +b.A.compare-button.js-add-comparison&attributes(attributes)
    +e.add
      +icon('compare').icon_compare
      +e.text Добавить к сравнению
    +e.added
      +icon('round-check').icon_checked
      +e.text Товар добавлен к сравнению
