.content-slider {
  display: block;
  text-align: center;

  @include screen(sm) {
    margin-left: -15px;
    margin-right: -15px;
  }

  .content-zone p + & {
    margin-top: -4px;

    @include screen(lg) {
      margin-top: -28px;
    }

    @include screen(sm) {
      margin-top: 0;
      padding-top: 5px;
    }
  }

  .content-zone &:not(:last-child) {
    margin-bottom: 18px;
  }

  &__main {
    height: 438px;

    @include screen(sm) {
      height: 180px;
    }

    .product-main-slider__buttons {
      padding-left: 20px;
      padding-right: 20px;

      @include screen(sm) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .product-main-slider__button {
      border: 1px solid rgba(white, .4);
      background-color: rgba($color-basic, .6);
      box-sizing: border-box;

      @include screen(lg) {
        width: 48px;
        height: 48px;
      }

      @include screen(sm) {
        width: 34px;
        height: 34px;
      }

      &.swiper-button-disabled {
        opacity: 1;
      }

      &:hover {
        opacity: .9;
      }

      svg {
        fill: white;
      }
    }
  }

  &__nav {
    max-width: 376px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-bottom: 4px;

    @include screen(sm) {
      max-width: 246px;
    }

    .product-nav-slider:not(.has-navigation) {
      padding-right: 0;
    }

    .product-nav-slider__slides { justify-content: center; }

    .product-nav-slider__slide {
      height: 58px;

      @include screen(sm) {
        height: 42px;
      }
    }

    .product-nav-slider__image {
      width: 74px;

      @include screen(sm) {
        width: 54px;
      }
    }
  }

  &__caption {
    margin-top: 13px;
    display: block;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: (18/13) !important;
    letter-spacing: .01em !important;
    color: $semigrey-color !important;
    margin-bottom: 0 !important;

    @include screen(lg) {
      margin-top: 0;
    }

    @include screen(sm) {
      margin-top: 13px;
    }
  }
}
