mixin checkitem(text)
  +b.checkitem&attributes(attributes)
    +icon('checked').icon
    +e.SPAN.text=text
    block

mixin checkitems()
  +b.checkitems&attributes(attributes)
    block

mixin checkitems-col
  +e.col&attributes(attributes)
    block
