.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background-color: rgba($darkestgrey2-color, .82);
  opacity: 0;
  pointer-events: none;
  transition: opacity $ease-main;
  z-index: 110;

  &.is-active {
    opacity: 1;
    pointer-events: all;
  }

  &[data-for="shopmenu"] {
    z-index: 90;

    @include screen(desktop, min) {
      display: none !important;
    }
  }
}
