.subscribe {
  display: block;
  background-color: $color-basic;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 21px;
    padding-bottom: 21px;
    height: 80px;

    @include screen(tablet) {
      padding-top: 26px;
      padding-bottom: 30px;
      height: auto;
      display: block;
    }
  }

  &__heading {
    @include heading-4;
    color: white;
    margin-right: 20px;
    margin-left: -3px;

    @include screen(desktop) {
      margin-left: 0;
    }

    @include screen(tablet) {
      text-align: center;
      margin: 0;
    }
  }

  &__form {
    margin-left: 20px;

    @include screen(desktop) {
      margin-left: 18px;
    }

    @include screen(tablet) {
      margin-top: 14px;
      margin-left: 0;
    }

    .subscribe-form__input {
      width: 342px;

      @include screen(desktop) {
        width: 243px;
      }

      @include screen(tablet) {
        width: 100%;
      }
    }
  }
}
