mixin subscribe()
  +b.subscribe&attributes(attributes)
    .subscribe__container.container
      +e.H4.heading Подпишитесь! Новинки, скидки, предложения!
      +e.FORM.form(method="POST" action="/")
        +input.subscribe__input
        +button(type="submit").__button
