.content-zone {

  .text-section__block + & {
    margin-top: 46px;

    @include screen(lg) {
      margin-top: 28px;
    }

    @include screen(sm) {
      margin-top: 18px;
    }
  }

  h1 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-1;
  }

  h2 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-2;
  }

  h3 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-3;
  }

  h4 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-4;
    font-weight: 700;
  }

  h5 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-5;
  }

  h6 {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include heading-6;
  }

  b, strong {
    font-weight: 500;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 22px;
    }

    small {
      display: block;

      @include text-small;
    }

    @include text;
  }

  &_small {
    p:not(:last-child) {
      margin-bottom: 0;
    }
  }

  blockquote {
    margin: 0;
    padding-left: 40px;
    border-left: 2px solid black;
    display: block;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  img {
    max-width: 100%;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  > ul, > ol {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  li {
    p {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &_small {
    > ul, > ol {
      margin: 8px 0;
    }
  }

  ul, ol {
    @include list;

    + p {
      margin-top: 20px;
    }
  }

  ul { @include ullist; }

  ol { @include ollist; }

  a { @include link; }
}
