mixin orders-section(data)
  +b.orders-section&attributes(attributes)
    +searchbar('Введите номер заказа для поиска...', 'Введите номер заказа...')._big.__searchbar

    +grid.orders-section__grid
      each item in data
        +col(12)
          +order-card(item)
