.fieldset {
  display: block;
  box-shadow: 0 6px 12px rgba(157, 164, 171, 0.26);
  border: 1px solid $color-border;
  background-color: white;
  padding: 0;
  margin: 0;

  .fieldsets & { margin-top: 20px; }

  &__head {
    display: flex;
    align-items: center;
    padding: 11px 20px;
    background-color: $ihavenoideahowtocallthat-color;

    &col {
      &_flexible { flex: 1; }

      &:not(:first-child) {
        padding-left: 20px;
      }
    }
  }

  &__heading {
    font-size: 18px;
    font-weight: 700;
    line-height: (32/18);
    letter-spacing: 0.01em;
  }

  &__body {
    padding: 20px;
  }

  .inputbox + .inputbox {
    margin-top: 18px;
  }

  .content-zone {
    margin-top: 18px;
    color: $darkengrey-color;

    p, span, a, b {
      @include text-small;
      line-height: (21/13);
    }
  }

  .checkradio_radio .checkradio__content {
    padding-top: 0;
  }

  .table {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57143;
    letter-spacing: 0.01em;
  }
}

.fieldsets {
  display: block;
  margin-top: -20px;
}
