.fieldset {
  display: block;
  box-shadow: 0 6px 12px rgba(157, 164, 171, 0.26);
  border: 1px solid $color-border;
  background-color: white;
  padding: 0;
  margin: 0;

  .fieldsets & { margin-top: 20px; }

  @include screen(sm) {
    border-left: 0;
    border-right: 0;
  }

  .tabs-content .grid:first-of-type {
    margin-top: 0;
  }

  &__head {
    display: flex;
    align-items: center;
    padding: 11px 20px;
    background-color: $ihavenoideahowtocallthat-color;

    @include screen(sm) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &col {
      &_flexible { flex: 1; }

      &:not(:first-child) {
        padding-left: 20px;

        @include screen(sm) {
          display: none;
        }
      }
    }
  }

  &__heading {
    font-size: 18px;
    font-weight: 700;
    line-height: (32/18);
    letter-spacing: 0.01em;
  }

  &__body {
    padding: 20px;

    @include screen(sm) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .inputbox {
    margin-top: -6px;

    + .inputbox {
      margin-top: 15px;
    }
  }

  .content-zone {
    margin-top: 15px;
    color: $darkengrey-color;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    p, span, a, b {
      @include text-small;
      line-height: (21/13);
    }
  }

  .checkradio_radio .checkradio__content {
    padding-top: 0;
  }

  &__photo {
    @include screen(lg) {
      width: 68px;
      margin-left: auto;
    }

    @include screen(sm) {
      margin-left: 0;
    }
  }

  &__offset {
    margin-top: 13px;

    &.grid__col {
      margin-top: 13px;
    }

    @include screen(lg) {
      margin-top: 19px;

      &.grid__col {
        margin-top: 19px;
      }
    }

    .page__delivery & {

      &:not(:first-child) {
        margin-top: 18px;
      }
    }
  }

  &__save {
    min-width: 265px;
    margin-top: 31px;

    @include screen(lg) {
      width: 100%;
    }
  }
}

.fieldsets {
  display: block;
  margin-top: -20px;

  @include screen(lg) {
    margin-top: -24px;
  }

  @include screen(sm) {
    margin-left: -15px;
    margin-right: -15px;
  }
}
