.dots {
  display: inline-block;
  text-align: center;
  font-size: 0;
  width: auto;

  &__dot {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.22);
    transition: background-color $ease-main;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 6px;

    @include screen(sm) {
      width: 8px;
      height: 8px;
      margin: 0 5px;
    }

    &.is-active {
      background-color: $color-basic;

      &::before {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: white;
      opacity: 0;
      transition: opacity $ease-main;
      border-radius: 50%;
      z-index: -1;

      @include screen(sm) {
        width: 14px;
        height: 14px;
      }
    }

    &:hover::before {
      opacity: 0.5;
    }
  }
}
