include filter-burger
include sort-burger

mixin burger(loggedIn)
  +b.burger.js-burger&attributes(attributes)
    +e.overlay.js-burger-overlay
    +e.content.js-burger-content
      +e.HEADER.section.__header
        .container
          +e.headerlinks
            if loggedIn
              +link-icon('Login Register button')(href="account.html")._dark.__headerlink_user.is-active.js-burger-login Мой кабинет
            else
              +link-icon('Login Register button')(href="login.html" data-popup='#login-popup')._dark.__headerlink_user.is-active.js-burger-login.js-fancybox Войти

            +link-icon('arrow_back_menu')._dark.__headerlink_back.js-burger-back Назад

          +e.BUTTON.close.js-burger-close
            +icon('close-menu')

      +e.subheader
        +e.search.js-burger-searchbar
          .container
            +searchbar('Введите название товара...')._grey

        +e.title
          .container
            span.js-burger-title Очки

      .container
        +e.innercontent
          +e.UL.list
            +e.LI.item
              +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Очки
              +e.UL.list._child
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Очки
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Аксессуары
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Бренды
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Смотрите также
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
            +e.LI.item
              +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Шапочки
              +e.UL.list._child
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Очки
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Аксессуары
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Бренды
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Смотрите также
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
            +e.LI.item
              +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Аксессуары
              +e.UL.list._child
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Очки
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Аксессуары
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Бренды
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Смотрите также
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
            +e.LI.item
              +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Купальники
              +e.UL.list._child
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Очки
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Аксессуары
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Бренды
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Смотрите также
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
            +e.LI.item
              +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Плавки
              +e.UL.list._child
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Очки
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Аксессуары
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Бренды
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Смотрите также
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
            +e.LI.item
              +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Гидрокостюмы
              +e.UL.list._child
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Очки
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Аксессуары
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Бренды
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Смотрите также
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
            +e.LI.item
              +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Прочее
              +e.UL.list._child
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Очки
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Аксессуары
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Бренды
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Смотрите также
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
            +e.LI.item
              +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Скидки
              +e.UL.list._child
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Очки
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Аксессуары
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Бренды
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Смотрите также
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
            +e.LI.item
              +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Бренды
              +e.UL.list._child
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Очки
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Аксессуары
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Бренды
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни
                +e.LI.item
                  +link-icon('Arrow-menu-button')._dark.__link.js-burger-link Смотрите также
                  +e.UL.list._child
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Антифог-спреи
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Тряпочки для протирания
                    +e.LI.item
                      +link(href="/")._grey.__link.js-burger-link Сменные ремни

          +e.FOOTER.section.__footer.js-burger-footer
            .container
              +getintouch
