.burger {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  box-sizing: border-box;
  // pointer-events: none;

  &.is-active {
    pointer-events: all;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($darkestgrey2-color, .82);
    transform: translateZ(0);
    transition: opacity $ease-main;
    // opacity: 0;

    .burger.is-active & {
      opacity: 1;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    max-width: 668px;
    width: 90%;
    // transform: translate3d(-100%, 0, 0);
    transition: transform $ease-main;
    background-color: white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .burger.is-active & {
      transform: translate3d(0, 0, 0);
    }
  }

  @include screen(desktop, min) {
    display: none;
  }

  &__section {
    display: block;
    width: 100%;
    padding: 20px 0 15px 0;
  }

  &__header {
    display: block;
    border-bottom: 1px solid $color-border;
    width: auto;
    height: 66px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &links {
      position: relative;
    }

    &link {
      transition: all $ease-main;
      margin-top: 4px;
      padding-left: 22px;

      .link__text { @include link-medium; }
      .link__icon {
        top: 50%;
        transform: translateY(-50%);
      }

      &_user {
        .burger.is-selected & {
          pointer-events: none;
          opacity: 0;
        }

        .link__icon {
          width: 15px;
          height: 18px;
        }
      }

      &_back {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;

        .burger.is-selected & {
          pointer-events: all;
          opacity: 1;
        }

        .link__icon {
          width: 16px;
          height: 12px;
        }
      }
    }
  }

  &__close {
    padding: 10px;
    font-size: 0;
    margin-right: -10px;
    margin-top: 1px;

    svg {
      width: 17px;
      height: 17px;
      fill: $middlegreyblue-color;
      transition: fill $ease-main;
    }

    &:hover svg {
      fill: $color-basic;
    }
  }

  &__subheader {
    display: block;
    position: relative;
  }

  &__search {
    padding-top: 20px;
    transition: opacity $ease-main;

    .burger.is-selected & {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: $greyblue3-color;
    transition: opacity $ease-main;
    opacity: 0;
    pointer-events: none;

    .burger.is-selected & {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__innercontent {
    display: block;
    position: relative;
    margin-top: 16px;
  }

  &__list {
    padding-top: 0;
    padding-bottom: 15px;

    .burger__item & {
      display: none;
    }
  }

  &__item {

  }

  &__link {
    display: block;
    padding: 9px 40px 9px 0;

    .link__text { @include link-medium; }

    .link__icon {
      position: absolute;
      top: 50%;
      right: 0;
      left: auto;
      transform: translateY(-50%);
      margin-right: 0;
      width: 8px;
      height: 13px;
    }
  }

  &__footer {
    border-top: 1px solid $color-border;
    transition: opacity $ease-main;

    .burger.is-selected & {
      opacity: 0;
      pointer-events: none;
    }
  }
}
