.burger {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  box-sizing: border-box;
  // pointer-events: none;

  &.is-active {
    pointer-events: all;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($darkestgrey2-color, .82);
    transform: translateZ(0);
    transition: opacity $ease-main;
    // opacity: 0;

    .burger.is-active & {
      opacity: 1;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    max-width: 668px;
    width: 90%;
    // transform: translate3d(-100%, 0, 0);
    transition: transform $ease-main;
    background-color: white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .burger.is-active & {
      transform: translate3d(0, 0, 0);
    }
  }

  @include screen(desktop, min) {
    display: none;
  }

  &__section {
    display: block;
    width: 100%;
    padding: 20px 0 15px 0;
  }

  &__header {
    position: relative;
    display: block;
    border-bottom: 1px solid $color-border;
    width: auto;
    height: 66px;
    box-sizing: border-box;

    &links {
      position: absolute;
      top: 0;
      left: 20px;
      bottom: 0;
    }

    &link {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      transition: all $ease-main;
      opacity: 0;
      pointer-events: none;
      margin-top: 4px;
      padding-left: 22px;

      &.is-active {
        opacity: 1;
        pointer-events: all;
      }

      &_user {
        .link__icon {
          width: 15px;
          height: 18px;
        }
      }

      &_back {
        .link__icon {
          width: 16px;
          height: 12px;
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: 2px;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 0;

    svg {
      width: 17px;
      height: 17px;
      fill: $middlegreyblue-color;
      transition: fill $ease-main;
    }

    &:hover svg {
      fill: $color-basic;
    }
  }

  &__search {
    .burger.is-selected & {
      display: none;
    }
  }

  &__title {
    display: none;
    line-height: 56px;
    background-color: $greyblue3-color;

    .burger.is-selected & {
      display: block;
    }
  }

  &__list {
    padding-top: 0;
    padding-bottom: 15px;

    .burger__item & {
      display: none;
    }
  }

  &__item {

  }

  &__link {
    display: block;
    line-height: 40px;
    padding-left: 0;
    padding-right: 40px;

    .link__icon {
      position: absolute;
      top: 50%;
      right: 0;
      left: auto;
      transform: translateY(-50%);
      margin-right: 0;
      width: 8px;
      height: 13px;
    }
  }

  &__footer {
    border-top: 1px solid $color-border;
  }
}
