mixin filter-burger(isReviews)
  +b.burger._filter.js-filter-burger#filter-burger&attributes(attributes)
    +e.overlay.js-filter-burger-close
    +e.content
      +e.HEADER.section.__header
        .container
          +e.headerlinks
            +link-icon('filter_icon_mobile')._dark.__headerlink.is-active Фильтры

          +e.BUTTON.close.js-filter-burger-close
            +icon('close-menu')

      +e.subheader
        +filter-section._mobile
          if isReviews
            +filter-section-grid
              +filter-section-col._full
                +filter-section-heading Ваш выбор: #[span (0)]
          else
            +filter-section-grid
              +filter-section-col._full
                +filter-section-heading Ваш выбор: #[span (4)]
              +filter-section-col
                +choice Очки-маски
              +filter-section-col
                +choice Мужские
              +filter-section-col
                +choice Arena
              +filter-section-col
                +choice 1699 - 2000 руб.
            +filter-section-grid
              +filter-section-col._not_shrinkable
                +button.BUTTON._size_sm._transparent
                  +icon('cancel copy').icon._cancel
                  | Сбросить все

        +e.innercontent
          +accordion._big_divider
            +accordion-header
              +accordion-button Категории
            +accordion-body
              - var categoriesAcccordionData = getData('catalog-categories-menu')
              each categoriesAccordion, index in categoriesAcccordionData
                +vertical-menu(categoriesAccordion.title, categoriesAccordion.links, true)._accordion(class=index === 0 ? 'is-active' : '')

          +sort-dropdown._products
            +sort-dropdown-button Любой товар
            +sort-dropdown-body
              +sort-dropdown-list(true)
                +sort-dropdown-item
                  +checkbox('product', 'product-1') Очки для тренировок
                +sort-dropdown-item
                  +checkbox('product', 'product-2') Профессиональные очки для плавания
                +sort-dropdown-item
                  +checkbox('product', 'product-3') Очки-маски
                +sort-dropdown-item
                  +checkbox('product', 'product-4') Очки с диоприями
                +sort-dropdown-item
                  +checkbox('product', 'product-5') Наборы “Очки+Шапочка”
              +sort-dropdown-submit
        unless isReviews
          +sort-dropdown
            +sort-dropdown-button Любой пол
            +sort-dropdown-body
              +sort-dropdown-list(true)
                +sort-dropdown-item
                  +checkbox('sex', 'male') Мужские
                +sort-dropdown-item
                  +checkbox('sex', 'female') Женские
              +sort-dropdown-submit

          +sort-dropdown._brands
            +sort-dropdown-button Любой бренд
            +sort-dropdown-body
              +searchbar('Поиск бренда...')._small
              +sort-dropdown-list(true)
                +sort-dropdown-item
                  +checkbox('brand', 'product-1') Adidas
                +sort-dropdown-item
                  +checkbox('brand', 'product-2') Adl
                +sort-dropdown-item
                  +checkbox('brand', 'product-3') Banana Republic
                +sort-dropdown-item
                  +checkbox('brand', 'product-4') Baon
                +sort-dropdown-item
                  +checkbox('brand', 'product-5') Befree
                +sort-dropdown-item
                  +checkbox('brand', 'product-6') Betsy
                +sort-dropdown-item
                  +checkbox('brand', 'product-7') Caprice
                +sort-dropdown-item
                  +checkbox('brand', 'product-8') United Colors Of Benneton
                +sort-dropdown-item
                  +checkbox('brand', 'product-1') Adidas
                +sort-dropdown-item
                  +checkbox('brand', 'product-2') Adl
                +sort-dropdown-item
                  +checkbox('brand', 'product-3') Banana Republic
                +sort-dropdown-item
                  +checkbox('brand', 'product-4') Baon
                +sort-dropdown-item
                  +checkbox('brand', 'product-5') Befree
                +sort-dropdown-item
                  +checkbox('brand', 'product-6') Betsy
                +sort-dropdown-item
                  +checkbox('brand', 'product-7') Caprice
                +sort-dropdown-item
                  +checkbox('brand', 'product-8') United Colors Of Benneton

              +link.__readmore Показать еще
              +sort-dropdown-submit

        unless isReviews
          +sort-dropdown._price
            +sort-dropdown-button Любая цена
            +sort-dropdown-body
              +inputbox.sort-dropdown__range
                +range()(data-start='[930, 4393]', data-connect='true', data-min='930', data-max='6000')

              +inputbox.sort-dropdown__inputs
                +input(value="930")._size_sm
                +input(value="4 393")._size_sm

              +sort-dropdown-submit
