.circle-button {
  display: block;
  text-align: center;
  cursor: pointer;

  &__button {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $lightblue-color;
    box-sizing: border-box;
    border-radius: 50%;
    transition: border-color $ease-main;

    .circle-button:hover & {
      border: 1px solid $dark-border-color;

      &::before,
      &::after {
        background-color: $color-basic;
      }
    }

    .circle-button_white & {
      background-color: white;
      border-color: transparent;
    }

    .circle-button_white:hover & {
      background-color: $color-main;
      border-color: transparent;
    }

    .circle-button_plus & {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 2px;
        background-color: $darkblue-color;
        transition: background-color $ease-main,
                    transform $ease-main;
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    max-height: 60%;
    fill: $darkblue-color;
    transition: fill $ease-main;

    .circle-button_close & {
      width: 10px;
      height: 10px;
    }

    .circle-button:hover & {
      fill: $color-basic;
    }

    .circle-button_white & {
      fill: $darkgrey-color;
    }

    .circle-button_white:hover & {
      fill: white;
    }
  }

  &__text {
    display: block;
    margin-top: 5px;
    @include heading-6;
    line-height: (23/15);
    color: $darkblue-color;
    transition: color $ease-main;

    .circle-button:hover & {
      color: $color-basic;
    }

    @include screen(sm) {
      display: none;
    }
  }
}
