mixin article-card(data)
  +b.A.article-card(href='javascript:void(0)')&attributes(attributes)
    +e.image
      img(src=`content-img/article-cards/${data.image}.jpg` alt=data.heading)
    +e.body
      +e.H6.heading(data-lines={"desktop":"2", "tablet":"3", "mobile": "3"})=data.heading
      +e.P.date=data.date
      +e.P.text(data-lines={"desktop":"7", "tablet":"8", "mobile": "7"})!=data.text
