.article-card {
  display: flex;
  flex-direction: column;
  height: 446px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(157, 164, 171, 0.26);
  border: 1px solid $color-border;
  background-color: white;
  transition: box-shadow $ease-main;
  @include text;
  color: $color-basic;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 16px 22px rgba(157, 164, 171, 0.46);
  }

  @include screen(desktop) {
    padding: 14px 13px;
    height: 389px;
  }

  @include screen(tablet) {
    height: 381px;
  }

  &__image {
    display: block;
    position: relative;
    width: 100%;
    height: 160px;
    overflow: hidden;
    flex-shrink: 0;

    @include screen(desktop) {
      height: 93px;
    }

    @include screen(tablet) {
      height: 107px;
    }

    img {
      @include fill-img;
      z-index: 1;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    flex: 1 1 auto;

    @include screen(desktop) {
      margin-top: 13px;
    }
  }

  &__heading {
    display: block;
    max-height: 50px;
    @include heading-5;
    transition: color $ease-main;

    .article-card:hover & {
      color: $darkblue-color;
    }

    @include screen(desktop) {
      @include text-medium;
      line-height: (19/14);
    }
  }

  &__date {
    display: block;
    margin-top: 6px;
    @include text-small;
    color: $semigrey-color;

    @include screen(desktop) {
      margin-top: 10px;
    }

    @include screen(tablet) {
      margin-top: 8px;
    }
  }

  &__text {
    display: block;
    margin-top: 7px;
    color: $darkengrey-color;
    overflow: hidden;
    flex: 1 1 auto;

    @include screen(desktop) {
      margin-top: 5px;
      max-height: 173px;
    }
  }
}
