extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Юридическая информация'

block navbar
  +navbar

block content
  +b.page
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Юридическая информация'])
      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading Юридическая информация
          +e.P.text Договор публичной оферты интернет-магазина PROSWIM (ООО «Свим Онлайн»)
      +e.SECTION.defenitions.content-zone.content-zone_bold
        h2 Термины и определения:
        p 
          strong Продавец
          | &nbsp;&mdash; ООО &laquo;Свим Онлайн&raquo; (Юридический адрес: 129626, г. Москва, ул. 3-я Мытищинская, д.&nbsp;16, стр.&nbsp;35, ОГРН 1157746824784; тел.: 8 (495) 580-82-95; email:&nbsp;<a href="mailto:info@proswim.ru">info@proswim.ru</a>).
        p 
          strong Покупатель
          | &nbsp;&mdash; любое физическое лицо, акцептировавшее публичную оферту на&nbsp;условиях настоящей оферты.
        p 
          strong Интернет-магазин
          | &nbsp;&mdash; официальный интернет-магазин Продавца &laquo;Свим Онлайн&raquo;, расположенный по&nbsp;адресу <a href="https://www.proswim.ru">https://www.proswim.ru.</a>
        p 
          strong Сайт
          | &nbsp;&mdash; совокупность электронных ресурсов, доступных для просмотра Покупателем в&nbsp;сети Интернет в&nbsp;домене <a href="https://www.proswim.ru">www.proswim.ru.</a>
        p 
          strong Товар
          | &nbsp;&mdash; товар, продукция, информация о&nbsp;наименовании, ассортименте и&nbsp;цене которых размещается на&nbsp;сайте Интернет-магазина &laquo;Просвим&raquo; <a href="https://www.proswim.ru">www.proswim.ru.</a>
        p 
          strong Заказ
          | &nbsp;&mdash; отдельные позиции из&nbsp;ассортимента, представленного на&nbsp;Сайте Продавца, указанные Покупателем при оформлении заявки, как на&nbsp;сайте, так и&nbsp;по&nbsp;телефону.
        p 
          strong Доставка
          | &nbsp;&mdash; услуги по&nbsp;доставке Товара по&nbsp;адресу, указанному Покупателем, и&nbsp;передача его Покупателю, либо лицу, указанному Покупателем.
        p 
          strong Курьерская служба
          | &nbsp;&mdash; третье лицо, определяемое Продавцом, осуществляющее Доставку Товара Покупателю.
        p 
          strong Пункт Самовывоза
          | &nbsp;&mdash; место, в&nbsp;котором Покупатель может самостоятельно получить интернет-заказ. Расположен по&nbsp;адресу: Москва, ул. 3-я Мытищинская, д.16, с.47, офис 329.
        p 
          strong Акционная скидка
          | &nbsp;&mdash; скидка, которая предоставляется на&nbsp;определенный Товар. Размер скидки указывается на&nbsp;странице Товара. Цена на&nbsp;Товар указана с&nbsp;учетом акционной скидки.
        p 
          strong Промокод
          | &nbsp;&mdash; специальный код, который предоставляет скидку на&nbsp;определенную группу Товаров и&nbsp;имеет срок действия. Для получения скидки по&nbsp;промокоду, промокод необходимо ввести в&nbsp;поле &laquo;Промокод&raquo; в&nbsp;&laquo;Корзине&raquo; Покупателя при оформлении Заказа.
        p 
          strong Скидка постоянного Покупателя
          | &nbsp;&mdash; скидка, предоставляемая интернет-магазином Покупателю на&nbsp;определенных условиях.
      +e.SECTION.agreement
        +e.SECTION.sect
          +ol-list-multilevel.list-multilevel_bold
            li 
              span Общие положения
              ol
                li 
                  span Настоящая публичная Оферта является официальным предложением ООО &laquo;Свим Онлайн&raquo; в&nbsp;адрес любого физического лица, обладающего дееспособностью  и&nbsp;необходимым полномочием заключить с&nbsp;ООО &laquo;Свим Онлайн&raquo; договор купли-продажи Товара на&nbsp;условиях, определенных в&nbsp;настоящей оферте и&nbsp;содержит все существенные условия договора.
                li 
                  span Отношения в&nbsp;области защиты прав потребителей регулируются Гражданским кодексом Российской Федерации, Законом &laquo;О&nbsp;защите прав потребителей&raquo; и&nbsp;принимаемыми в&nbsp;соответствии с&nbsp;ним иными федеральными законами и&nbsp;правовыми актами Российской Федерации.
            li 
              span Предмет договора
              ol
                li 
                  span Продавец обязуется передать в&nbsp;собственность Покупателю, а&nbsp;Покупатель обязуется оплатить и&nbsp;принять заказанные в&nbsp;интернет-магазине <a href="https://www.proswim.ru">www.proswim.ru</a> товары.
                li 
                  span Право собственности на&nbsp;Товар переходит к&nbsp;Покупателю в&nbsp;момент приемки Товара Покупателем и&nbsp;оплаты последним полной стоимости принятого Товара в&nbsp;соответствии с&nbsp;условиями настоящего Договора. Риск случайной гибели или повреждения Товара переходит к&nbsp;Покупателю с&nbsp;момента приемки Товара Покупателем.
            li 
              span Момент заключения договора
              ol
                li
                  span Текст данного Договора является публичной офертой (в&nbsp;соответствии со&nbsp;статьей 435 и&nbsp;частью 2&nbsp;статьи 437 Гражданского кодекса&nbsp;РФ).
                li
                  span Факт оформления Заказа Товара у&nbsp;Продавца как самостоятельно, так и&nbsp;через менеджера интернет-магазина, является безоговорочным принятием данного Договора, и&nbsp;Покупатель рассматривается как лицо, вступившее с&nbsp;ООО &laquo;Свим Онлайн&raquo; в&nbsp;договорные отношения.
                li
                  span Оформление Заказа Товара и&nbsp;расчета осуществляется путем заказа Покупателем в&nbsp;интернет-магазине <a href="https://www.proswim.ru">www.proswim.ru.</a>
            li 
              span Характеристики Товара
              ol
                li
                  span Товар, представленный на&nbsp;Сайте, сопровождается фотографиями и&nbsp;изображениями, являющимися собственностью Продавца, поставщиков или производителей Товара. Каждый Товар сопровождается текстовой информацией: названием, ценой, цветом, размером, и&nbsp;иным описанием.
                li
                  span Все информационные материалы, представленные на&nbsp;Сайте Продавца, носят справочный характер и&nbsp;не&nbsp;могут в&nbsp;полной мере передавать достоверную информацию об&nbsp;определенных свойствах и&nbsp;характеристиках Товара, таких как: цвет, форма, размер и&nbsp;упаковка. В&nbsp;случае возникновения у&nbsp;Покупателя вопросов, касающихся свойств и&nbsp;характеристик Товара, перед заключением Договора Покупателю необходимо по&nbsp;своему выбору:
                  ul 
                   li обратиться за&nbsp;консультацией по&nbsp;телефону Продавца&nbsp;8 (800) 100-24-59;
                   li задать вопрос в карточке Товара на Сайте Продавца.
                li 
                  span Товар может иметь незначительные отличия от&nbsp;изображения, представленного на&nbsp;Cайте по&nbsp;цвету, форме, размеру или другим параметрам. Любые характеристики Товаров могут быть изменены изготовителем Товара без предварительного уведомления. Товар в&nbsp;случаях, предусмотренных законодательством&nbsp;РФ, имеет все необходимые сертификаты качества и&nbsp;санитарно-гигиенические заключения и&nbsp;полностью соответствует нормам и&nbsp;требованиям законодательства&nbsp;РФ.
                li 
                  span Продажа Товара в&nbsp;соответствии с&nbsp;условиями Договора осуществляется в&nbsp;режиме реального времени (круглосуточно) и&nbsp;подразумевает возможность изменения его цены и&nbsp;наличия без предварительного уведомления об&nbsp;этом Покупателя. В&nbsp;связи с&nbsp;этим, Товар резервируется за&nbsp;Покупателем только после подтверждения принятия Заказа Продавцом.
            li 
              span Цена Товара
              ol 
                li 
                  span Цены на&nbsp;Товар определяются Продавцом в&nbsp;одностороннем порядке и&nbsp;указываются на&nbsp;Сайте в&nbsp;российских рублях и&nbsp;включают в&nbsp;себя налог на&nbsp;добавленную стоимость. Цена Товара может быть изменена Продавцом в&nbsp;одностороннем порядке. При этом цена на&nbsp;заказанный Покупателем Товар изменению не&nbsp;подлежит.
            li 
              span Регистрация на сайте
              ol
                li
                  span Покупатель, зарегистрировавшийся в&nbsp;Интернет-магазине, получает индивидуальную идентификацию путем предоставления логина и&nbsp;пароля. Индивидуальная идентификация Покупателя позволяет избежать несанкционированных действий третьих лиц от&nbsp;имени Покупателя и&nbsp;открывает доступ к&nbsp;дополнительным сервисам. Передача Покупателем логина и&nbsp;пароля третьим лицам запрещена.
                li
                  span Продавец не&nbsp;несет ответственность за&nbsp;точность и&nbsp;правильность информации, предоставляемой Покупателем при регистрации.
                li
                  span Воспользоваться скидкой постоянного покупателя можно через Личный кабинет. Для этого необходимо делать заказы после входа на&nbsp;сайт под своим логином. Скидка постоянного покупателя привязана к&nbsp;конкретному Личному кабинету, т.к. рассчитывается на&nbsp;основе покупок, сделанных через него. В&nbsp;случае повторной регистрации на&nbsp;сайте, история покупок и&nbsp;скидка постоянного покупателя не&nbsp;переносятся из&nbsp;старого Личного кабинета в&nbsp;новый.
            li
              span Оформление Заказа
              ol
                li
                  span Заказ Товара осуществляется Покупателем одним из&nbsp;следующих способов:
                  ul 
                    li самостоятельно с&nbsp;использованием сервиса Сайта Продавца;
                    li путем обращения по&nbsp;контактному телефону Продавца&nbsp;8 (800) 100-24-59.
                li
                  span При самостоятельном оформлении Заказа на&nbsp;Сайте, а&nbsp;так&nbsp;же при оформлении Заказа путем обращения по&nbsp;контактному телефону Продавца Покупатель обязуется сообщить следующую информацию:
                  ul
                    li фамилия, имя, отчество;
                    li фактический адрес доставки Товара;
                    li адрес электронной почты (при оформлении Заказа на&nbsp;Сайте);
                    li контактный телефон;
                    li наименование Товара и&nbsp;его количество;
                    li дополнительную информацию на&nbsp;усмотрение Покупателя.
                li
                  span Факт получения Заказа Покупателя подтверждается Продавцом одним из&nbsp;следующих способов:
                  ul
                    li путем совершения Продавцом исходящего звонка по&nbsp;одному из&nbsp;контактных телефонов, указанных Покупателем, и&nbsp;последующего подтверждения Покупателем сведений, содержащихся в&nbsp;Заказе, и/или уточнения условий Доставки;
                    li направлением Продавцом сообщения по&nbsp;адресу электронной почты Покупателя.
                  p Заказ принимается Продавцом к&nbsp;исполнению только после согласования состава Заказа, его стоимости и&nbsp;способа доставки, и&nbsp;соответствующего уведомления Покупателя Продавцом.
                li 
                  span В&nbsp;момент оформления Заказу присваивается индивидуальный номер, который сообщается Покупателю. В&nbsp;любой момент на&nbsp;Сайте Продавца Покупатель может отслеживать статус своего заказа (включая информацию о&nbsp;дате формирования заказа, дате доставки и&nbsp;т.д.).
            li
              span Оплата Товара
              ol
                li
                  span Оплата Заказа осуществляется путем передачи Покупателем наличных денежных средств курьеру или посредством безналичной оплаты. Более подробная информация о&nbsp;способах оплаты Заказа размещена по&nbsp;адресу: <a href="https://www.proswim.ru/info/oplata/">https://www.proswim.ru/info/oplata/.</a>
                li
                  span Покупатель может оплатить заказ банковской картой и&nbsp;электронными деньгами. Доступны следующие виды платежей:
                  ul
                    li оплата банковскими картами Visa, MasterCard;
                    li оплата электронными деньгами Яндекс.Деньги;
                    li оплата электронными деньгами WebMoney;
                    li оплата через платежные терминалы QIWI и&nbsp;Евросеть;
                    li оплата электронными деньгами Master Pass;
                    li оплата через интернет-банк 
                      a(href="https://alfabank.ru/everyday/online/alfaclick/" target="_blank") &laquo;Альфа-Клик&raquo;,
                      a(href="https://ib.psbank.ru" target="_blank") &nbsp;&laquo;Промсвязьбанк&raquo;.
                li
                  span При наличной форме оплаты Покупатель обязан уплатить Продавцу цену Товара в&nbsp;момент его передачи, а&nbsp;Продавец обязан предоставить Покупателю кассовый или товарный чек, или иной документ, подтверждающий оплату Товара.
                li
                  span При безналичной форме оплаты обязанность Покупателя по&nbsp;уплате цены Товара считается исполненной с&nbsp;момента зачисления соответствующих денежных средств в&nbsp;размере 100% (ста процентов) предоплаты на&nbsp;расчетный счет Продавца по&nbsp;реквизитам, указанным в&nbsp;п.15 настоящего Договора.
                li
                  span При безналичной форме оплаты просрочка уплаты Покупателем цены Товара на&nbsp;срок свыше&nbsp;5 (пяти) рабочих дней является существенным нарушением настоящего договора. В&nbsp;этом случае Продавец вправе в&nbsp;одностороннем порядке отказаться от&nbsp;исполнения настоящего договора.
                li
                  span Товары поставляются Покупателю по&nbsp;ценам, наименованию, в&nbsp;количестве, соответствующем счету, оплаченному Покупателем.
            li
              span Сроки исполнения Заказа, Доставка Товара
              ol
                li
                  span Условия осуществления Доставки Товара, а&nbsp;именно срок осуществления Доставки и&nbsp;ее&nbsp;стоимость, устанавливаются Продавцом и&nbsp;размещаются на&nbsp;Сайте. Итоговая стоимость Доставки Заказа рассчитывается индивидуально и&nbsp;сообщается Покупателю в&nbsp;момент оформления Заказа.
                li
                  span Доставка Товара может быть осуществлена Продавцом с&nbsp;привлечением Курьерских служб.
                li
                  span При Доставке Заказ вручается непосредственно Покупателю, либо другому лицу, указанному Покупателем в&nbsp;качестве Получателя Заказа.
                li
                  span Заказ считается доставленным в&nbsp;момент его передачи Покупателю. Принимая Товар и&nbsp;оплачивая его сотруднику службы Доставки, Покупатель подтверждает исполнение Заказа.
                li
                  span Неявка Покупателя или не&nbsp;совершение иных необходимых действий для принятия Товара могут рассматриваться Продавцом в&nbsp;качестве отказа Покупателя от&nbsp;исполнения Договора.
            li
              span Возврат и обмен Товара
              ol 
                li 
                  span В&nbsp;соответствии с&nbsp;п.&nbsp;4. ст.&nbsp;26.1. Закона РФ &#8470;&nbsp;2300-I &laquo;О&nbsp;Защите прав потребителей&raquo;, Покупатель вправе отказаться от&nbsp;заказанного Товара надлежащего качества в&nbsp;любое время до&nbsp;момента исполнения Заказа, а&nbsp;после передачи товара&nbsp;&mdash; в&nbsp;течение&nbsp;90 (девяноста) календарных дней. Возврат товара надлежащего качества возможен в&nbsp;случае, если сохранены его товарный вид, потребительские свойства, а&nbsp;также документ, подтверждающий факт и&nbsp;условия покупки указанного товара.
                li
                  span В&nbsp;соответствии с&nbsp;п.&nbsp;2&nbsp;&laquo;Перечня непродовольственных товаров надлежащего качества, не&nbsp;подлежащих возврату или обмену на&nbsp;аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации&raquo;, утвержденного Постановлением Правительства РФ&nbsp;от&nbsp;19.01.1998&nbsp;г. &#8470;&nbsp;55, Покупатель не&nbsp;вправе отказаться от&nbsp;Товара надлежащего качества, имеющего индивидуально определенные свойства.
                li
                  span При отказе Покупателя от&nbsp;Товара надлежащего качества Продавец должен возвратить ему денежную сумму, уплаченную Покупателем по&nbsp;договору, за&nbsp;исключением расходов Продавца на&nbsp;доставку от&nbsp;Покупателя возвращенного Товара, не&nbsp;позднее чем через&nbsp;3 (три) рабочих дня с&nbsp;даты предъявления Покупателем соответствующего требования.
                li
                  span В&nbsp;соответствии со&nbsp;ст.&nbsp;22&nbsp;Закона РФ &#8470;&nbsp;2300-I &laquo;О&nbsp;Защите прав потребителей&raquo;, уплаченная Покупателем сумма за&nbsp;Товар ненадлежащего качества подлежит возврату в&nbsp;течение 3-х (трех) рабочих дней с&nbsp;момента предъявления соответствующего требования.
                li
                  span Возврат денежных средств осуществляется тем&nbsp;же способом, каким была произведена оплата при получении Товара. Возврат наличных средств осуществляется в&nbsp;пункте самовывоза Продавца по&nbsp;адресу: Москва, ул. 3-я Мытищинская, д.16, с.47, офис 329. В&nbsp;случае, если Товар был оплачен через платежную систему электронными деньгами, то&nbsp;возврат денежных средств осуществляется на&nbsp;электронный счет Покупателя. В&nbsp;случае, если Товар был оплачен банковской картой, то&nbsp;возврат денежных средств осуществляется на&nbsp;банковский счет Покупателя.
            li
              span Права и обязанности сторон
              ol
                li
                  b Продавец обязуется:
                  ol
                    li
                      span Продавец обязуется не&nbsp;разглашать любую частную информацию Покупателя и&nbsp;не&nbsp;предоставлять доступ к&nbsp;этой информации третьим лицам, за&nbsp;исключением случаев, предусмотренных Российским законодательством.
                    li
                      span Продавец обязуется обрабатывать персональные данные Покупателя в&nbsp;порядке, установленном действующим законодательством и&nbsp;<a href="#">Политикой</a> в&nbsp;отношении организации обработки и&nbsp;обеспечения безопасности персональных данных.
                li
                  b Продавец имеет право:
                  ol
                    li
                      span Использовать технологию &laquo;cookies&raquo;. &laquo;Cookies&raquo; не&nbsp;содержат конфиденциальную информацию и&nbsp;не&nbsp;передаются третьим лицам.
                    li
                      span Без согласия с&nbsp;Покупателем передавать свои права и&nbsp;обязанности по&nbsp;исполнению Заказов третьим лицам.
                    li
                      span Изменять настоящий Договор, Цены на&nbsp;Товар и&nbsp;Тарифы на&nbsp;сопутствующие услуги, способы и&nbsp;сроки оплаты и&nbsp;доставки товара в&nbsp;одностороннем порядке, помещая их&nbsp;на&nbsp;страницах интернет-магазина, расположенного по&nbsp;интернет-адресу <a href="https://www.proswim.ru.">https://www.proswim.ru.</a>
                      p Все изменения вступают в&nbsp;силу немедленно после публикации, и&nbsp;считаются доведенными до&nbsp;сведения Покупателя с&nbsp;момента такой публикации.
                    li
                      span Осуществлять записи телефонных переговоров с&nbsp;Покупателем.
                    li
                      span Получать информацию об&nbsp;ip&nbsp;&mdash; адресе посетителя Сайта <a href="https://www.proswim.ru.">https://www.proswim.ru.</a> Данная информация не&nbsp;используется для установления личности посетителя и&nbsp;не&nbsp;подлежит передаче третьим лицам.
                    li
                      span Продавец вправе направлять Покупателю сообщения рекламно-информационного характера посредством e-mail и&nbsp;sms-рассылок с&nbsp;информацией о&nbsp;скидках, акциях, новых поступлениях и&nbsp;т.п. Частота рассылок определяется Продавцом самостоятельно, в&nbsp;одностороннем порядке.
                li
                  b Покупатель обязуется:
                  ol
                    li
                      span До&nbsp;момента заключения Договора ознакомиться с&nbsp;содержанием договора-оферты, условиями оплаты и&nbsp;доставки на&nbsp;сайте магазина &laquo;Просвим&raquo; (<a href="https://www.proswim.ru.">www.proswim.ru</a>).
                    li
                      span Предоставлять достоверную информацию о&nbsp;себе (ФИО, контактные телефоны, адрес электронной почты) и&nbsp;реквизиты для доставки Товара.
                    li
                      span Оплатить заказанный Товар и его доставку на условиях настоящего договора.
                li
                  b Покупатель вправе:
                  ol
                    li
                      span Отказаться от получения e-mail и sms-рассылок.
            li
              span Ответственность сторон и разрешение споров
              ol
                li
                  span За&nbsp;неисполнение или ненадлежащее исполнение условий настоящего Договора Стороны несут ответственность в&nbsp;соответствии с&nbsp;законодательством Российской Федерации.
                li
                  span Вся текстовая информация и&nbsp;графические изображения, размещенные в&nbsp;интернет-магазине имеют законного правообладателя, незаконное использование указанной информации и&nbsp;изображений преследуется в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации.
            li
              span Форс-мажорные обстоятельства
              ol
                li
                  span 13.1. Стороны освобождаются от&nbsp;ответственности за&nbsp;неисполнение или ненадлежащее исполнение обязательств по&nbsp;Договору на&nbsp;время действия непреодолимой силы. Под непреодолимой силой понимаются чрезвычайные и&nbsp;непреодолимые при данных условиях обстоятельства, препятствующие исполнению своих обязательств Сторонами по&nbsp;настоящему Договору. К&nbsp;ним относятся стихийные явления (землетрясения, наводнения и&nbsp;т.&nbsp;п.), обстоятельства общественной жизни (военные действия, чрезвычайные положения, крупнейшие забастовки, эпидемии и&nbsp;т.&nbsp;п.), запретительные меры государственных органов (запрещение перевозок, валютные ограничения, международные санкции запрета на&nbsp;торговлю и&nbsp;т.&nbsp;п.). В&nbsp;течение этого времени Стороны не&nbsp;имеют взаимных претензий, и&nbsp;каждая из&nbsp;Сторон принимает на&nbsp;себя свой риск последствия форс-мажорных обстоятельств.
            li
              span Прочие условия
              ol
                li 
                  span Все споры, связанные с&nbsp;неисполнением, или ненадлежащим исполнением своих обязательств по&nbsp;настоящему договору стороны будут стараться решить в&nbsp;ходе переговоров.
                li 
                  span В&nbsp;случае не&nbsp;достижения согласия в&nbsp;ходе переговоров, споры будут разрешаться в&nbsp;судебном порядке в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации.
                li 
                  span Признание судом недействительности какого-либо положения настоящего Соглашения не&nbsp;влечет за&nbsp;собой недействительность остальных положений.
            li
              span Конфиденциальность и защита информации
              ol
                li
                  span Персональные данные Пользователя/Покупателя обрабатывается в&nbsp;соответствии с&nbsp;ФЗ&nbsp;&laquo;О&nbsp;персональных данных&raquo; &#8470;&nbsp;152-ФЗ.
                li
                  span При регистрации на&nbsp;Сайте Пользователь предоставляет следующую информацию: Фамилия, Имя, контактный номер телефона, адрес электронной почты, адрес доставки товара.
                li
                  span Предоставляя свои персональные данные Продавцу, Посетитель Сайта/Пользователь/Покупатель соглашается на&nbsp;их&nbsp;обработку Продавцом, в&nbsp;том числе в&nbsp;целях выполнения Продавцом обязательств перед Посетителем Сайта/Пользователем/Покупателем в&nbsp;рамках настоящей Публичной оферты, продвижения Продавцом товаров и&nbsp;услуг, проведения электронных и&nbsp;sms опросов, контроля результатов маркетинговых акций, клиентской поддержки, организации доставки товара Покупателям, проведение розыгрышей призов среди Посетителей Сайта/Пользователей/ Покупателей, контроля удовлетворенности Посетителя Сайта/Пользователя/Покупателя, а&nbsp;также качества услуг, оказываемых Продавцом.
                li
                  span Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций), совершаемых с&nbsp;использованием средств автоматизации или без использования таких средств с&nbsp;персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, передачу (в&nbsp;том числе передачу третьим лицам, не&nbsp;исключая трансграничную передачу, если необходимость в&nbsp;ней возникла в&nbsp;ходе исполнения обязательств), обезличивание, блокирование, удаление, уничтожение персональных данных.
                li
                  span Продавец имеет право отправлять информационные, в&nbsp;том числе рекламные сообщения, на&nbsp;электронную почту и&nbsp;мобильный телефон Пользователя/Покупателя с&nbsp;его согласия, выраженного посредством совершения им&nbsp;действий, однозначно идентифицирующих этого абонента и&nbsp;позволяющих достоверно установить его волеизъявление на&nbsp;получение сообщения.
                li
                  span Пользователь/Покупатель вправе отказаться от&nbsp;получения рекламной и&nbsp;другой информации без объяснения причин отказа, путем направления письменного заявления в&nbsp;адрес Продавца.
                li
                  span Отзыв согласия на&nbsp;обработку персональных данных осуществляется путем отзыва акцепта настоящей Публичной оферты посредством направления в&nbsp;адрес Продавца письменного заявления об&nbsp;отзыве согласия на&nbsp;обработку персональных данных.
                li
                  span Продавец вправе использовать технологию &laquo;cookies&raquo;. &laquo;Cookies&raquo; не&nbsp;содержат конфиденциальную информацию. Посетитель&nbsp;/ Пользователь&nbsp;/ Покупатель настоящим дает согласие на&nbsp;сбор, анализ и&nbsp;использование cookies, в&nbsp;том числе третьими лицами для целей формирования статистики и&nbsp;оптимизации рекламных сообщений.
                li
                  span Продавец получает информацию об&nbsp;ip-адресе посетителя Сайта <a href="https://www.proswim.ru">https://www.proswim.ru.</a> Данная информация не&nbsp;используется для установления личности посетителя.
                li
                  span Продавец не&nbsp;несет ответственности за&nbsp;сведения, предоставленные Пользователем/Покупателем на&nbsp;Сайте в&nbsp;общедоступной форме.
                li
                  span Продавец вправе осуществлять записи телефонных разговоров с&nbsp;Пользователем/Покупателем. При этом Продавец обязуется: предотвращать попытки несанкционированного доступа к&nbsp;информации, полученной в&nbsp;ходе телефонных переговоров, и/или передачу ее&nbsp;третьим лицам, не&nbsp;имеющим непосредственного отношения к&nbsp;исполнению Заказов, в&nbsp;соответствии с&nbsp;п.&nbsp;4&nbsp;ст.&nbsp;16&nbsp;Федерального закона &laquo;Об&nbsp;информации, информационных технологиях и&nbsp;о&nbsp;защите информации&raquo;.
            li
              span Срок действия публичной оферты
              ol
                li
                  span Настоящая Публичная оферта вступает в&nbsp;силу с&nbsp;момента ее&nbsp;акцепта Посетителем Сайта/Покупателем, и&nbsp;действует до&nbsp;момента отзыва акцепта Публичной оферты.
            li
              span Реквизиты и контактная информация Продавца
              table 
                tbody
                  tr
                    td Форма (ООО или ИП)
                    td Общество с ограниченной ответственностью
                  tr
                    td Название
                    td &laquo;Свим Онлайн&raquo;
                  tr
                    td Генеральный директор (ФИО)
                    td Сенечкин Михаил Валерьевич
                  tr
                    td Главный бухгалтер (ФИО)	
                    td Сенечкин Михаил Валерьевич
                  tr
                    td Юридический адрес:	
                    td 129626, г. Москва, ул. 3-я Мытищинская, д.&nbsp;16, стр.&nbsp;35
                  tr
                    td Адрес для документации (курьер):	
                    td 129626, г. Москва, ул. 3-я Мытищинская, д.&nbsp;16, стр.&nbsp;35
                  tr
                    td Адрес склада:
                    td 129626, г. Москва, ул. 3-я Мытищинская, д.&nbsp;16, стр.&nbsp;35
                  tr
                    td ИНН
                    td 9717000402
                  tr
                    td КПП
                    td 771701001
                  tr
                    td ОГРН/ОГРНИП
                    td 1157746824784
                  tr
                    td ОКПО
                    td 45172781
                  tr
                    td Р/С
                    td 40702810201100009187
                  tr
                    td К/С
                    td 30101810200000000593
                  tr
                    td БИК
                    td 044525593
                  tr
                    td Банк
                    td АО&nbsp;&laquo;АЛЬФА БАНК&raquo;
                  tr
                    td Ставка НДС	
                    td Без НДС
                  tr
                    td Контактный телефон (офис)
                    td 8 (495) 580-82-95
                  tr
                    td Контактный телефон (бухгалтерия)	
                    td 8 (495) 580-82-95
        +e.SECTION.sect
          .content-zone.content-zone_bold
            h2 Положение о&nbsp;политике в&nbsp;отношении обработки персональных данных в&nbsp;ООО &laquo;Свим Онлайн&raquo;
          +ol-list-multilevel.list-multilevel_bold
            li
              span Общие положения
              ol
                li
                  span Настоящая Политика конфиденциальности персональной информации (далее&nbsp;&mdash; Политика) проводится ООО &laquo;Свим Онлайн&raquo; юридический адрес: 129626, г. Москва, ул. 3-я Мытищинская, д.&nbsp;16, стр.&nbsp;35, помещение&nbsp;VI комната 10&nbsp;офис 325, ОГРН 1157746824784, сайт <a href="https://www.proswim.ru/">https://www.proswim.ru/</a> (далее&nbsp;&mdash; &laquo;Организация&raquo; либо &laquo;Оператор&raquo;) и&nbsp;действует в&nbsp;отношении всей информации, которую Организация может получить о&nbsp;пользователе сети Интернет (далее&nbsp;&mdash; Клиенте) во&nbsp;время использования им&nbsp;сайта <a href="https://www.proswim.ru/">https://www.proswim.ru/</a> и/или во&nbsp;время использования им&nbsp;любого из&nbsp;сайтов, продуктов, услуг Организации (далее&nbsp;&mdash; Сервисы Организации).
                li
                  span Настоящая Политика признается принятой Посетителем Сайта&nbsp;/ Покупателем с&nbsp;момента регистрации Посетителя на&nbsp;Сайте. Предоставляя свои персональные данные Продавцу, Посетитель Сайта/Пользователь/Покупатель соглашается на&nbsp;их&nbsp;обработку Продавцом, в&nbsp;том числе в&nbsp;целях выполнения Продавцом обязательств перед Посетителем Сайта/Пользователем/Покупателем в&nbsp;рамках настоящей Публичной оферты, продвижения Продавцом товаров и&nbsp;услуг, проведения электронных и&nbsp;sms опросов, контроля результатов маркетинговых акций, клиентской поддержки, организации доставки товара Покупателям, проведение розыгрышей призов среди Посетителей Сайта/Пользователей/ Покупателей, контроля удовлетворенности Посетителя Сайта/Пользователя/Покупателя, а&nbsp;также качества услуг, оказываемых Продавцом.
                li
                  span Использование Сервисов Организации означает безоговорочное согласие Клиента с&nbsp;настоящей Политикой и&nbsp;указанными в&nbsp;ней условиями обработки его персональной информации; в&nbsp;случае несогласия с&nbsp;этими условиями Клиент должен воздержаться от&nbsp;использования Сервисов Организации. Организация исходит из&nbsp;того, что Клиент предоставляет достоверную и&nbsp;достаточную персональную информацию и&nbsp;поддерживает эту информацию в&nbsp;актуальном состоянии.
                li
                  span Обработка персональных данных осуществляется в&nbsp;соответствии со&nbsp;статьей 24&nbsp;Конституции РФ, Федерального закона от&nbsp;27.07.2006&nbsp;N 152-ФЗ (ред.&nbsp;от&nbsp;25.07.2011) &laquo;О&nbsp;персональных данных&raquo;, других нормативных актов&nbsp;РФ.
                li
                  span Цель Политики заключается в&nbsp;доведении до&nbsp;лиц, предоставляющих свои персональные данные необходимой информации, позволяющей оценить, какие персональные данные и&nbsp;с&nbsp;какими целями обрабатываются Организацией, какие методы обеспечения их&nbsp;безопасности реализуются.
                li
                  span Политика обеспечивает защиту прав и&nbsp;свобод субъектов при обработке их&nbsp;персональных данных с&nbsp;использованием средств автоматизации или без использования таких средств, а&nbsp;также устанавливает ответственность лиц, имеющих доступ к&nbsp;персональным данным, за&nbsp;невыполнение требований, регулирующих обработку и&nbsp;защиту персональных данных.
                li
                  span Важнейшим условием успешной деятельности Организации является обеспечение необходимого и&nbsp;достаточного уровня безопасности в&nbsp;отношении информации, к&nbsp;которой, в&nbsp;том числе, относятся персональные данные.
            li
              span Состав персональных данных
              ol
                li
                  span Сведениями, составляющими персональные данные, является любая информация, относящаяся к&nbsp;прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
                li
                  b В&nbsp;рамках настоящей Политики под персональной информацией Клиента понимаются:
                  ol
                    li 
                      span Персональная информация, которую Клиент предоставляет о&nbsp;себе самостоятельно при регистрации в&nbsp;любом из&nbsp;Сервисов Организации или в&nbsp;процессе использования Сервисов Организации. При оформлении Заказа на&nbsp;Сайте Клиент предоставляет следующие персональные данные: Фамилия, Имя, адрес электронной почты, номер контактного телефона, адрес доставки, данные документа, удостоверяющего личность. Организация использует информацию для выполнения своих обязательств перед Клиентом.
                li
                  span Организация не&nbsp;проверяет достоверность персональной информации, предоставляемой Клиентами.
                li
                  span Все обрабатываемые Организацией персональные данные являются конфиденциальной, строго охраняемой информацией в&nbsp;соответствии с&nbsp;законодательством.
            li
              span Цели обработки персональных данных
              ol
                li
                  span Организация собирает и&nbsp;хранит только ту&nbsp;персональную информацию, которая необходима для предоставления Сервисов Организации или исполнения соглашений и&nbsp;договоров с&nbsp;Клиентом, за&nbsp;исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в&nbsp;течение определенного законом срока.
                li
                  b Персональную информацию Клиента Организация может использовать в&nbsp;следующих целях:
                  ol
                    li 
                      span Исполнения соглашений с&nbsp;Организацией, в&nbsp;том числе в&nbsp;целях проведения идентификации Клиента, предоставления Клиенту электронного средства платежа, выполнения распоряжений Клиента о&nbsp;переводе денежных средств и/или возврате денежных средств;
                    li
                      span Осуществления связи с&nbsp;Клиентом, в&nbsp;том числе направления уведомлений, запросов и&nbsp;информации, касающихся использования Сервисов Организаиции&nbsp;/ оказания Организацией услуг, а&nbsp;также обработки запросов и&nbsp;заявок от&nbsp;Клиента;
                    li
                      span предложений об&nbsp;участии в&nbsp;рекламных акциях, программах лояльности, проводимых Организацией или с&nbsp;привлечением третьих лиц, исследований, опросов и&nbsp;иных мероприятий, и&nbsp;получения предусмотренных акцией призов/вознаграждений; распространения рекламно-информационных материалов и&nbsp;иной информации, доводимой до&nbsp;сведения Клиентов.
                    li
                      span оформления трудовых и&nbsp;иных договорных отношений, кадрового, бухгалтерского, налогового учета, по&nbsp;основаниям, предусмотренным ст.22 Федерального закона от&nbsp;27.06.2006 &#8470;&nbsp;152-ФЗ, 85-90 Трудового кодекса&nbsp;РФ;
                    li
                      span оказания иных услуг субъектам персональных данных;
                    li
                      span продвижения услуг и/или товаров Организации и/или партнеров Организации на&nbsp;рынке путем осуществления прямых контактов с&nbsp;клиентами Организации с&nbsp;помощью различных средств связи, в&nbsp;том числе, но&nbsp;не&nbsp;ограничиваясь, по&nbsp;телефону, электронной почте, почтовой рассылке, в&nbsp;сети Интернет и&nbsp;т.д.;
                    li
                      span в&nbsp;иных целях, если действия Организации не&nbsp;противоречат действующему законодательству.
                    li
                      span осуществлять возложенные на&nbsp;Организацию законодательством Российской Федерации функции в&nbsp;соответствии с&nbsp;ФЗ&nbsp;&laquo;О&nbsp;Персональных данных&raquo;, Трудовым Кодексом РФ, ФЗ&nbsp;&laquo;О&nbsp;противодействии легализации (отмыванию) доходов, полученных преступным путем, и&nbsp;финансированию терроризма&raquo;, &laquo;Об&nbsp;индивидуальном (персонифицированном) учете в&nbsp;системе обязательного пенсионного страхования&raquo;, иными законами и&nbsp;нормативными правовыми актами&nbsp;РФ, а&nbsp;также Уставом и&nbsp;нормативными актами Организации;
            li
              span Условия обработки персональной информации Клиента и&nbsp;её&nbsp;передачи третьим лицам
              ol
                li
                  span Организация хранит персональную информацию Клиентов в&nbsp;соответствии с&nbsp;настоящей Политикой, условиями оказания конкретных сервисов и&nbsp;внутренними регламентами.
                li
                  span В&nbsp;отношении персональной информации Клиента обеспечивается ее&nbsp;конфиденциальность.
                li
                  b Организация вправе передать персональную информацию Клиента третьим лицам в&nbsp;следующих случаях:
                  ol
                    li
                      span Клиент выразил свое согласие на&nbsp;такие действия; 
                    li
                      span Передача необходима для использования Сервиса Организации, в&nbsp;том числе для исполнения распоряжения Клиента;
                    li
                      span Передача предусмотрена российским или иным применимым законодательством в&nbsp;рамках установленной законодательством процедуры;
                    li
                      span Передача происходит в&nbsp;рамках продажи или иной передачи бизнеса (полностью или в&nbsp;части), при этом к&nbsp;приобретателю переходят все обязательства по&nbsp;соблюдению условий настоящей Политики применительно к&nbsp;полученной им&nbsp;персональной информации;
                li
                  span При использовании Клиентом сервисов и&nbsp;услуг Организации и/или ее&nbsp;аффилированных лиц персональная информация Клиента может передаваться ее&nbsp;аффилированным лицам для обработки на&nbsp;условиях и&nbsp;для целей, определённых в&nbsp;настоящей Политике.
                li
                  span При обработке персональных данных Клиентов Организация руководствуется Федеральным законом &laquo;О&nbsp;персональных данных&raquo;.
            li
              span Сроки обработки персональных данных
              ol
                li
                  span Сроки обработки персональных данных определяются исходя из&nbsp;целей обработки в&nbsp;информационных системах Организации, в&nbsp;соответствии со&nbsp;сроком действия договора, соглашения с&nbsp;субъектом персональных данных, с&nbsp;Перечнем типовых управленческих документов, образующихся в&nbsp;процессе деятельности государственных органов, органов местного самоуправления и&nbsp;организаций, с&nbsp;указанием сроков хранения (утв. Минкультуры РФ, Приказ &#8470;&nbsp;558 от&nbsp;25.08.2010&nbsp;г.), сроком исковой давности, а&nbsp;также иными требованиями законодательства и&nbsp;нормативными документами Организации.
            li
              span Круг лиц допущенных к&nbsp;обработке персональных данных
              ol
                li
                  span Для достижения целей статьи 3&nbsp;настоящей Политики к&nbsp;обработке персональных данных допущены только те&nbsp;сотрудники Организации, на&nbsp;которых возложена такая обязанность в&nbsp;соответствии с&nbsp;их&nbsp;служебными (трудовыми) обязанностями. Доступ других сотрудников может быть предоставлен только в&nbsp;предусмотренных законом случаях. Организация требует от&nbsp;своих сотрудников соблюдения конфиденциальности и&nbsp;обеспечения безопасности персональных данных, при их&nbsp;обработке.
            li
              span Изменение и&nbsp;удаление Клиентом персональной информации
              ol
                li
                  span Изменение и&nbsp;удаление персональной информации Клиента осуществляется в&nbsp;порядке, установленном Организацией, в&nbsp;рамках конкретного сервиса Организации. Клиенту может предоставляться функциональная возможность изменить (обновить, дополнить) или удалить предоставленную Клиентом информацию или её&nbsp;часть. Использование соответствующего функционала регулируется применимым к&nbsp;данному Сервису Организации соглашением.
                li
                  span Согласие на&nbsp;обработку персональных данных может быть отозвано субъектом персональных данных. В&nbsp;случае отзыва субъектом персональных данных согласия на&nbsp;обработку персональных данных Организация вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных действующим законодательством.
            li
              span Меры, применяемые для защиты персональной информации Клиентов
              ol
                li
                  span Организация принимает необходимые и&nbsp;достаточные организационные и&nbsp;технические меры для защиты персональной информации Клиента от&nbsp;неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а&nbsp;также от&nbsp;иных неправомерных действий с&nbsp;ней третьих лиц.
                li
                  span При обработке персональных данных Организация обеспечивает их&nbsp;безопасность и&nbsp;принимает необходимые организационные и&nbsp;технические меры для защиты персональных данных от&nbsp;неправомерного или случайного доступа к&nbsp;ним, уничтожения, изменения, блокирования, копирования, распространения персональных данных, а&nbsp;также от&nbsp;иных неправомерных действий, путем установления в&nbsp;отношении таких данных режима конфиденциальности и&nbsp;контроля за&nbsp;его соблюдением, а&nbsp;также путем внедрения дополнительных мер защиты, реализующих требования законодательства Российской Федерации, стандартов и&nbsp;внутренних организационно-распорядительных документов Организации.
                li
                  span Безопасность персональных данных при их&nbsp;обработке в&nbsp;информационных системах Организации обеспечивается с&nbsp;помощью системы защиты информации, включающей в&nbsp;себя: организационные меры с&nbsp;применением ограничения физического доступа в&nbsp;помещения, применение программно-технических мер защиты (в&nbsp;том числе шифровальных (криптографических) средств, средства предотвращения несанкционированного доступа, и&nbsp;программно-технического воздействия на&nbsp;технические средства обработки персональных данных.
                li
                  span Обмен персональными данными при их&nbsp;обработке в&nbsp;информационных системах осуществляется по&nbsp;каналам связи, защищенным техническими средства защиты информации.
                li
                  b При обработке персональных данных в&nbsp;информационных системах Организации обеспечиваются:
                  ul.dashed 
                    li &nbsp;проведение мероприятий, направленных на&nbsp;предотвращение несанкционированного доступа к&nbsp;персональным данным&nbsp;и (или) передача их&nbsp;лицам, не&nbsp;имеющим права доступа к&nbsp;такой информации;
                    li &nbsp;своевременное обнаружение фактов несанкционированного доступа к&nbsp;персональным данным;
                    li &nbsp;недопущение воздействия на&nbsp;технические средства автоматизированной обработки персональных данных, в&nbsp;результате которого может быть нарушено их&nbsp;функционирование;
                    li &nbsp;возможность незамедлительного восстановления персональных данных, модифицированных и&nbsp;уничтоженных вследствие несанкционированного доступа к&nbsp;ним;
                    li &nbsp;постоянный контроль уровня защищенности персональных данных.
                  p В&nbsp;целях обеспечения соответствия уровня защиты персональных данных требованиям Федерального закона от&nbsp;27.07.2006&nbsp;N 152-ФЗ (ред.&nbsp;от&nbsp;25.07.2011)&quot;О персональных данных&quot; и&nbsp;Федерального закона от&nbsp;27.07.2006&nbsp;N 149-ФЗ (ред.&nbsp;от&nbsp;06.04.2011, с&nbsp;изм.&nbsp;от&nbsp;21.07.2011) &laquo;Об&nbsp;информации, информационных технологиях и&nbsp;о&nbsp;защите информации&raquo; Организация не&nbsp;раскрывает информацию о&nbsp;конкретных применяемых средствах и&nbsp;методах обеспечения информационной безопасности персональных данных.
            li
              span Порядок сбора, хранения, передачи и&nbsp;иных видов обработки персональных данных
              ol
                li
                  span В&nbsp;процессе предоставления услуг, при осуществлении внутрихозяйственной деятельности Организация использует автоматизированную, с&nbsp;применением средств вычислительной техники, так и&nbsp;неавтоматизированную, с&nbsp;применением бумажного документооборота, обработку персональных данных.
                li
                  span Принятие решений, порождающих юридические последствия в&nbsp;отношении субъекта персональных данных или иным образом затрагивающих его права и&nbsp;законные интересы, на&nbsp;основании исключительно автоматизированной обработки персональных данных Организацией не&nbsp;производится.
                li
                  span Организация хранит персональную информацию пользователей в&nbsp;соответствии с&nbsp;внутренним регламентом.
                li
                  span В&nbsp;отношении персональной информации пользователя сохраняется конфиденциальность, кроме случаев добровольного предоставления пользователем информации о&nbsp;себе для общего доступа неограниченному кругу лиц. В&nbsp;данном случае пользователь соглашается с&nbsp;тем, что определенная часть его персональной информации становится общедоступной.
                li
                  span Организация гарантирует организационные и&nbsp;технические меры для защиты персональной информации пользователя от&nbsp;неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а&nbsp;также от&nbsp;иных неправомерных действий с&nbsp;ней третьих лиц.
                li
                  span Обработка персональных данных осуществляется путем смешанной обработки персональных данных (сбор, анализ, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, распространение, передача (без трансграничной передачи), обезличивание, блокирование, уничтожение).
                li
                  span Обработка персональных данных, которая проводится без использования средств автоматизации, осуществляется таким образом, чтобы в&nbsp;отношении каждой категории персональных данных можно было определить места хранения персональных данных (материальных носителей). Оператором установлен перечень лиц, осуществляющих обработку персональных данных либо имеющих к&nbsp;ним доступ. Обеспечивается раздельное хранение персональных данных (материальных носителей), обработка которых осуществляется в&nbsp;различных целях. Оператор обеспечивает сохранность персональных данных и&nbsp;принимает меры, исключающие несанкционированный доступ к&nbsp;персональным данным.
                li
                  span Обработка персональных данных, осуществляемая с&nbsp;использованием средств автоматизации, проводится при условии выполнения следующих действий:
                  ul
                    li
                      span Оператор проводит технические мероприятия, направленные на&nbsp;предотвращение несанкционированного доступа к&nbsp;персональным данным&nbsp;и (или) передачи их&nbsp;лицам, не&nbsp;имеющим права доступа к&nbsp;данной информации;
                    li
                      span защитные инструменты настроены на&nbsp;своевременное обнаружение фактов несанкционированного доступа к&nbsp;персональным данным;
                    li
                      span технические средства автоматизированной обработки персональных данных изолированы в&nbsp;целях недопущения воздействия на&nbsp;них, в&nbsp;результате которого может быть нарушено их&nbsp;функционирование;
                    li
                      span Оператор производит резервное копирование данных, чтобы иметь возможность незамедлительного восстановления персональных данных, измененных или уничтоженных вследствие несанкционированного доступа к&nbsp;ним;
                    li
                      span Оператор осуществляет постоянный контроль за&nbsp;обеспечением уровня защищенности персональных данных.
            li
              span Сведения о&nbsp;реализуемых требованиях к&nbsp;защите персональных данных
              ol
                li
                  span Оператор проводит следующие мероприятия:
                  ul
                    li определяет угрозы безопасности персональных данных при их&nbsp;обработке, формирует на&nbsp;их&nbsp;основе модели угроз;
                    li осуществляет разработку на&nbsp;основе модели угроз системы защиты персональных данных, обеспечивающей нейтрализацию предполагаемых угроз с&nbsp;использованием методов и&nbsp;способов защиты персональных данных, предусмотренных для соответствующего класса информационных систем;
                    li формирует план проведения проверок готовности новых средств защиты информации к&nbsp;использованию с&nbsp;составлением заключений о&nbsp;возможности их&nbsp;эксплуатации;
                    li осуществляет установку и&nbsp;ввод в&nbsp;эксплуатацию средств защиты информации в&nbsp;соответствии с&nbsp;эксплуатационной и&nbsp;технической документацией;
                    li проводит обучение лиц, использующих средства защиты информации, применяемые в&nbsp;информационных системах, правилам работы с&nbsp;ними;
                    li осуществляет учет применяемых средств защиты информации, эксплуатационной и&nbsp;технической документации к&nbsp;ним, носителей персональных данных;
                    li осуществляет учет лиц, допущенных к&nbsp;работе с&nbsp;персональными данными в&nbsp;информационной системе;
                    li осуществляет контроль за&nbsp;соблюдением условий использования средств защиты информации, предусмотренных эксплуатационной и&nbsp;технической документацией;
                    li вправе инициировать разбирательство и&nbsp;составление заключений по&nbsp;фактам несоблюдения условий хранения носителей персональных данных, использования средств защиты информации, которые могут привести к&nbsp;нарушению конфиденциальности персональных данных или другим нарушениям, приводящим к&nbsp;снижению уровня защищенности персональных данных, разработку и&nbsp;принятие мер по&nbsp;предотвращению возможных опасных последствий подобных нарушений;
                    li имеет описания системы защиты персональных данных.
                li
                  span Для разработки и&nbsp;осуществления конкретных мероприятий по&nbsp;обеспечению безопасности персональных данных при их&nbsp;обработке в&nbsp;информационной системе Оператором или уполномоченным лицом ответственным является подразделение информационных технологий Оператора. Лица, доступ которых к&nbsp;персональным данным, обрабатываемым в&nbsp;информационной системе, необходим для выполнения служебных (трудовых) обязанностей, допускаются к&nbsp;соответствующим персональным данным на&nbsp;основании списка, утвержденного Оператором. Запросы пользователей информационной системы на&nbsp;получение персональных данных, а&nbsp;также факты предоставления персональных данных по&nbsp;этим запросам регистрируются автоматизированными средствами информационной системы в&nbsp;электронном журнале обращений. Содержание электронного журнала обращений периодически проверяется соответствующими должностными лицами (работниками) Оператора или уполномоченного лица. При обнаружении нарушений порядка предоставления персональных данных Оператор или уполномоченное лицо незамедлительно приостанавливают предоставление персональных данных пользователям информационной системы до&nbsp;выявления причин нарушений и&nbsp;устранения этих причин.
            li
              span Права и&nbsp;обязанности оператора
              ol
                li
                  span Организация как Оператор персональных данных вправе:
                  ul
                    li
                      span отстаивать свои интересы в&nbsp;суде;
                    li
                      span предоставлять персональные данные субъектов третьим лицам, если это предусмотрено действующим законодательством (налоговые, правоохранительные органы и&nbsp;др.);
                    li
                      span отказывать в&nbsp;предоставлении персональных данных в&nbsp;случаях, предусмотренных законодательством;
                    li
                      span использовать персональные данные субъекта без его согласия в&nbsp;случаях, предусмотренных законодательством.
            li
              span Права и&nbsp;обязанности субъекта персональных данных
              ol
                li
                  span Субъект персональных данных имеет право:
                  ul
                    li требовать уточнения своих персональных данных, их&nbsp;блокирования или уничтожения в&nbsp;случае, если персональные данные являются неполными, устаревшими, недостоверными, незаконно полученными или не&nbsp;являются необходимыми для заявленной цели обработки, а&nbsp;также принимать предусмотренные законом меры по&nbsp;защите своих прав;
                    li требовать перечень своих персональных данных, обрабатываемых Оператором и&nbsp;источник их&nbsp;получения;
                    li получать информацию о&nbsp;сроках обработки своих персональных данных, в&nbsp;том числе о&nbsp;сроках их&nbsp;хранения;
                    li требовать извещения всех лиц, которым ранее были сообщены неверные или неполные его персональные данные, обо всех произведенных в&nbsp;них исключениях, исправлениях или дополнениях;
                    li обжаловать в&nbsp;уполномоченный орган по&nbsp;защите прав субъектов персональных данных или в&nbsp;судебном порядке неправомерные действия или бездействия при обработке его персональных данных;
                    li на&nbsp;защиту своих прав и&nbsp;законных интересов, в&nbsp;том числе на&nbsp;возмещение убытков&nbsp;и (или) компенсацию морального вреда в&nbsp;судебном порядке.
            li
              span Изменение Политики конфиденциальности. Применимое законодательство
              ol
                li
                  span Организация вправе предложить Клиенту изменить и/или дополнить настоящую Политику путем опубликования Политики в&nbsp;новой редакции на&nbsp;Интернет-сайте по&nbsp;адресу <a href="https://www.proswim.ru/Политика_конфиденциальности">https://www.proswim.ru/Политика_конфиденциальности.</a> Принятием Клиентом такого предложения являются конклюдентные действия по&nbsp;использованию Сервиса Организации на&nbsp;новых условиях.
                li
                  span К&nbsp;настоящей Политике и&nbsp;отношениям между Клиентом и&nbsp;Организацией, возникающим в&nbsp;связи с&nbsp;применением Политики конфиденциальности, подлежит применению законодательство Российской Федерации.
                li
                  span Настоящая Политика может быть изменена при изменении действующего законодательства&nbsp;РФ.
                li
                  span Организация представляет действующую редакцию Политики на&nbsp;сайте Организации: <a href="https://www.proswim.ru/Политика_конфиденциальности">https://www.proswim.ru/Политика_конфиденциальности.</a>
            li
              span Рассылки на&nbsp;электронную почту и&nbsp;антиспам политика
              ol
                li
                  span Клиенты Организации могут получать периодические рассылки (информационные, праздничные и&nbsp;другие) на&nbsp;зарегистрированный адрес электронной почты, а&nbsp;также автоматическое подтверждение ваших заказов и&nbsp;сервисные уведомления.
            li
              span Заключительные положения
              ol
                li
                  span Настоящее Положение вступает в&nbsp;силу с&nbsp;момента его утверждения генеральным директором Оператора и&nbsp;действует бессрочно, до&nbsp;замены его новым Положением. Настоящее Положение подлежит изменению, дополнению в&nbsp;случаях появления новых законодательных актов и&nbsp;специальных нормативных документов по&nbsp;обработке и&nbsp;защите персональных данных.
                li
                  span Настоящее Положение является внутренним общедоступным документом Оператора и&nbsp;подлежит размещению на&nbsp;официальном сайте Оператора <a href="https://www.proswim.ru/Политика_конфиденциальности">https://www.proswim.ru/Политика_конфиденциальности.</a>
                li
                  span Контроль исполнения требований настоящего Положения осуществляется ответственным за&nbsp;обеспечение безопасности персональных данных Организации.
            li
              span Обратная связь. Вопросы и&nbsp;предложения:            
              p Все предложения, вопросы и&nbsp;уведомления по&nbsp;поводу настоящей Политики следует сообщать по&nbsp;адресу нахождения офиса Организации: 129626, г. Москва, ул. 3-я Мытищинская, д.&nbsp;16, стр.&nbsp;35, помещение&nbsp;VI комната 10&nbsp;офис 325, а&nbsp;также по&nbsp;телефону&nbsp;<a href="tel:84955808295">8 (495) 580-82-95</a>
        .content-zone.content-zone_middle
          h6 Реквизиты Организации:
          p 
            b Общество с&nbsp;ограниченной ответственностью &laquo;Свим Онлайн&raquo;
          p ОГРН 1157746824784
            br
            | ИНН 9717000402
            br
            | Юридический адрес: 129626, г. Москва, ул. 3-я Мытищинская, д.&nbsp;16, стр.&nbsp;35, помещение&nbsp;VI комната 10&nbsp;офис 325 Адрес нахождения офиса: 129626, г. Москва, ул. 3-я Мытищинская, д.&nbsp;16, стр.&nbsp;35, помещение&nbsp;VI комната 10&nbsp;офис 325
        +totop
block popups
