.total {
  display: block;
  padding: 20px;
  background-color: $lightgrey-color;
  width: 280px;
  box-sizing: border-box;

  @include screen(lg) {
    width: 100%;
  }

  @include screen(sm) {
    padding: 24px;
  }

  &__items {

  }

  &__item {
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid $anothermidbluelightgrey4-color;
      padding-bottom: 11px;
    }

    &:not(:first-child) {
      margin-top: 14px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: (24/15);
    flex: 1;
  }

  &__price {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: (24/18);
  }

  &__button {
    margin-top: 20px;
  }

  &__promo {
    margin-top: 21px;
    padding-left: 2px;

    .tooltip-icon {
      margin-left: 6px;
    }

    &block {
      margin-top: 26px;
      display: none;
    }

    &box {
      position: relative;

      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    &input {
      padding-right: 104px;
      border-color: transparent;
    }

    &button {
      position: absolute;
      top: 4px;
      right: 4px;
      height: 30px;
      line-height: 28px;
      font-size: 12px;
      padding: 0 12px;
      font-weight: 500;
    }
  }

  &__subscribe {
    margin-top: 19px;
  }

  &__accept {
    display: block;
    margin-top: 21px;
    @include text-small;
    color: $darkengrey-color;
    line-height: (21/13);

    .link__text {
      @include text-small;
      line-height: (21/13);
    }
  }
}
