mixin total()
  +b.total&attributes(attributes).js-total
    +e.UL.items
      +e.LI.item
        +e.SPAN.text Сумма:
        +e.B.price #[SPAN.js-total-amount 21 790] руб.
      +e.LI.item
        +e.SPAN.text Итого:
        +e.B.price #[SPAN.js-total-amount 21 790] руб.

    +button.BUTTON(type="button")._size_big._block.__button Оформить заказ

    +e.P.promo
      +link.__link Есть промокод/карта клиента?
      +tooltip-icon.tooltip-icon_blue

mixin total-delivery()
  +b.total&attributes(attributes).js-total
    +e.UL.items
      +e.LI.item
        +e.SPAN.text Сумма:
        +e.B.price #[SPAN.js-total-amount 21 790] руб.
      +e.LI.item
        +e.SPAN.text Доставка:
        +e.B.price #[SPAN.js-total-delivery 190] руб.
      +e.LI.item
        +e.SPAN.text Итого:
        +e.B.price #[SPAN.js-total-amount 21 980] руб.

    +inputbox.total__subscribe
      +checkbox('subscribe', 1, true) Подписаться на новости и акции

    +button.BUTTON(type="button")._size_big._block.__button Оформить заказ

    +e.P.accept Нажимая на кнопку "Оформить заказ", вы принимаете условия #[+link._grey._underline Публичной оферты]

    +e.P.promo
      +link.__link.js-total-promolink Есть промокод/карта клиента?
      +tooltip-icon.tooltip-icon_blue

    +e.promoblock.js-total-promoblock
      +inputbox.total__promobox
        +input(placeholder="Промокод" name="").__promoinput
        +button.BUTTON(type="button")._size_sm.__promobutton Применить

      +inputbox.total__promobox
        +input(placeholder="Карта покупателя" name="").__input
        +button.BUTTON(type="button")._size_sm.__promobutton Применить
