.total {
  display: block;
  padding: 20px;
  background-color: $lightgrey-color;
  width: 280px;
  box-sizing: border-box;

  @include screen(lg) {
    width: 100%;
  }

  &.is-fixed {
    position: fixed;
    top: 20px;
    transform: translate3d(0, 0, 0);

    @include screen(lg) {
      position: static;
    }
  }

  &.is-attached {
    position: absolute;
    bottom: 0;

    @include screen(lg) {
      position: static;
    }
  }

  @include screen(sm) {
    padding: 24px;
  }

  &__items {

  }

  &__item {
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid $anothermidbluelightgrey4-color;
      padding-bottom: 11px;
    }

    &:not(:first-child) {
      margin-top: 14px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: (24/15);
    flex: 1;
  }

  &__price {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: (24/18);
  }

  &__button {
    margin-top: 20px;
  }

  &__promo {
    margin-top: 21px;
    padding-left: 2px;

    .tooltip-icon {
      margin-left: 6px;
    }
  }

  &__subscribe {
    margin-top: 19px;
  }

  &__accept {
    display: block;
    margin-top: 21px;
    @include text-small;
    color: $darkengrey-color;
    line-height: (21/13);

    .link__text {
      @include text-small;
      line-height: (21/13);
    }
  }
}
