.searchbar {
  display: block;
  position: relative;
  width: 100%;
  height: 38px;
  z-index: 2;

  &_big {
    height: 48px;
  }

  &_small {
    height: 30px;
  }

  &__input {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border-color: transparent;
    padding-right: 38px;

    .searchbar_grey & {
      background-color: $lightgrey-color;
    }

    .searchbar_big & {
      border-color: $color-border;
      font-size: 15px;
    }

    .searchbar_shadow & {
      box-shadow: 0 6px 12px rgba(157, 164, 171, .26);
    }

    .searchbar_small & {
      font-size: 12px;
      padding-left: 10px;
      border-color: $color-border;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 10px;
    cursor: pointer;
    z-index: 3;

    .searchbar_big & {
      padding: 0 14px;
    }
  }

  &__icon {
    width: 18px;
    height: 19px;
    fill: $middlegrey2-color;
    margin-top: 4px;
    transition: fill $ease-main;
    font-size: 0;

    .searchbar__button:hover & {
      fill: $color-basic;
    }

    .searchbar_small & {
      width: 14px;
      height: 15px;
      margin-top: 2px;
    }
  }

  &__result {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    opacity: 0;
    transform: translateY(40px) translateZ(0);
    pointer-events: none;
    transition: all $ease-main;
    z-index: 3;
    margin-top: -2px;
  }

  &.is-searched {

    .searchbar {

      &__result {
        opacity: 1;
        transform: translateY(0) translateZ(0);
        pointer-events: auto;
      }
    }
  }
}
