mixin searchbar(placeholder)
  +b.FORM.searchbar(method="POST" action="/")&attributes(attributes)
    +e.INPUT.control(placeholder=placeholder)
    +e.BUTTON.button(type="submit")
      +icon('Search icon').icon
