mixin searchbar(placeholder, mobilePlaceholder)
  +b.FORM.searchbar&attributes(attributes)
    +input(placeholder=placeholder data-mobile-placeholder=mobilePlaceholder).searchbar__input
    +e.BUTTON.button(type="submit")
      +icon('Search icon').icon
