.order-status-popup {
  display: block;

  .grid__col {

    &:not(:first-child) {
      padding-top: 15px;
    }
  }

  .popup {

    &__content {
      padding-bottom: 50px;

      @include screen('md') {
        padding-bottom: 0;
      }
    }
  }
}
