include ../blocks/accordion/accordion
include ../blocks/article-card/article-card
include ../blocks/badge/badge
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/burger-button/burger-button
include ../blocks/button/button
include ../blocks/card-widget/card-widget
include ../blocks/category-card/category-card
include ../blocks/choice/choice
include ../blocks/circle-button/circle-button
include ../blocks/content-zone/content-zone
include ../blocks/dots/dots
include ../blocks/dropdown/dropdown
include ../blocks/form-elements/form-elements
include ../blocks/getintouch/getintouch
include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/link/link
include ../blocks/lists/lists
include ../blocks/logo/logo
include ../blocks/map/map
include ../blocks/page-overlay/page-overlay
include ../blocks/pagination/pagination
include ../blocks/popups/popups
include ../blocks/product-main-slider/product-main-slider
include ../blocks/product-nav-slider/product-nav-slider
include ../blocks/rating/rating
include ../blocks/searchbar/searchbar
include ../blocks/section/section
include ../blocks/shopmenu/shopmenu
include ../blocks/slider/slider
include ../blocks/social-button/social-button
include ../blocks/sort-dropdown/sort-dropdown
include ../blocks/subscribe-form/subscribe-form
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../blocks/usermenu/usermenu
include ../blocks/vertical-menu/vertical-menu
include ../components/articles-section/articles-section
include ../components/big-review-section/big-review-section
include ../components/brands-section/brands-section
include ../components/burger/burger
include ../components/catalog-section/catalog-section
include ../components/catalog-seo-section/catalog-seo-section
include ../components/categories-section/categories-section
include ../components/filter-buttons/filter-buttons
include ../components/filter-section/filter-section
include ../components/footer/footer
include ../components/header/header
include ../components/hero-slider/hero-slider
include ../components/home-seo-section/home-seo-section
include ../components/login-popup/login-popup
include ../components/navbar/navbar
include ../components/news-section/news-section
include ../components/password-recovery-popup/password-recovery-popup
include ../components/product-card/product-card
include ../components/product-item-section/product-item-section
include ../components/products-section/products-section
include ../components/registration-complete-popup/registration-complete-popup
include ../components/registration-popup/registration-popup
include ../components/review-card/review-card
include ../components/reviews-section/reviews-section
include ../components/section-footer/section-footer
include ../components/sidebar/sidebar
include ../components/sort-ui/sort-ui
include ../components/subscribe/subscribe
include ../components/ui-kit/ui-kit