include ../blocks/accordion/accordion
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/burger-button/burger-button
include ../blocks/button/button
include ../blocks/content-zone/content-zone
include ../blocks/dropdown/dropdown
include ../blocks/form-elements/form-elements
include ../blocks/getintouch/getintouch
include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/link/link
include ../blocks/lists/lists
include ../blocks/logo/logo
include ../blocks/map/map
include ../blocks/popups/popups
include ../blocks/rating/rating
include ../blocks/searchbar/searchbar
include ../blocks/shopmenu/shopmenu
include ../blocks/slider/slider
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../blocks/usermenu/usermenu
include ../blocks/vertical-menu/vertical-menu
include ../components/burger/burger
include ../components/footer/footer
include ../components/header/header
include ../components/navbar/navbar
include ../components/ui-kit/ui-kit