include _externalIncludes
include _internalIncludes

doctype html
html(lang='ru')
  include head

  body
    +header
    +navbar
    +burger
    +popups
      block popups

    include ../static/images/pin.svg

    block content
    +subscribe
    +footer
    +page-overlay

    script(src='assets/scripts/libs/jquery.dotdotdot.js')
    script(src='assets/scripts/libs/parsley.min.js')
    script(src='assets/scripts/app.min.js')
    block scripts
    script(src='assets/scripts/main.js')
