mixin features()
  +b.features&attributes(attributes)
    +e.H2.title Преимущества сотрудничества с PROSWIM
    +grid.grid_centered
      +col({ xl: 3, sm: 12 })
        +feature('features-1') 10 лет на рынке
      +col({ xl: 3, sm: 12 })
        +feature('features-2') Более 5000 товаров от 65 ведущих брендов
      +col({ xl: 3, sm: 12 })
        +feature('features-3') Официальный дистрибьютор Finis, Mosconi, Triswim, Strechcordz и&nbsp;Malmsten
      +col({ xl: 3, sm: 12 })
        +feature('features-4') Лучшее соотношение низких цен и&nbsp;отличного качества
      +col({ xl: 3, sm: 12 })
        +feature('features-5') Индивидуальная система скидок
      +col({ xl: 3, sm: 12 })
        +feature('features-6') Быстрая доставка по всей России и&nbsp;СНГ
      +col({ xl: 3, sm: 12 })
        +feature('features-7') Персональный менеджер
