.shop-location {
  display: block;
  color: $darkengrey-color;
  margin-top: -4px;

  .content-zone & {
    margin-top: -2px;

    &:not(:last-child) {
      margin-bottom: 34px;
    }
  }

  .payment .content-zone & {
    margin-top: 33px;

    @include screen(sm) {
      margin-top: 22px;

      .shop-location__text:not(:last-child) {
        margin-bottom: 19px;
      }
    }
  }

  &__station {
    position: relative;
    display: block;
    @include heading-5;
    color: $color-basic;
    padding-left: 34px;
    margin-bottom: 9px;

    &icon {
      position: absolute;
      top: 3px;
      left: 0;
      width: 22px;
      height: 15px;
      fill: #f24841;
    }
  }

  &__addr {
    display: block;
    @include text;
    margin-bottom: 13px;
  }

  &__item {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;

    &icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      fill: $color-main;

      .shop-location__item_email & {
        top: 1px;
      }
    }

    &text {
      @include text;
    }
  }

  .link_print:not(:last-child) {
    margin-bottom: 10px;
  }

  &__text {
    display: block;
    @include text-tiny;
    line-height: (20/12);

    .content-zone & {
      @include text;
      margin-top: -3px;

      &:not(:last-child) {
        margin-bottom: 9px;
      }
    }

    &_small, .content-zone &_small {
      font-size: 12px;
      margin-top: 0;
    }

    .shop-location__item + &_small {
      margin-top: -6px;
    }
  }
}
