.review-card {
  display: flex;
  padding: 20px;
  height: 220px;
  box-shadow: 0 6px 12px rgba(157, 164, 171, 0.26);
  border: 1px solid $color-border;
  background-color: white;
  transition: box-shadow $ease-main;
  cursor: pointer;
  color: $color-basic;
  @include text;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 16px 22px rgba(157, 164, 171, 0.46);
  }

  &__image {
    position: relative;
    width: 180px;
    height: 100%;
    flex-shrink: 0;

    img { @include center-image; }
  }

  &__body {
    flex: 1 1 auto;
    margin-left: 20px;
  }

  &__heading {
    @include heading-5;
    transition: color $ease-main;

    .review-card:hover & {
      color: $darkblue-color;
    }
  }

  &__rating {
    margin-top: 8px;

    .rating__text { margin-left: 14px; }
  }

  &__text {
    margin-top: 5px;
  }

  &__link {
    margin-top: 4px;
    display: block;
    transition: color $ease-main;
    font-size: 15px;
    line-height: (23/15);
    letter-spacing: 0.01em;

    .review-card:hover & {
      color: $darkblue-color;
    }
  }
}
