.review-card {
  display: flex;
  padding: 20px;
  height: 220px;
  box-shadow: 0 6px 12px rgba(157, 164, 171, 0.26);
  border: 1px solid $color-border;
  background-color: white;
  transition: box-shadow $ease-main;
  color: $color-basic;
  @include text;
  box-sizing: border-box;

  @include screen(lg) {
    height: 255px;
    padding: 13px;
  }

  @include screen(sm) {
    height: 296px;
  }

  &:hover {
    box-shadow: 0 16px 22px rgba(157, 164, 171, 0.46);
  }

  &_simple {
    padding: 0;
    border: 0;
    box-shadow: none;
    height: auto;

    &:hover { box-shadow: none; }
  }

  &__image {
    position: relative;
    display: block;
    width: 180px;
    height: 100%;
    flex-shrink: 0;
    cursor: pointer;

    img {
      @include center-image;
      max-width: 100%;
      max-height: 100%;
    }

    @include screen(lg) {
      width: 80px;
      height: 80px;
    }
  }

  &__body {
    .review-card__image + & {
      margin-left: 20px;
    }

    display: block;

    @include screen(lg) {
      .review-card__image + & {
        margin-left: 10px;
      }
    }
  }

  &__heading {
    display: block;
    color: $color-basic;
    @include heading-5;
    transition: color $ease-main;
    max-height: (24/16*2em);
    overflow: hidden;
    cursor: pointer;

    @include screen(lg) {
      @include text-medium;
      line-height: (19/14);
      max-height: (19/14*2em);
    }

    @include screen(mobile) {
      max-height: (19/14*3em);
    }

    &:hover {
      color: $darkblue-color;
    }
  }

  &__rating {
    margin-top: 8px;

    @include screen(lg) {
      flex-wrap: wrap;
      margin-top: 12px;
      flex-shrink: 0;
    }

    .rating {
      &__text {
        margin-left: 14px;

        &wrap {

          &:first-child {
            margin-top: -2px;
          }

          @include screen(lg) {
            width: 100%;
            margin-top: 10px;
            margin-left: -14px;

            &:first-child {
              margin-top: -2px;
            }
          }

          @include screen(sm) {
            margin-top: 12px;

            &:first-child {
              margin-top: -2px;
            }
          }
        }
      }
    }

    .review-card_simple & {
      display: block;

      .rating {

        &__text {
          margin-left: 14px;

          &wrap {
            width: 100%;
            margin-left: -14px;
            margin-top: 12px;

            &:first-child {
              margin-top: -2px;
            }
          }
        }
      }
    }
  }

  &__text {
    margin-top: 5px;
    max-height: (22/14*3em);
    overflow: hidden;

    @include screen(lg) {
      max-height: (22/14*5em);
    }

    @include screen(sm) {
      max-height: (22/14*6em);
    }
  }

  &__link {
    margin-top: 4px;
    display: none;
    transition: color $ease-main;
    font-size: 15px;
    line-height: (23/15);
    letter-spacing: 0.01em;
    color: $color-main;
    cursor: pointer;

    .ddd-truncated + & {
      display: inline-block;
    }

    &:hover {
      color: $color-basic;
    }
  }
}
