mixin product-item-section()
  +b.product-item-section&attributes(attributes).js-product-item-section
    .container
      +grid
        +col(7)
          +e.mainslider
            +badge._red._md.__badge –40 %

            +product-main-slider([{ src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: 'content-img/TL1_h264420_720p_HQ.mp4', isVideo: true }, { src: '2401' }, { src: '2401' }], 'Очки для плавания Cobra Mirror', true, true)(data-touch-ratio="false")
          +e.navslider
            +product-nav-slider([{ src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401', isVideo: true }, { src: '2401' }, { src: '2401' }], 'Очки для плавания Cobra Mirror')._big.js-product-nav-slider

        +col(5)
          +e.FORM(method="POST" data-parsley-validate)
            +e.price
              +e.SPAN.pricecurrent 13 792 руб.
              +e.SPAN.priceold 14 792,40 руб.

            +e.rating
              +rating(4)._md
                +rating-text.A(href="#reviews")._grey.js-anchor Отзывы (2)

            +e.P.vendorcode
              +e.SPAN.vendorcodeheading Артикул:
              span 92354

            +e.block
              +e.P.heading Выберите размер:
              +e.blockgrid
                +e.P.text (французский размер - FR)
                +e.P.text
                  +link._underline._dark Узнать свой размер

            +e.sizes
              +sizes
                +size(name="size" value="08-09Y" type="radio" required data-parsley-errors-container=".product-item-section__size-errors" data-parsley-required-message="Пожалуйста, выберите размер") 08-09Y
                +size(name="size" value="35/37" type="radio" required data-parsley-errors-container=".product-item-section__size-errors" data-parsley-required-message="Пожалуйста, выберите размер") 35/37
                +size(name="size" value="32/34" type="radio" required data-parsley-errors-container=".product-item-section__size-errors" data-parsley-required-message="Пожалуйста, выберите размер") 32/34
                +size(name="size" value="S" type="radio" required data-parsley-errors-container=".product-item-section__size-errors" data-parsley-required-message="Пожалуйста, выберите размер") S
                +size(name="size" value="M" type="radio" required data-parsley-errors-container=".product-item-section__size-errors" data-parsley-required-message="Пожалуйста, выберите размер") M

            +e.block
              +e.P.heading Выберите цвет:

            +e.colors
              +product-nav-slider([{ src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }], 'Очки для плавания Cobra Mirror')._md._filter.js-product-item-color-slider

            +e.buttons
              +button.BUTTON(type="submit") Добавить в корзину
              +button.BUTTON(type="button")._greyblue Купить в 1 клик

            +e.size-errors

          +put-block-into-slot('product-info-slot', 'xl')
            +e.section
              +e.block
                +e.P.heading Доставка:
                +e.text
                  p по Москве – 190 рублей, самовывоз - 0 рублей
                  p по Санкт-Петербургу – 350 рублей, самовывоз - 135 руб
                  p По России доставка Почтой России, курьерской службой и пункты самовывоза
                  +link Узнайте сроки и стоимость доставки в ваш город

              +e.block
                +e.P.heading Обмен:
                +e.P.text 90 дней на возврат и обмен

              +e.block
                +e.P.blockheading Оплата:

                +e.paymentmethods
                  +payment-logos
                    +payment-logo("content-img/payment/mastercard.jpg", "Mastercard")
                    +payment-logo("content-img/payment/visa-copy.jpg", "Visa")
                    +payment-logo("content-img/payment/bank-tranfer.jpg", "Bank tranfer")
                    +payment-logo("content-img/payment/cash.jpg", "Cash")

      +put-block-into-slot('product-info-slot', 'lg')
      +product-description.__description
