mixin product-item-section()
  +b.product-item-section&attributes(attributes).js-product-item-section
    .container
      +grid
        +col(7)
          +e.mainslider
            +badge._red._md.__badge –40 %

            +product-main-slider([{ src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: 'content-img/TL1_h264420_720p_HQ.mp4', isVideo: true }, { src: '2401' }, { src: '2401' }], 'Очки для плавания Cobra Mirror', true, true)
          +e.navslider
            +product-nav-slider([{ src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401' }, { src: '2401', isVideo: true }, { src: '2401' }, { src: '2401' }], 'Очки для плавания Cobra Mirror')._big.js-product-nav-slider

        +col(5)
          //- product-info

      +product-description
