.product-item-section {
  display: block;

  &__mainslider {
    position: relative;
    height: 528px;

    .product-main-slider__slide_video { z-index: 6; }
  }

  &__navslider {
    margin-top: 19px;
  }

  &__badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
  }
}
