.comments-section {
  display: block;
  padding-top: 36px;

  @include screen(sm) {
    padding-top: 29px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-border;
    padding-bottom: 32px;

    @include screen(sm) {
      padding-bottom: 23px;
    }
  }

  .section__head {
    margin-bottom: 23px;
  }
}
