mixin comments-section()
  +section.comments-section
    +section-head('Комментарии (3)').
    +section-content
      +comment('assets/images/user.png', 'Alex777', '30 декабря 2017')
        p Умение плавать является навыком, необходимым человеку в самых разнообразных ситуациях. Отсюда важное значение массового обучения плаванию детей. Нет надобности указывать на значительное количество несчастных случаев на воде, происходящих ежегодно из-за неумения плавать. Большой процент их падает на детей. Если же всех детей с самых ранних лет приучить свободно держаться на воде, обучить проплывать хотя бы небольшое расстояние, то многие детские жизни будут ограждены от возможного несчастья!
      +comment('assets/images/user.png', 'Ирина', '30 декабря 2017')
        p Сегодня ходила в бассейн первый раз отличное настроение, теперь буду ходить постоянно.
      +comment('assets/images/user.png', 'Alex777', '30 декабря 2017')
        p Умение плавать является навыком, необходимым человеку в самых разнообразных ситуациях. Отсюда важное значение массового обучения плаванию детей. Нет надобности указывать на значительное количество несчастных случаев на воде, происходящих ежегодно из-за неумения плавать.
