mixin rate-range(name)
  +b.rate-range&attributes(attributes)
    +e.smiles
      +smile('assets/images/emoji1.svg')(data-tooltip="Не понравилось").js-range-toggle
      +smile('assets/images/emoji2.svg')(data-tooltip="Кошмар").js-range-toggle
      +smile('assets/images/emoji3.svg')(data-tooltip="Отвратительно").js-range-toggle
      +smile('assets/images/emoji4.svg')(data-tooltip="Плохо").js-range-toggle
      +smile('assets/images/emoji5.svg')(data-tooltip="Не плохо").js-range-toggle
      +smile('assets/images/emoji6.svg')(data-tooltip="Хорошо").js-range-toggle
      +smile('assets/images/emoji7.svg')(data-tooltip="Очень хорошо").js-range-toggle
      +smile('assets/images/emoji8.svg')(data-tooltip="Отлично").js-range-toggle
      +smile('assets/images/emoji9.svg')(data-tooltip="Понравилось").js-range-toggle
      +smile('assets/images/emoji10.svg')(data-tooltip="Очень понравилось").js-range-toggle
    +e.slider.js-rate-range
    +input(type="hidden" name= name value="8")
