@import '../../node_modules/tooltipster/dist/css/tooltipster.bundle.css';

.tooltipster-sidetip.tooltipster-borderless .tooltipster-box {
  @include text-small;
  max-width: 198px;
  border-radius: 2px;
  border: 1px solid $color-border;
  background-color: white;
  box-shadow: 0 6px 12px rgba(157, 164, 171, 0.6);
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-content {
  color: $color-basic;
  padding: 14px;
  background-color: white;
  position: relative;
  z-index: 1;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-box {
  margin-top: 12px;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-box {
  margin-right: 12px;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-box {
  margin-left: 12px;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-top .tooltipster-box {
  margin-bottom: 12px;
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow {
  border: 1px solid $color-border;
  width: 24px !important;
  height: 24px !important;
  transform: rotate(45deg);
  background: white;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-arrow, .tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow {

}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow-background {
  display: none;
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow-border {
  border: 0;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-arrow {
  margin-top: 6px;
  margin-left: -12px;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-arrow {
  margin-right: 6px;
  margin-top: -12px;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow {
  margin-left: 6px;
  margin-top: -12px;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-top .tooltipster-arrow {
  margin-bottom: 6px;
  margin-left: -12px;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-arrow-uncropped {
  top: 0;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow-uncropped {
  left: 0;
}

// Анимации

.tooltipster-fade {
  opacity: 0;
  transition: opacity $ease-main, transform $ease-main;
  transform: scale(.9) translate3d(0, 5px, 0);
  transform-origin: center bottom;
}

.tooltipster-fade.tooltipster-show {
  opacity: 1;
  transform: scale(1) translate3d(0, 0, 0);
}
