.reviews-star {
  position: relative;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
  padding-bottom: 10px;

  @include screen(xs) {
    padding-left: 55px;
    padding-right: 100px;
  }

  .slider-buttons {
    padding-left: 0;
    padding-right: 0;

    @include screen(xs) {
      top: 85px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

}
