mixin navbar()
  +b.NAV.navbar&attributes(attributes)
    .container.navbar__container
      +e.UL.col
        +e.LI.item
          +e.A(href="javacsript:void(0);").link Очки
        +e.LI.item
          +e.A(href="javacsript:void(0);").link Шапочки
        +e.LI.item
          +e.A(href="javacsript:void(0);").link Аксессуары
          +navbar-dropdown
        +e.LI.item
          +e.A(href="javacsript:void(0);").link Купальники
        +e.LI.item
          +e.A(href="javacsript:void(0);").link Плавки
        +e.LI.item
          +e.A(href="javacsript:void(0);").link Гидрокостюмы
        +e.LI.item
          +e.A(href="javacsript:void(0);").link Прочее
      +e.UL.col
        +e.LI.item
          +e.A(href="javacsript:void(0);").link Скидки
        +e.LI.item
          +e.A(href="javacsript:void(0);").link Бренды
      +e.col
        +searchbar(placeholder="Введите название товара...")

mixin navbar-dropdown
  +e.dropdown
    .container.navbar__container
      +e.dropdowncol
        +vertical-menu('Очки').__vertical-menu
          +vertical-menu-link('javascript:void(0);') Очки для старта
          +vertical-menu-link('javascript:void(0);') Премиум-очки
          +vertical-menu-link('javascript:void(0);') Повседневные очки
          +vertical-menu-link('javascript:void(0);') Маски и трубки
        +vertical-menu('Очки').__vertical-menu
          +vertical-menu-link('javascript:void(0);') Очки для старта
          +vertical-menu-link('javascript:void(0);') Премиум-очки
          +vertical-menu-link('javascript:void(0);') Повседневные очки
          +vertical-menu-link('javascript:void(0);') Маски и трубки
      +e.dropdowncol
        +vertical-menu('Аксессуары').__vertical-menu
          +vertical-menu-link('javascript:void(0);') Антифог-спреи
          +vertical-menu-link('javascript:void(0);') Тряпочки для протирания
          +vertical-menu-link('javascript:void(0);') Сменные ремни
        +vertical-menu('Аксессуары').__vertical-menu
          +vertical-menu-link('javascript:void(0);') Антифог-спреи
          +vertical-menu-link('javascript:void(0);') Тряпочки для протирания
          +vertical-menu-link('javascript:void(0);') Сменные ремни
      +e.dropdowncol
        +vertical-menu('Очки').__vertical-menu
          +vertical-menu-link('javascript:void(0);') Очки для старта
          +vertical-menu-link('javascript:void(0);') Премиум-очки
          +vertical-menu-link('javascript:void(0);') Повседневные очки
          +vertical-menu-link('javascript:void(0);') Маски и трубки
        +vertical-menu('Очки').__vertical-menu
          +vertical-menu-link('javascript:void(0);') Очки для старта
          +vertical-menu-link('javascript:void(0);') Премиум-очки
          +vertical-menu-link('javascript:void(0);') Повседневные очки
          +vertical-menu-link('javascript:void(0);') Маски и трубки
      +e.dropdowncol
        +vertical-menu('Аксессуары').__vertical-menu
          +vertical-menu-link('javascript:void(0);') Антифог-спреи
          +vertical-menu-link('javascript:void(0);') Тряпочки для протирания
          +vertical-menu-link('javascript:void(0);') Сменные ремни
        +vertical-menu('Аксессуары').__vertical-menu
          +vertical-menu-link('javascript:void(0);') Антифог-спреи
          +vertical-menu-link('javascript:void(0);') Тряпочки для протирания
          +vertical-menu-link('javascript:void(0);') Сменные ремни
      +e.dropdowncol
        +vertical-menu('Бренды').__vertical-menu
          +vertical-menu-link('javascript:void(0);') Arena
          +vertical-menu-link('javascript:void(0);') Speedo
          +vertical-menu-link('javascript:void(0);') TYR
          +vertical-menu-link('javascript:void(0);') Finis
          +vertical-menu-link('javascript:void(0);') Mosconi
          +vertical-menu-link('javascript:void(0);') Mad Wave
          +vertical-menu-link('javascript:void(0);') Aqua Sphere
