extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Очки для плавания Cobra Mirror'

block content
  +b.page._pb0
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Очки', 'Профессиональные очки для плавания', 'Очки для плавания Arena Cobra Mirror'])
        +e.headcol
          +link-icon('Print icon')._dark._print.js-print Распечатать

      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading Очки для плавания Cobra Mirror
        +e.headcol
          +e.A.logo(href='javascript:void(0)')
            img(src="content-img/brands/arena-logo.png", alt="Arena")

    +product-item-section
    +products-section(getData('small-product-cards'), 'С этим товаром покупают', true)._small
    +big-review-section#reviews
    +products-section(getData('small-product-cards'), 'Вы смотрели', true)._small

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
