mixin rating(active, count)
  - var initialCount = Number(count) || 5

  +b.rating&attributes(attributes)
    if count !== -1
      +e.stars
        - for (var i = initialCount; i > 0; i--)
          +e.box(class=i === active ? 'is-active' : '')
            +icon('star').__icon

    if block
      +e.textwrap
        block

mixin rating-interactive(count, name, isRequired)
  - var initialCount = Number(count) || 5
  - var initialName = name || 'rating-'+ Math.random().toString(36).slice(2).split('').sort(() => Math.random() - .5).join('')

  +b.rating._interactive&attributes(attributes)
    +e.stars
      - for (var i = initialCount; i > 0; i--)
        +e.LABEL.box
          +e.INPUT(type='radio' name='name' value=i-1 required=isRequired).control.js-rating-control
          +icon('star').__icon
    if block
      +e.textwrap
        block

mixin rating-text
  +e.SPAN.text&attributes(attributes)
    block
