.rating {
  $b: &;
  font-size: 0;
  display: inline-flex;
  align-items: center;

  .filled {
    order: -1;
    margin-left: 10px;
  }

  &__stars {
    display: inline-flex;
    flex-flow: row-reverse;
    margin-left: -4px;
    margin-top: -2px;
    font-size: 0;

    #{$b}_md & { margin-left: -6px; }
    #{$b}_big & { margin-left: -10px; }
  }

  &__box {
    margin-left: 4px;
    #{$b}_interactive & { cursor: pointer; }

    #{$b}_md & { margin-left: 6px; }
    #{$b}_big & { margin-left: 10px; }
  }

  &__control { display: none; }

  &__icon {
    stroke: transparent;
    fill: $greyblue-color;
    transition: fill $ease-main, stroke $ease-main;
    width: 12px;
    height: 12px;

    #{$b}_interactive #{$b}__box:hover &,
    #{$b}_interactive #{$b}__box:hover ~ #{$b}__box &,
    #{$b}__box.is-active &,
    #{$b}__box.is-active ~ #{$b}__box & {
      fill: $yellow-color;
    }

    #{$b}_md & {
      width: 14px;
      height: 14px;
    }

    #{$b}_big & {
      width: 20px;
      height: 20px;
    }
  }

  &__text {
    @include text-small;
    margin-left: 10px;
    color: $color-basic;

    &wrap {
      flex-wrap: wrap;
      display: flex;

      &:first-child {
        margin-left: -10px;
      }
    }

    &_grey { color: $semigrey-color; }
  }

  &_sm {

    .rating__text {

      @include screen('sm') {
        @include text-smaller;

        line-height: (21/11);
        margin-left: 5px;
      }
    }
  }
}
