extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Для тренировок'

block navbar
  +navbar

block content
  +b.page
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Для тренировок'])
      +e.head._subhead
        +e.headcol._flexible
          +e.H1.heading Для тренировок

      +categories-section(getData('categories1'), 4, true, true)

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
