mixin sizes()
  +b.sizes&attributes(attributes)
    block

mixin size(name, value, isChecked, type)
  +b.LABEL.size&attributes(attributes)
    +e.INPUT(type=type||"radio" name=name value=value checked=isChecked).control
    +e.box
      block
