.review-item {
  display: flex;
  padding: 24px 20px;
  box-shadow: 0 6px 12px rgba(157, 164, 171, 0.26);
  border: 1px solid $color-border;
  background-color: white;

  @include screen(lg) {
    padding-bottom: 21px;
  }

  @include screen(sm) {
    padding: 20px 15px;
    border-left: 0;
    border-right: 0;
    display: block;
  }

  .review-item & {
    background-color: $ihavenoideahowtocallthat-color;
    margin-top: 21px;
    box-shadow: none;

    @include screen(sm) {
      margin-top: 16px;
    }
  }

  &__image {
    position: relative;
    margin-right: 19px;
    flex-shrink: 0;
    width: 102px;
    height: 102px;
    border: 1px solid $verylightgrey44-color;
    box-sizing: border-box;

    @include screen(sm) {
      margin-top: -4px;
      margin-bottom: 17px;
      margin-right: 0;
    }

    img {
      @include center-image;
      max-width: 100%;
      max-height: 100%;
    }

    &_avatar {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;

      @include screen(sm) {
        display: none;
      }

      img {
        @include fill-img;
        max-width: none;
        max-height: none;
      }
    }
  }

  &__content {
    flex: 1;
  }

  &__head {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: -20px 0 0 -40px;

    @include screen(sm) {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0;
    }
  }

  &__inner {
    display: flex;

    @include screen(sm) {
      display: block;
    }
  }

  &__badge {
    margin-left: 40px;

    @include screen(sm) {
      margin-left: 0;
      margin-top: 13px;
      margin-bottom: 11px;
    }
  }

  &__col {
    padding: 20px 0 0 40px;

    @include screen(sm) {
      padding-left: 0;
      width: 100%;
    }

    &_flexible { flex: 1 1 auto; }

    &_evaluations {
      align-self: center;
      margin-bottom: 2px;
      text-align: right;

      @include screen(sm) {
        position: absolute;
        top: 0;
        right: 0;
        margin-bottom: 0;
      }
    }
  }

  &__date {
    display: block;
    margin-top: -0.3em;
    color: $semigrey-color;
    @include text-small;
  }

  &__userinfo {
    display: block;
    margin-top: 4px;
  }

  &__username,
  &__heading {
    @include heading-5;
  }

  &__city {
    @include text-small;
    margin-left: 7px;
  }

  &__rating {
    margin-top: 11px;
  }

  &__body {
    display: block;
    margin-top: 8px;
  }

  &__block {

    &:not(:first-child) {
      margin-top: 11px;
    }

    &heading {
      display: block;
      @include text-medium;
      line-height: (22/14);
    }
  }

  .content-zone p:not(:last-child) {
    margin-bottom: 0;
  }
}
