mixin review-item(data)
  +b.review-item&attributes(attributes)
    if data.avatar
      +e.image._avatar
        img(src=`content-img/review-cards/${data.avatar}.png` alt=data.username)
    if data.image
      +e.image
        img(src=`content-img/review-cards/${data.image}.png` alt=data.heading)

    +e.content
      +e.head
        +e.col._flexible
          +e.inner
            +e.group
              if data.date
                +e.SPAN.date=data.date
              +e.P.userinfo
                if data.username
                  +e.SPAN.username=data.username
                if data.city
                  +e.SPAN.city=data.city
              if data.heading
                +e.P.heading=data.heading
            if data.badge
              +e.badge
                +review-badge(data.badge)
          if data.rating
           +rating(data.rating).__rating


        if data.evaluation
          +e.col._evaluations
            +evaluations
              +evaluation('like')= data.evaluation.likes
              +evaluation('dislike')= data.evaluation.dislikes

      +e.body
        each block in data.blocks
          +e.block
            if block.heading
              +e.P.blockheading=block.heading
            +content-zone!=block.content

      if data.child
        +review-item(data.child)
