extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Войти в аккаунт'

block content
  +b.page
    +login-popup(true)

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
