mixin sort-ui(heading, count)
  +b.sort-ui&attributes(attributes)
    +e.col._flexible
      +e.H1.heading=heading
      +e.SPAN.count=count
    block

mixin sort-ui-col
  +e.col&attributes(attributes)
    block
