mixin no-page()
  +b.no-page&attributes(attributes)
    +e.mark 
      +e.IMG.image(src="assets/images/404.svg")
    +e.information
      .content-zone
        h1 К сожалению, запрошенная вами страница не&nbsp;найдена.
        p Пожалуйста, перейдите на <a href="index.html">главную страницу</a> сайта или воспользуйтесь формой поиска
      +e.search 
        +searchbar('Введите название товара...', 'Введите название товара...')._big._shadow
        
mixin no-page2()
  +b.no-page_compare&attributes(attributes)
    +e.information
      .content-zone
        h2 Вы&nbsp;ещё не&nbsp;добавили к&nbsp;сравнению ни&nbsp;одного товара
        p Воспользуйтесь нашим <a href="catalog.html">каталогом</a> или формой поиска
      +e.search 
        +searchbar('Введите название товара...', 'Введите название товара...')._big._shadow
        
mixin no-page-rate(bad)
  +b.no-page_rate&attributes(attributes)
    +e.smile
      - if (bad) {
        +icon('sad').__icon
      - } else {
        +icon('smile').__icon
      - }      
    +e.information
      .content-zone
        h1 Благодарим за оценку!
        - if (bad) {
          +e.P Нам очень жаль, что наш сервис не полностью оправдал Ваши ожидания.
          +e.P В ближайшее время мы свяжемся с Вами для выяснения деталей.
        - } else {
          +e.P Каждый день мы прикладываем максимум усилий, чтобы предложить Вам лучший сервис и качественные товары. Ваша оценка очень важна для нас!
          +e.P Будем рады видеть Вас в числе наших покупателей снова. Желаем приятных покупок!
        - }  
        
