mixin usermenus()
  +b.usermenu&attributes(attributes)
    block

mixin usermenu(icon, badge)
  +b.A(href="javascript:void(0);").usermenu&attributes(attributes)
    if badge
      +e.SPAN.badge=badge
    +icon(icon).__icon
    +e.SPAN.text
      block
