.userlink {
  position: relative;
  display: inline-block;
  text-align: center;

  & + & {
    margin-left: 35px;
  }

  &__icon {
    width: auto;
    height: 26px;
    fill: $color-basic;
    transition: fill $ease-main;

    .userlink_user & {
      width: 22px;
    }

    .userlink_cart & {
      width: 26px;
    }

    .userlink:hover & {
      fill: $color-main;
    }
  }

  &__text {
    display: block;
    @include text-tiny;
    margin-top: 2px;
    transition: color $ease-main;
    color: $color-basic;

    .userlink:hover & {
      color: $color-main;
    }
  }

  &__badge {
    position: absolute;
    top: -2px;
    right: 1px;
    padding: 3px 5px;
    border-radius: 100px;
    background-color: $orange-color;
    color: white;
    @include text-xs;
    line-height: 1;
  }
}

.usermenu {
  display: block;
  font-size: 0;
}
