mixin usermenu()
  +b.usermenu&attributes(attributes)
    block

mixin userlink(icon, badge)
  +b.A(href="javascript:void(0);").userlink&attributes(attributes)
    if badge
      +e.SPAN.badge=badge
    +icon(icon).__icon
    +e.SPAN.text
      block
        
mixin userlink-compare(icon, badge)
  +b.A(href="javascript:void(0);").userlink&attributes(attributes)
    +e.SPAN.badge=badge
    +icon(icon).__icon
    +e.SPAN.text
      block
