.userlink {
  position: relative;
  display: inline-block;
  text-align: center;

  &_user, &_compare {
    @include screen(lg) {
      .header & { display: none; }
    }
  }

  .usermenu & {
    margin-left: 35px;
  }

  &__icon {
    width: auto;
    height: 26px;
    fill: $color-basic;
    transition: fill $ease-main;

    .userlink_user & {
      width: 22px;
    }

    .userlink_cart & {
      width: 26px;
    }

    .userlink_compare & {
      width: 30px;
    }

    .userlink:hover & {
      fill: $darkblue-color;
    }

    @include screen(lg) {
      .userlink__badge + & {
        margin-right: 10px;
      }
    }
  }

  &__text {
    display: block;
    @include text-tiny;
    margin-top: 3px;
    transition: color $ease-main;
    color: $color-basic;

    .userlink:hover & {
      color: $darkblue-color;
    }

    @include screen(lg) {
      display: none;
    }
  }

  &__badge {
    position: absolute;
    top: -2px;
    right: 1px;
    padding: 3px 5px;
    border-radius: 100px;
    background-color: $orange-color;
    color: white;
    @include text-xs;
    line-height: 1;

    .userlink_compare & {
      @include screen(lg, min) {
        right: 8px;
      }
    }
  }
}

.usermenu {
  display: block;
  font-size: 0;
  margin-left: -35px;
}
