.icon {
  &_grastin {
    width: 58px;
    height: 20px;
  }

  &_boxberry {
    width: 70px;
    height: 20px;
  }

  &_dpd {
    width: 46px;
    height: 20px;
  }

  &_pochtarf {
    width: 41px;
    height: 20px;
  }

  &_proswim {
    width: 70px;
    height: 14px;
  }

  &_logo {
    width: 70px;
    height: 14px;
  }

  &_pexpress {
    width: 36px;
    height: 20px;
  }
}
