mixin step-menu
  +b.UL.step-menu&attributes(attributes)
    block

mixin step-menu-item(href)
  +e.LI.item&attributes(attributes)
    +e.P.link
      block

mixin step-menu-sep
  +e.LI.item&attributes(attributes)
    +icon('Arrow icon (Navigation)').icon
