.step-menu {
  display: flex;
  counter-reset: stepmenu;

  &__item {

  }

  &__link {
    color: $semigrey-color;
    line-height: (20/14);
    font-weight: 500;

    &::before {
      content: counter(stepmenu);
      width: 32px;
      height: 32px;
      background-color: $semigrey-color;
      counter-increment: stepmenu;
      @include heading-5;
      line-height: 32px;
      text-align: left;
    }
  }
}
