.section-title {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 26px;
  margin-bottom: 30px;

  .is-open .circle-button__button::after {
    transform: translate(-50%, -50%);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 3px;
    background-color: $color-main;
  }

  &__head {
    @include heading-2;
  }

  &__subhead {
    text-align: center;

    @include text-big;

    &_button {
      margin-right: 12px;
      margin-left: 50px;
    }
  }
}
